# Load data

In [1]:
! ls -la data

In [2]:
! cat ./data/245.json

{"isbn":"","ttlfull":["Retail Financial Advice","das ist ein fake","Does One Size Fit All?"],"ttlpart":["Retail Financial Advice","das ist ein fake","Does One Size Fit All?"],"person":["Foerster","Stephen","Verfasser","aut","Linnainmaa","Juhani T.","Verfasser","aut","Melzer","Brian T.","Verfasser","aut","Previtero","Alessandro","Verfasser","aut","Stephen Foerster, Juhani T. Linnainmaa, Brian T. Melzer, Alessandro Previtero"],"corporate":[],"pubyear":"","decade":"234","century":"234","exactDate":"","edition":"","part":["20712"],"pages":["20712"],"volumes":"1 Online-Ressource","pubinit":"","pubword":[],"scale":"Koordinaten in 034b","coordinate":[],"doi":"","ismn":"","musicid":"","format":"BK020053"}

In [3]:
import json
import pandas as pd
#df = pd.read_json('./data/245.json')

Reading the data with pandas library, generates an error.

## The smallest data file

In [4]:
with open('./data/245.json', 'r') as myfile:
    data=myfile.read()

obj_simple = json.loads(data)

In [5]:
obj_simple.keys()

dict_keys(['isbn', 'ttlfull', 'ttlpart', 'person', 'corporate', 'pubyear', 'decade', 'century', 'exactDate', 'edition', 'part', 'pages', 'volumes', 'pubinit', 'pubword', 'scale', 'coordinate', 'doi', 'ismn', 'musicid', 'format'])

In [6]:
obj_simple.values()

dict_values(['', ['Retail Financial Advice', 'das ist ein fake', 'Does One Size Fit All?'], ['Retail Financial Advice', 'das ist ein fake', 'Does One Size Fit All?'], ['Foerster', 'Stephen', 'Verfasser', 'aut', 'Linnainmaa', 'Juhani T.', 'Verfasser', 'aut', 'Melzer', 'Brian T.', 'Verfasser', 'aut', 'Previtero', 'Alessandro', 'Verfasser', 'aut', 'Stephen Foerster, Juhani T. Linnainmaa, Brian T. Melzer, Alessandro Previtero'], [], '', '234', '234', '', '', ['20712'], ['20712'], '1 Online-Ressource', '', [], 'Koordinaten in 034b', [], '', '', '', 'BK020053'])

In [7]:
obj_simple.items()

dict_items([('isbn', ''), ('ttlfull', ['Retail Financial Advice', 'das ist ein fake', 'Does One Size Fit All?']), ('ttlpart', ['Retail Financial Advice', 'das ist ein fake', 'Does One Size Fit All?']), ('person', ['Foerster', 'Stephen', 'Verfasser', 'aut', 'Linnainmaa', 'Juhani T.', 'Verfasser', 'aut', 'Melzer', 'Brian T.', 'Verfasser', 'aut', 'Previtero', 'Alessandro', 'Verfasser', 'aut', 'Stephen Foerster, Juhani T. Linnainmaa, Brian T. Melzer, Alessandro Previtero']), ('corporate', []), ('pubyear', ''), ('decade', '234'), ('century', '234'), ('exactDate', ''), ('edition', ''), ('part', ['20712']), ('pages', ['20712']), ('volumes', '1 Online-Ressource'), ('pubinit', ''), ('pubword', []), ('scale', 'Koordinaten in 034b'), ('coordinate', []), ('doi', ''), ('ismn', ''), ('musicid', ''), ('format', 'BK020053')])

In [8]:
obj_simple['person']

['Foerster',
 'Stephen',
 'Verfasser',
 'aut',
 'Linnainmaa',
 'Juhani T.',
 'Verfasser',
 'aut',
 'Melzer',
 'Brian T.',
 'Verfasser',
 'aut',
 'Previtero',
 'Alessandro',
 'Verfasser',
 'aut',
 'Stephen Foerster, Juhani T. Linnainmaa, Brian T. Melzer, Alessandro Previtero']

## The big data files

How about a whole bunch of records?

In [9]:
records2 = []
for line in open('./data/job7r4A162.json', 'r'):
    records2.append(json.loads(line))

len(records2)

126921

In [10]:
records = []
for line in open('./data/job7r4A1.json', 'r'):
    records.append(json.loads(line))

len(records)

183407

In [11]:
records[0]

{'isbn': '',
 'ttlfull': ['Die Feist von Kienberg',
  'eine Wasenmeisterfamilie im Ancien Régime zwischen Ehrbarkeit und Delinquenz'],
 'ttlpart': ['Die Feist von Kienberg',
  'eine Wasenmeisterfamilie im Ancien Régime zwischen Ehrbarkeit und Delinquenz'],
 'person': ['Schluchter', 'André', 'André Schluchter'],
 'corporate': [],
 'pubyear': '',
 'decade': '12',
 'century': '12',
 'exactDate': '',
 'edition': '',
 'part': [],
 'pages': [],
 'volumes': 'S. 102-114',
 'pubinit': '',
 'pubword': [],
 'scale': '',
 'coordinate': [],
 'doi': '',
 'ismn': '',
 'musicid': '',
 'format': 'BK020000'}

In [12]:
df = pd.DataFrame(records)

# Extend display to number of columns of DataFrame
pd.options.display.max_columns = len(df.columns)

df.head()

,century,coordinate,corporate,decade,doi,edition,exactDate,format,isbn,ismn,musicid,pages,part,person,pubinit,pubword,pubyear,scale,ttlfull,ttlpart,volumes
0,12,[],[],12,,,,BK020000,,,,[],[],"[Schluchter, André, André Schluchter]",,[],,,"[Die Feist von Kienberg, eine Wasenmeisterfami...","[Die Feist von Kienberg, eine Wasenmeisterfami...",S. 102-114
1,123456,[],[],123456,,,,BK020000,,,,[],[],"[Naegeli, Werner, von Werner Naegeli]",,[],,,[Reimereien],[Reimereien],43 S.
2,123,[],[],123,,,,BK020000,,,,[],[],"[Kelly, M.V., Geniesse, J.B., M.V. Kelly et J....",,[],,,[Efficax antidotum ad matrimonia mixta praecav...,[Efficax antidotum ad matrimonia mixta praecav...,75 p.
3,1234567,[],[],1234567,,,,BK020000,,,,[],[],"[Wegelin, Walter, ]",,[],,,"[Probleme der Inflationsbekämpfung, Referat vo...","[Probleme der Inflationsbekämpfung, Referat vo...",24 S.
4,1,[],[],1,,,,BK020000,,,,[],[],"[Oberlin, Urs, Urs Oberlin ; translated from t...",,[],,,[[Poems]],[[Poems]],p. 14-15

# Data analysis

## General functions

In [13]:
def explore_column_with_empty(column_name):
    no_filled = 0
    no_empty = 0
    idx_filled = []

    for i in range(len(df[column_name])):
        if [] != df[column_name][i]:
            no_filled += 1
            idx_filled.append(i)
    #        print(i, df[column_name][i])
        else:
            no_empty += 1
    print('Number of records with corporate {:d}, without corporate {:d}'.format(
        no_filled, no_empty
    ))
    
    return idx_filled

## Headers

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183407 entries, 0 to 183406
Data columns (total 21 columns):
century       183407 non-null object
coordinate    183407 non-null object
corporate     183407 non-null object
decade        183407 non-null object
doi           183407 non-null object
edition       183407 non-null object
exactDate     183407 non-null object
format        183407 non-null object
isbn          183407 non-null object
ismn          183407 non-null object
musicid       183407 non-null object
pages         183407 non-null object
part          183407 non-null object
person        183407 non-null object
pubinit       183407 non-null object
pubword       183407 non-null object
pubyear       183407 non-null object
scale         183407 non-null object
ttlfull       183407 non-null object
ttlpart       183407 non-null object
volumes       183407 non-null object
dtypes: object(21)
memory usage: 29.4+ MB

In [15]:
cols = df.columns
cols

Index(['century', 'coordinate', 'corporate', 'decade', 'doi', 'edition',
       'exactDate', 'format', 'isbn', 'ismn', 'musicid', 'pages', 'part',
       'person', 'pubinit', 'pubword', 'pubyear', 'scale', 'ttlfull',
       'ttlpart', 'volumes'],
      dtype='object')

### Century

In [16]:
df.century.unique()

array(['12', '123456', '123', '1234567', '1', '', '12345', 'u', '1234',
       '123456789', '12345678',
       '123456789:;<=>?@ABCDEFGHIJKLMNOPQRSTUVWXYZ[\\]^_`abcdefghijklmnopqrstu',
       '2345678', '23', '23456789', '23456', '234', '2345', '234567', '2',
       '23456789:;<=>?@ABCDEFGHIJKLMNOPQRSTUVWXYZ[\\]^_`abcdefghijklmnopqrstu'],
      dtype=object)

???

### Coordinates

In [17]:
idx_coordinates = explore_column_with_empty('coordinate')

df.loc[idx_coordinates[0]]

Number of records with corporate 730, without corporate 182677

century                                                     123
coordinate                                 [E0035400, N0532700]
corporate                                                    []
decade                                                      123
doi
edition                                               Facsimile
exactDate                                                  1234
format                                                 MP010300
isbn
ismn
musicid
pages                                                        []
part                                                         []
person        [Blaeu, Willem Janszoon, 1571-1638, (DE-588)11...
pubinit
pubword                                                      []
pubyear                                                    1234
scale                                                    400000
ttlfull       [Nova descriptio Comitatus Hollandiæ, Niewe be...
ttlpart       [Nova descriptio Comitatus Hollandiæ, Niewe be...
volumes                                                 1 Karte
Name: 1801, dtype: object

For $\texttt{df.volumes}$, see [Volumes](#volumes)

### Corporate

In [18]:
df.corporate.head()

0    []
1    []
2    []
3    []
4    []
Name: corporate, dtype: object

In [19]:
idx_corporate = explore_column_with_empty('corporate')

Number of records with corporate 33166, without corporate 150241

### Volumes<a id='volumes'></a>

In [20]:
df.volumes.loc[idx_coordinates].unique()

array(['1 Karte', '1 Panorama', '1 Karte in 3 Teilen', '1 Stadtplan',
       '1 Atlas (XII, 136 S.)', '2 Karten auf 1 Bl.', '1 carte',
       '1 Karte in 2 Teilen', '1 Karte in zwei Teilen',
       '1 Karte in 2 Teilen auf 1 Blatt', '1 carta geografica',
       '1 Handzeichnung', '1 Karte auf 4 Blättern',
       '1 Atlas (XII, 128, 110 S.)', '1 Atlas', '1 atlas (IX, 400 p.)',
       '2 Karten auf 1 Blatt', '1 Plan', '1 Atlas (303 Seiten)',
       '2 Karten', '3 Karten auf 1 Blatt', '1 Atlas (230 Seiten)',
       '1 Karte auf 2 Blättern', '1 Heft (48 Seiten, 1 Karte)',
       '2 Karten in 3 Teilen auf 1 Blatt', '1 Atlas (186 Bl., 183 S.)',
       '4 Karten auf 1 Blatt', '1 Atlas (262 S.)', '1 gefalt. Karte',
       '1 Karte in 4 Teilen', '5 Karten auf 1 Blatt',
       '6 Karten auf 1 Blatt', '1 map on 2 sheets',
       '1 carte r°-v° plastifiée', '1 Vogelschaukarte',
       '1 Karte auf 6 Blättern', '9 Blätter',
       '1 Atlas (447 Seiten in verschiedenen Seitenzählungen)',
       '1 Atlas (XV, 208 Seiten)', '1 Karte, 1 Satellitenbild', '',
       'Karten', '2 cartes sur 1 feuille',
       '1 Atlas (82 Seiten, [27 Blätter])',
       '1 Atlas (76 Seiten, [20 Blätter])',
       '1 Atlas (58 Seiten, [33] Blätter)',
       '1 Atlas (72 Seiten, [31] Blätter)',
       '1 Atlas (24 Seiten, 12 Blätter)',
       '1 Atlas (76 Seiten, [30] Blätter)',
       '1 Atlas (52 Seiten, [20] Blätter)',
       '1 Atlas (56 Seiten, [22] Blätter)',
       '1 Atlas ( 46 Seiten, [44] Blätter)', '2 Karten in je 9 Blättern',
       '1 Atlas (76 Seiten, [24] Blätter)', '1 carta',
       '1 Karte in 2 Teile', '2 cartes, 1 carte aérienne sur 1 feuille',
       '1 Atlas (38 Blätter)',
       '1 Karte und 1 Vogelschaukarte auf 1 Blatt',
       '2 Karten, 1 Luftbildkarte', '1 Luftbildkarte',
       '1 Atlas (335 Seiten)', '1 Karte auf 16 Blättern',
       '1 Atlas (lose Bögen)', '23 Karten', '1 plan', '1 Mappe (14 Bl.)',
       '2 Pläne auf 1 Blatt', '1 Manuskriptkarte', '1 Atlas (247 Seiten)',
       '1 Atlas (113 Seiten)'], dtype=object)

In [21]:
res = [i for i in df.drop(index=idx_coordinates).volumes.unique()
       if (('Karte' in i) or ('Atlas' in i))]
len(res)

118

In [22]:
for j in range(len(res)):
    print(j, res[j])

0 X, 458 S., 16 Taf., 1 Karte
1 LX, 188 S., 10 Taf. : 1 Karte
2 134 Taf. 6 Karten
3 119 S. 1 Karte
4 110, XV S. 657 Bl., S. 658-675, 2 Karten
5 IV, 104 S., 1 Karte
6 327 S. 1 Taf. 2 Karten
7 88 S. 3 Karten
8 20, 168 S. ill. 1 Portr.-Taf. 1 Karte
9 291 S. Kartenskizzen. 16 Taf.
10 62 S., 1 Karte
11 172 S. Kartenskizzen. 3 Karten.
12 1 Spiel (1 Regelheft, 1 Spielplan, 1 Schichtleitertableau, 39 Patientenkarten, 35 Karten "Vage Erinnerung", 35 Karten "Klare Erinnerung", 72 Szenariokarten, 10 Figuren, 24 Versorgungsmarker, 12 Stressmarker, 10 Fortschrittsmarker, 2 Verwarnungsmarker, 1 Telefonplättchen)
13 936, 4403-444 Seiten + 3 Karten
14 1 Karte
15 1 Spiel (42 Fragen-Karten, 27 ja!- und 27 nein!-Karten)
16 1 Mappe (5 gefaltete Plakate, 6 A3-Karten)
17 305 Seiten, 4 Seiten Karten
18 1 Karte auf 2 Blättern
19 1 Atlas (XVI, 352 Seiten)
20 32 Karten
21 55 Karten
22 1 Spiel (1 Anleitung, 1 Spielplan, 1 Würfel, 28 Piratenlager (je 7 pro Farbe), 28 Schiffe (je 7 pro Farbe), 1 Figur, 16 Coco-Karten, 90 Plättchen (je 18 Wolle, Holz, Ananas, Säbel und Gold), 4 Spieler-Tafeln)
23 1 Spiel (32 Karten, 1 Anleitung)
24 1 Schachtel (56 Karten, 1 Begleitbroschüre)
25 lx, 758 Seiten, 4 Seiten Karten, 43 Seiten Bildtafeln
26 120 Seiten + 1 Karte
27 1 Box (124 Karten, 1 booklet)
28 1 game (4 game boards/terrain Karten, 1 challenge booklet with 40 challenges, 3 erasable markers, 2 rovers and 2 stands, 4 charging station tokens, 3 data upload station tokens, 4 start/end tokens, 1 sample storage card and 2 plastic tabs, 1 solution booklet, 1 instruction manual)
29 1 Koffer mit 3 Schachteln (Gelbe Schachtel: 1 Handbuch, 10 Hefte, 1 Arbeitsbuch, 1 Poster, 1 Stickerbogen, 2 CDs, 2 Kartensets, 2 Zeigekartensets ; orange/rote Schachtel: 1 Handbuch, 8 Hefte, 2 Arbeitsbücher, 2 Poster, 1 Stickerbogen, 4 CDs, 3 Kartensets, 2 Zeigekartensets ; grüne Schachtel: 1 Handbuch, 4 Hefte, 1 Arbeitsbuch, 1 Poster, 1 Stickerbogen, 2 CDs, 1 Kartenset, 1 Zeigekartenset)
30 1 Spiel (120 Karten)
31 1 Spiel (1 Spielplan, 34 Gänge-Karten, 24 Schatzkarten, 24 Schätze, 24 Münzen, 1 Drachenhort, 1 Drache, 4 Abenteurer, 2 Wächter, 1 Duell-Würfel, 1 Drachen-Würfel, 1 Spielanleitung)
32 1 Box (Booklet mit 40 Seiten, 20 Geschichten Karten, 27 Bildkarten)
33 1 Atlas (nicht paginiert)
34 1 Box (56 Karten, 1 Heft)
35 1 Kartenset (40 Karten in Plastikbox)
36 1 Schachtel mit 200 Karten zu 10 Themen, 1 Spielanleitung
37 2 Kartenset
38 1 Medienpaket (36 A6 Karten, 112 A5 Karten, 1 Lehrer-Handbuch, 3 CDs)
39 [1] Bl., 82 S., 6 Karten
40 14, 362 S., 1 gef. Karte
41 XLII, 451 S., [1] Faltbl. Karte
42 144 Seiten + 1 Karte
43 68 Seiten (34 Karten)
44 27 Karten in Schuber
45 2 Theile u. Atlas
46 1 Schachtel (60 Karten, 1 Booklet)
47 1 Schachtel (40 Karten, 1 Anleitung)
48 1 Box (33 Karten, 1 Bbooklet)
49 52 Karteikarten in Spielkarten-Grösse
50 24 Karten (unpaginiert)
51 1 Spiel (224 Karten davon 9 Blankokarten für eigene Ideen, 1 Spielanleitung)
52 10 Karten in 1 Behältnis
53 128 S., Karte
54 25 Karten
55 12 Karten
56 Karten
57 1 Spiel (2 Kartenspiele in 1 Behältnis)
58 2 Bände, 1 Schuber mit 12 Karten mit Flurnamen
59 122 Karten in Faltschachtel
60 1 Box (21 + 9 + 3 Karten)
61 1 Spiel (1 Anleitung, 1 Spielplan, Figuren mit Aufstellern, 1 Würfel, Bewegungskarten, Berufekarten, 1 Kartenhalter mit Aufstellern, Gegenstandsplättchen)
62 1 Spiel (36 Karten, 6 Sichtschirme, 18 Spielfiguren, 54 Lupenmarker, 1 Anleitung)
63 1 Schachtel (66 Karten)
64 41 Karten
65 1 Karten
66 2 Kartenspiele
67 1 Mappe (28 Karteikarten, 1 Materialliste, 1 Beobachtungsbogen, 1 Begleitbroschüre)
68 1 Schachtel (122 Magnetzahlen und -zeichen, 32 Spielkarten, 1 Kartenset 3, 1 Kartenset 4, 1 Spielblock, 1 Anleitung, 1 Magnetfeld (am Deckel befestigt))
69 1 Manual (216 Seiten), 1 Box mit Karteikarten
70 8 Karten
71 1 Atlas (1393 Seiten)
72 1 Mappe (10 Karten)
73 1 Box (150 laminierte Karten, 1 Anleitung in Deutsch, Englisch, Spanisch, Französisch, Italienisch, Russisch)
74 1 Online-Ressource (xiii, 355 Seiten ; Illustrationen, Karten)
75 1 Mappe (13 Karten)
76 5 Karten
77 1 Kartenfächer
78 3 Schachteln mit je 24 x 4 Memo-Karten, je ein Artikelkreis
79 1 Band (64 Karten)
80 1 Spiel (108 Karten, 1 Stift, 1 Wertungsblock, Spielregeln)
81 1 Box (32 Karteikarten)
82 208 Seiten + 1 Karte
83 181 Seiten + 1 Karte
84 199 Seiten + 1 Karte
85 1 Schachtel (13 Staka-Ringe, 39 Karten, 1 Würfel, 1 Aufbewahrungssockel, 1 Metallstift, 1 mehrsprachige Anleitung, 2 Leinensäckchen)
86 1 Mappe (1 Heft, 6 A4-Karten, Sprechblasenvorlagen, 1 Leporello, 3 Domino (Schwierigkeitsgrad 1-3), 3 Memory (Schwierigkeitsgrad 1-3), 3 Puzzle (Schwierigkeitsgrad 1-3)
87 1 Mappe (1 Heft, 6 Bild-Karten A4, 6 A4-Karten, Sprechblasenvorlagen, 1 Leporello, 3 Domino (Schwierigkeitsgrad 1-3), 3 Memory (Schwierigkeitsgrad 1-3), 3 Puzzle (Schwierigkeitsgrad 1-3)
88 30 Karten
89 1 Box (32 Karten)
90 1 Faltbox (160 Karten)
91 1 Schachtel (20 A6 Karten, 108 A7 Karten, 48 Spielfiguren, 1 Anleitung)
92 214, 93-109Seiten + 3 Karten, 3 Portraits
93 380, 111-132 Seiten + 3 Karten + 2 Portraits + 1 Beilageheft + 1 Beilageheft ab Seite 849 mit Karte
94 3 Karten auf einem Blatt
95 30 Spielkarten, 3 Karten zur Anleitung
96 1 Spiel (32 Karten, 1 Anleitungskarte)
97 1 Behältnis (96 Karten)
98 Text und Atlas
99 1 Schachtel (70 Karten, 1 Begleitheft)
100 173 Seiten + 1 Karte
101 1 Spiel (66 farbige Karten = zwei vollständige Kartensets, 1 Spielanleitung)
102 250 Karteikarten
103 101 S., 42 Karten
104 1 Box, 72 Karten
105 1 Atlas (141 Seiten)
106 139 Seiten, 12 Karten, 26 Pläne
107 1 Spiel (145 Karten, 1 Anleitung)
108 1 Spiel (50 Karten, 1 Anleitung)
109 1 Spiel (56 Karten, 1 Anleitung)
110 1 Spiel (34 Karten)
111 1 Spiel (68 Karten, 12 Spielfiguren, 1 Spielplan 4-teilig, 1 Anleitung)
112 1 Spiel (175 Karten, 36 Maltafeln, 6 Stifte, 1 Tuch, 1 Sanduhr (1 Minute), 1 Anleitung)
113 1 Spiel (64 Karten, Spielregeln)
114 [34] lose Karten
115 Karten (z.T.farb.); 274 S. 1984.
116 Karten; 22 S.
117 Kartei

In [23]:
df.volumes.str.split(' ', expand=True)

,0,1,2,3,4,5,6,7,8,9,...,98,99,100,101,102,103,104,105,106,107
0,S.,102-114,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,43,S.,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,75,p.,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,24,S.,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,p.,14-15,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
5,61,S.,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
6,48,S.,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
7,16,p.,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
8,12,S.,1,Portr.-Taf.,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
9,69,S.,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
10,34,S.,14,Taf.,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
11,88,S.,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
12,33,S.,1,Portr.-Taf.,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
13,57,S.,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
14,91,S.,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
15,34,p.,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
16,S.,57-73,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
17,63,p.,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
18,28,p.,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
19,32,S.,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
20,85,p.,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
21,[8,Bl.],None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
22,[8,Bl.],None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
23,79,S.,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
24,[24],S.,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
25,"VII,",265,S.,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
26,80,S.,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
27,[12],S.,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
28,91,S.,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
29,"XVII,",180,S.,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183377,1,Online-Ressource,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
183378,"xi,",258,Seiten,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
183379,147,pages,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
183380,1,Online-Ressource,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
183381,1,Online-Ressource,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
183382,1,Online-Ressource,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
183383,1,Online-Ressource,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
183384,1,Online-Ressource,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
183385,298,Seiten,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
183386,,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
183387,130,Seiten,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
183388,128,Seiten,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
183389,1,Online-Ressource,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
183390,1,Online-Ressource,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
183391,1,Online-Ressource,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
183392,"34,",386,S.,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
183393,,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
183394,1,Online-Ressource,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
183395,220,pages,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
183396,,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
183397,,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
183398,,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
183399,1,Online-Ressource,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
183400,"16,","527,",3,S.,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
183401,1,Online-Ressource,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
183402,1,Online-Ressource,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
183403,1,Online-Ressource,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
183404,1,Band,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
183405,32,S.,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
183406,1,Online-Ressource,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [24]:
df.volumes.str.extract('(1)', expand=True)

          0
0         1
1       NaN
2       NaN
3       NaN
4         1
5         1
6       NaN
7         1
8         1
9       NaN
10        1
11      NaN
12        1
13      NaN
14        1
15      NaN
16      NaN
17      NaN
18      NaN
19      NaN
20      NaN
21      NaN
22      NaN
23      NaN
24      NaN
25      NaN
26      NaN
27        1
28        1
29        1
...     ...
183377    1
183378  NaN
183379    1
183380    1
183381    1
183382    1
183383    1
183384    1
183385  NaN
183386  NaN
183387    1
183388    1
183389    1
183390    1
183391    1
183392  NaN
183393  NaN
183394    1
183395  NaN
183396  NaN
183397  NaN
183398  NaN
183399    1
183400    1
183401    1
183402    1
183403    1
183404    1
183405  NaN
183406    1

[183407 rows x 1 columns]

In [25]:
df.edition.unique()

array(['', '2. Aufl', '2.umgearb.Aufl', ..., '1. - 5. Tausend',
       '3rd ed. 2018', 'First Savas Beatie edition'], dtype=object)

### Person

In [26]:
df.person

0                     [Schluchter, André, André Schluchter]
1                     [Naegeli, Werner, von Werner Naegeli]
2         [Kelly, M.V., Geniesse, J.B., M.V. Kelly et J....
3                                       [Wegelin, Walter, ]
4         [Oberlin, Urs, Urs Oberlin ; translated from t...
5                         [Amrein, René, Hrg.: René Amrein]
6                                                        []
7                                   [Schultz, William L., ]
8         [Gossen, Carl Theodor, 1915-1983, (DE-588)1721...
9                              [Schirmer, Laurenz August, ]
10                                [Dätwyler-Gamma, Adolf, ]
11                                                       []
12                                          [Jöhr, Adolf, ]
13        [Moos, Franz, Symington, Rodney, von Franz Moo...
14        [Banholzer, Max, 1926-2005, (DE-588)130813206,...
15                      [Marsiano, Angelo, Angelo Marsiano]
16        [Stocker-Kappeler, Werner, von Werner Stocker-...
17                        [Pepi, Salvatore, Salvatore Pepi]
18                    [Schluchter, André, André Schluchter]
19        [Hartmann, Günther, Günther Hartmann ; [Fotos:...
20        [Chagall, Marc, 1887-1985, (DE-588)118519980, ...
21        [Weigl, Franz, Zinkl, Johann, Kozics, Ernst, [...
22        [Weigl, Franz, Zinkl, Johann, Kozics, Ernst, [...
23                            [Hofer, Rudolf, Rudolf Hofer]
24                       [Senn, Hermann, Hermann Senn-Heid]
25        [Thomas, von Aquin, Heiliger, 1225-1274, (DE-5...
26        [Stohler, Franz, gesammelt und verf. von Franz...
27        [Müller, Christian Adolf, 1903-1974, (DE-588)1...
28        [Moser, Ludwig Gottfried, von Ludwig Gottfried...
29        [Innozenz, III, Papst, 1160-1216, (DE-588)1185...
                                ...
183377    [Gad, Ahmed Fawzy, Verfasser, aut, aut, http:/...
183378    [Zirker, Angelika, (DE-588)141634219, Verfasse...
183379    [Flückiger, Aline, auteur, aut, Varga, Peter, ...
183380    [Ramasubramanian, Karthik, Verfasser, aut, aut...
183381    [de Girolamo, Giovanni, Herausgeber, edt, edt,...
183382    [Castillo, Oscar, Verfasser, aut, aut, http://...
183383    [Lacruz, César R., Verfasser, aut, aut, http:/...
183384    [Goswami, Ambarish, Herausgeber, edt, edt, htt...
183385    [880-05, Huang, Yonghui, Herausgeber, edt, Hua...
183386      [Gloor, Selina, Verfasser, aut, [Selina Gloor]]
183387          [Blum, Robert, Verfasser, aut, Robert Blum]
183388    [Mar Ka, (DE-588)1185826874, Verfasser, aut, p...
183389    [Strand, Marcus, Herausgeber, edt, edt, http:/...
183390    [Rohmeyer, Paul, Verfasser, aut, aut, http://i...
183391    [Staicu, Stefan, Verfasser, aut, aut, http://i...
183392    [McDermott, Rachel Fell, 1959-, (DE-588)139814...
183393                                                   []
183394    [Olguín Díaz, Ernesto, Verfasser, aut, aut, ht...
183395    [880-01, Kellermann, Bernhard, 1879-1951, (DE-...
183396                                                   []
183397                                                   []
183398                                                   []
183399    [Dijkman, Bea L., Herausgeber, edt, edt, http:...
183400    [Rankin, Elizabeth, (DE-588)133409627, Verfass...
183401    [Réchauchère, Olivier, Herausgeber, edt, edt, ...
183402    [Shaw, George H., Verfasser, aut, aut, http://...
183403    [Beyerer, Jürgen, Herausgeber, edt, edt, http:...
183404    [Amrein, Wilhelm, 1872-1946, (DE-588)116302429...
183405                [Bach, Meike, Idee & Ill. Meike Bach]
183406    [Sukartiko, Anggoro Cahyo, Herausgeber, edt, e...
Name: person, Length: 183407, dtype: object

In [27]:
df.person[0], df.person[8]

(['Schluchter', 'André', 'André Schluchter'],
 ['Gossen', 'Carl Theodor', '1915-1983', '(DE-588)172102251', ''])

Not too simple ...
:-|

### Title

In [28]:
df.ttlfull[0], df.ttlpart[0]

(['Die Feist von Kienberg',
  'eine Wasenmeisterfamilie im Ancien Régime zwischen Ehrbarkeit und Delinquenz'],
 ['Die Feist von Kienberg',
  'eine Wasenmeisterfamilie im Ancien Régime zwischen Ehrbarkeit und Delinquenz'])

In [29]:
titel_diff_idx = df.ttlfull[df.ttlfull != df.ttlpart].index

df.ttlfull[titel_diff_idx[0]], df.ttlpart[titel_diff_idx[0]]

(['25 Jahre Micafil',
  '1918-1943 : Jubiläumsschrift',
  'Fünfundzwanzig Jahre Micafil'],
 ['25 Jahre Micafil', '1918-1943 : Jubiläumsschrift'])