# Data Analysis

## Load Data

In [1]:
import os
import json
import pandas as pd

In [2]:
records = []

for line in open(os.path.join('./data', 'job7r4A1.json'), 'r'):
    records.append(json.loads(line))

len(records)

183407

In [3]:
df = pd.DataFrame(records)

# Extend display to number of columns of DataFrame
pd.options.display.max_columns = len(df.columns)

df.head()

,035liste,century,coordinate,corporate,decade,docid,doi,edition,exactDate,format,isbn,ismn,musicid,pages,part,person,pubinit,pubword,pubyear,scale,ttlfull,ttlpart,volumes
0,"[(OCoLC)1085491204, (IDSBB)006899773]",1992,[],{},1992,554061449,[],,1992,[BK020000],[],[],,[S. 102-114],[],"{'100': ['SchluchterAndré'], '245c': ['André S...",[],[],1992,,"{'245': ['Die Feist von Kienberg', 'eine Wasen...","{'245': ['Die Feist von Kienberg', 'eine Wasen...",[S. 102-114]
1,"[(OCoLC)1085491341, (IDSBB)006899983]",1986,[],{},1986,554061481,[],,1986,[BK020000],[],[],,[43 S.],[],"{'100': ['NaegeliWerner'], '245c': ['von Werne...",[],[],1986,,{'245': ['Reimereien']},{'245': ['Reimereien']},[43 S.]
2,"[(OCoLC)1085491299, (IDSBB)006899959]",1923,[],{},1923,554061503,[],,1923,[BK020000],[],[],,[75 p.],[],"{'100': ['KellyM.V.'], '700': ['GeniesseJ.B.']...",[],[],1923,,{'245': ['Efficax antidotum ad matrimonia mixt...,{'245': ['Efficax antidotum ad matrimonia mixt...,[75 p.]
3,"[(OCoLC)1085491268, (IDSBB)006896614]",1947,[],{},1947,554061511,[],,1947,[BK020000],[],[],,[24 S.],[],"{'100': ['WegelinWalter'], '245c': ['']}",[],[],1947,,"{'245': ['Probleme der Inflationsbekämpfung', ...","{'245': ['Probleme der Inflationsbekämpfung', ...",[24 S.]
4,"[(OCoLC)1085491079, (IDSBB)006896866]",1991,[],{},1991,55406152X,[],,1991,[BK020000],[],[],,[p. 14-15],[],"{'100': ['OberlinUrs'], '245c': ['Urs Oberlin ...",[],[],1991,,{'245': ['[Poems]']},{'245': ['[Poems]']},[p. 14-15]

In [4]:
print('Number of records {:d}, number of attributes per record {:d}.'.format(len(df), len(df.columns)))

df.columns

Number of records 183407, number of attributes per record 23.

Index(['035liste', 'century', 'coordinate', 'corporate', 'decade', 'docid',
       'doi', 'edition', 'exactDate', 'format', 'isbn', 'ismn', 'musicid',
       'pages', 'part', 'person', 'pubinit', 'pubword', 'pubyear', 'scale',
       'ttlfull', 'ttlpart', 'volumes'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183407 entries, 0 to 183406
Data columns (total 23 columns):
035liste      183407 non-null object
century       183407 non-null object
coordinate    183407 non-null object
corporate     183407 non-null object
decade        183407 non-null object
docid         183407 non-null object
doi           183407 non-null object
edition       183407 non-null object
exactDate     183407 non-null object
format        183407 non-null object
isbn          183407 non-null object
ismn          183407 non-null object
musicid       183407 non-null object
pages         183407 non-null object
part          183407 non-null object
person        183407 non-null object
pubinit       183407 non-null object
pubword       183407 non-null object
pubyear       183407 non-null object
scale         183407 non-null object
ttlfull       183407 non-null object
ttlpart       183407 non-null object
volumes       183407 non-null object
dtypes: object(23)
memory usage: 32.2+ MB

## Attribute Analysis

This section assesses the attributes provided by the Swissbib data extracts. The extracted data is used as a basis for the machine learning models in the capstone project. The attributes are based on the [MARC 21 Format for Bibliographic Data](https://www.loc.gov/marc/bibliographic/) and are documented on a [Swissbib Wiki page](http://www.swissbib.org/wiki/index.php?title=Features_Deduplication).

### Table of Contents

- [General Functions](#general_functions)
- [035liste](#035liste)
- [century](#century)
- coordinate
- corporate
- [decade](#decade)
- [docid](#docid)
- doi
- edition
- [exactDate](#exactDate)
- format
- isbn
- ismn
- musicid
- pages
- part
- person
- pubinit
- pubword
- pubyear
- scale
- ttlfull
- ttlpart
- [volumes](#volumes)

### General Functions<a id='general_functions'/>

In [6]:
column_types_dict = {
    'strings_columns' : ['century', 'decade', 'docid', 'exactDate'],
    'list_columns' : ['volumes', '035liste'],
    'array_of_strings_columns' : []
}
# The dictionary of compare logic
strings_columns = ['doi', 'edition', 'format', 'isbn',
                   'ismn', 'musicid', 'pubinit', 'pubyear', 'scale', 'volumes']
list_columns = ['coordinate', 'corporate', 'pages', 'part', 'pubword',
                'ttlfull', 'ttlpart']
array_of_strings_columns = ['person']

In [7]:
def information_filled (d, column_name, filled, empty):
    """Print-output of information"""

    print('Number of records with filled {:s} {:d}, with missing {:s} {:d} => {:.1f}%'.format(
        column_name, len(filled), column_name, len(empty),
        100*len(filled)/(len(empty)+len(filled))
    ))
    
    return

def two_examples (d, filled, empty):
    """Print-output of first sample data with empty attribute
        and of first sample data with filled attribute"""

    if len(empty) > 0:
        print('\nEMPTY - index', empty[0], '\n')
        print(d.loc[empty[0]])
    else:
        print('\nEMPTY - None')
    print('\nFILLED - index', filled[0], '\n')
    print(d.loc[filled[0]])

    return

In [8]:
def comparison_logic (column_name):
    """Generates comparison logic for specific column object"""
    if column_name in (column_types_dict['list_columns']):
        # Lists
        compare = lambda col: col!=[]
        anti_compare = lambda col: col==[]
    elif column_name in (column_types_dict['strings_columns']):
        # Strings
        compare = lambda col: col!=''
        anti_compare = lambda col: col==''
    elif column_name in (column_types_dict['array_of_strings_columns']):
        # Array of Strings
        compare = lambda col: col!=['']
        anti_compare = lambda col: col==['']

    return compare, anti_compare

In [9]:
def find_empty_in_column (dataFrame, column_name):
    """Find degree of filling of an attribute and print
        information as output."""

    compare, anti_compare = comparison_logic(column_name)

    idx_filled = dataFrame[dataFrame[column_name].apply(compare)].index
    idx_empty = dataFrame[dataFrame[column_name].apply(anti_compare)].index

    information_filled(dataFrame, column_name, idx_filled, idx_empty)

    return idx_filled, idx_empty

In [10]:
import general_transformations as gt

### 035liste<a id='035liste'/>

Attribute $\texttt{035liste}$ holds a list of identifiers of a bibliographic unit, see [Features Deduplication](http://www.swissbib.org/wiki/index.php?title=Features_Deduplication). Each record in Swissbib data holds at least one identifier and may have several ones. Some examples are shown below.

In [11]:
idx_035liste_filled, idx_035liste_empty = find_empty_in_column(df, '035liste')

Number of records with filled 035liste 183407, with missing 035liste 0 => 100.0%

In [12]:
df['035liste'].apply(lambda x : len(x)).sort_values(ascending=False).head(10)

124359    23
139191    23
139972    22
49974     22
14755     21
61603     21
136608    21
30793     21
54084     21
144185    20
Name: 035liste, dtype: int64

In [13]:
df['035liste'].apply(lambda x : len(x)).sort_values(ascending=False).tail()

150666    1
150667    1
150668    1
150669    1
83463     1
Name: 035liste, dtype: int64

In [14]:
df['035liste'].iloc[ df['035liste'].sample(n=10).index ]

148277    [(VAUD)991021214783902852, (RERO)R008892586, (...
91546     [(OCoLC)1015880172, (IDSSG)001032924, (MiAaPQ)...
22368                 [(OCoLC)1085516624, (NEBIS)011343917]
77822     [(IDSBB)007057934, (RERO)R008882702, (OCoLC)10...
141762    [(SERSOL)ssib029759312, (VAUD)9910211262795028...
129302    [(VAUD)991021120046602852, (SERSOL)ssib0050973...
15196                      [(KBTG)258509, (IDSBB)006945046]
39584        [(SERSOL)ssj0002067923, (WaSeSS)ssj0002067923]
71017                 [(OCoLC)1085572786, (IDSBB)004866736]
116340    [(OCoLC)1050280040, (NEBIS)011366604, (DE-599)...
Name: 035liste, dtype: object

Attribute $\texttt{035liste}$ is needed for the goldstandard data. It helps to identify the associated master record for a given slave in file $\texttt{slave.json}$. The process implemented in chapter [Data Preparation](http://localhost:8888/notebooks/conda/capstone-proposal-ads-ml-c5-s1-1365-585/2_DataPreparation.ipynb) parses the list of identifiers in attriubte $\texttt{035liste}$ of each record in file $\texttt{slave.json}$ and searches the value of the identifier in the attribute $\texttt{035liste}$ of all records of file $\texttt{master.json}$. When the identifier is found in file $\texttt{master.json}$, the master record's attribute $\texttt{docid}$ is stored as a new attribute in the slave record, see figure [Slave/master relationship](#slave_master_relationship). The new attribute in the slave record has the meaning of a foreigh key to the related master record. This process is repeated for each list element of one slave record and for each record in the data file slave.json.

As will be shown in chapter [Data Preparation](http://localhost:8888/notebooks/conda/capstone-proposal-ads-ml-c5-s1-1365-585/2_DataPreparation.ipynb), the relationship of a slave record to its master record is unique. Even if there is more than one entry in the list of attribute $\texttt{035liste}$ of a slave record it will be shown that all distinct entries of a $\texttt{035liste}$ attribute list of one slave record point to one and the same master record.

<center>
    <b>Figure</b><a id='slave_master_relationship'></a> Slave/master relationship.
    <img src="./documentation/training_data.png" style="width: 600px;"/></p>
</center>

The attribute itself will not be used in the training nore in the perfomance testing of the model. The attribute will be removed before the model training.

### century<a id='century'/>

In [15]:
idx_century_filled, idx_century_empty = find_empty_in_column(df, 'century')

two_examples(df, idx_century_filled, idx_century_empty)

Number of records with filled century 183407, with missing century 0 => 100.0%

EMPTY - None

FILLED - index 0

035liste                  [(OCoLC)1085491204, (IDSBB)006899773]
century                                                    1992
coordinate                                                   []
corporate                                                    {}
decade                                                     1992
docid                                                 554061449
doi                                                          []
edition
exactDate                                              1992
format                                               [BK020000]
isbn                                                         []
ismn                                                         []
musicid
pages                                              [S. 102-114]
part                                                         []
person        {'100': ['SchluchterAndré'], '245c': ['André S...
pubinit                                                      []
pubword                                                      []
pubyear                                                1992
scale
ttlfull       {'245': ['Die Feist von Kienberg', 'eine Wasen...
ttlpart       {'245': ['Die Feist von Kienberg', 'eine Wasen...
volumes                                            [S. 102-114]
Name: 0, dtype: object

In [16]:
df.century.value_counts(normalize=True).head()

2018    0.208389
2019    0.086785
2017    0.046350
uuuu    0.036236
2016    0.025223
Name: century, dtype: float64

### decade<a id='decade'/>

In [17]:
idx_decade_filled, idx_decade_empty = find_empty_in_column(df, 'decade')

Number of records with filled decade 183407, with missing decade 0 => 100.0%

In [18]:
df[df.decade != df.century]

Empty DataFrame
Columns: [035liste, century, coordinate, corporate, decade, docid, doi, edition, exactDate, format, isbn, ismn, musicid, pages, part, person, pubinit, pubword, pubyear, scale, ttlfull, ttlpart, volumes]
Index: []

The attribute holds identical data to field [century](#century). Its MARC definition is the same, too.

### docid<a id='docid'/>

In [19]:
idx_docid_filled, idx_docid_empty = find_empty_in_column(df, 'docid')

Number of records with filled docid 183407, with missing docid 0 => 100.0%

In [20]:
df.docid[0]

'554061449'

### exactDate<a id='exactDate'/>

In [21]:
idx_century_filled, idx_century_empty = find_empty_in_column(df, 'exactDate')

Number of records with filled exactDate 183407, with missing exactDate 0 => 100.0%

In [22]:
df[df.exactDate.str[0:4] != df.century]

Empty DataFrame
Columns: [035liste, century, coordinate, corporate, decade, docid, doi, edition, exactDate, format, isbn, ismn, musicid, pages, part, person, pubinit, pubword, pubyear, scale, ttlfull, ttlpart, volumes]
Index: []

Conforming the MARC description, the first 4 digits of exactDate hold identical data to field [century](#century).

In [23]:
print('Degree of non-blank filling of last 4 digits {:.1f}%'.format(
    df.exactDate[df.exactDate.str[4:] != '    '].count()/len(df)*100))
print('Degree of numerical filling of last 4 digits {:.1f}%'.format(
    df.exactDate[~df.exactDate.str[4:].isin(['    ', 'uuuu'])].count()/len(df)*100))

Degree of non-blank filling of last 4 digits 19.4%
Degree of numerical filling of last 4 digits 13.3%

In [24]:
df.exactDate[df.exactDate.str[4:] != '    '].head()

12     uuuuuuuu
61     uuuuuuuu
62     uuuuuuuu
117    19241925
257    uuuuuuuu
Name: exactDate, dtype: object

In [25]:
df.loc[183319]

035liste                     [(ZORA)oai:www.zora.uzh.ch:169340]
century                                                    2019
coordinate                                                   []
corporate                                                    {}
decade                                                     2019
docid                                                 556987284
doi                                  [10.1093/eurheartj/ehz068]
edition
exactDate                                              20190414
format                                               [BK010053]
isbn                                                         []
ismn                                 [10.1093/eurheartj/ehz068]
musicid
pages                                                        []
part                                         [40(15):1183-1187]
person        {'100': [], '700': ['TemplinChristianjoint aut...
pubinit                                                      []
pubword                                                      []
pubyear                                                20190414
scale
ttlfull       {'245': ['Altered limbic and autonomic process...
ttlpart       {'245': ['Altered limbic and autonomic process...
volumes                                                      []
Name: 183319, dtype: object

### volumes<a id='volumes'/>

In [26]:
idx_volumes_filled, idx_volumes_empty = find_empty_in_column(df, 'volumes')

Number of records with filled volumes 161471, with missing volumes 21936 => 88.0%

In [27]:
df.volumes.loc[[1810, 0, 73897, 80258]]

1810                                                    []
0                                             [S. 102-114]
73897                          [XI, 213 S., Portr., 23 cm]
80258    [1 Partitur (5 Seiten), 32 Stimmen, Wiedlisbac...
Name: volumes, dtype: object

In [28]:
df = gt.transform_list_to_string(df, 'volumes')

In [29]:
df.volumes.loc[[1810, 0, 73897, 80258]]

1810
0                                               S. 102-114
73897                            XI, 213 S., Portr., 23 cm
80258    1 Partitur (5 Seiten), 32 Stimmen, Wiedlisbach...
Name: volumes, dtype: object