In [1]:
factor = 1.0
exactDate_mode = 'xor'

# Feature Matrix Generation

In chapter [Goldstandard and Data Preparation](./2_GoldstandardDataPreparation.ipynb), Swissbib's goldstandard data has been processed to form records of pairs of duplicate and pairs of unique records. These records are the starting point for the final feature matrix generation and that is the reason, why the DataFrame was called feature base. As described in [[JudACaps](./A_References.ipynb#judacaps)], the next step will be an attribute-wise comparison of each attribute pair of each record in the original feature base. This comparison will generate similarity values for each attribute pair. It will halve the number of attributes replacing each attribute pair with one value expressing their degree of similarity. The goal of this chapter is a DataFrame with the full and final feature attributes. The values of these feature attributes will be used for training and performance testing of the machine learning models in the chapters to follow.

This chapter introduces similarity metrics for string comparisons. The metrics to be used for calculating its similarity will be decided for each attribute pair of the DataFrame built in the previous chapters.

##Â Table of Contents

- [Data Takeover](#Data-Takeover)
- [Object Distance and Similarity](#Object-Distance-and-Similarity)
    - [Mathematical Definitions](#Mathematical-Definitions)
    - [Library TextDistance](#Library-TextDistance)
- [Similarity Metrics on Attribute Level](#Similarity-Metrics-on-Attribute-Level)
    - [Table of Contents of Attribute Similarities](#Table-of-Contents-of-Attribute-Similarities)
- [DataFrame with Attributes and Similarity Features](#DataFrame-with-Attributes-and-Similarity-Features)
- [Summary](#Summary)
    - [Full Feature Matrix with Target Vector Handover](#Full-Feature-Matrix-with-Target-Vector-Handover)

## Data Takeover

Swissbib's raw data of the goldstandard has been processed in chapter [Goldstandard and Data Preparation](./2_GoldstandardDataPreparation.ipynb). As the first step of this chapter, this data is loaded for further processing to the feature matrix and target vector for the subsequent machine learning model chapters.

In [2]:
import os
import pandas as pd
import pickle as pk
import bz2
import _pickle as cPickle

path_goldstandard = './daten_goldstandard'

#Â Restore metadata so far
with open(os.path.join(path_goldstandard, 'columns_metadata.pkl'), 'rb') as handle:
    columns_metadata_dict = pk.load(handle)

#Â Restore DataFrame with features from compressed pickle file
with bz2.BZ2File((os.path.join(
    path_goldstandard, 'feature_base_df.pkl')), 'rb') as file:
    df_feature_base = cPickle.load(file)

# Extend display to number of columns of DataFrame
pd.options.display.max_columns = len(df_feature_base.columns)

df_feature_base.head()

,035liste_x,035liste_y,century_x,century_y,coordinate_E_x,coordinate_E_y,coordinate_N_x,coordinate_N_y,coordinate_x,coordinate_y,corporate_110_x,corporate_110_y,corporate_710_x,corporate_710_y,corporate_full_x,corporate_full_y,decade_x,decade_y,docid_x,docid_y,doi_x,doi_y,duplicates,edition_x,edition_y,exactDate_x,exactDate_y,format_postfix_x,format_postfix_y,format_prefix_x,format_prefix_y,isbn_x,isbn_y,ismn_x,ismn_y,masters_docid,musicid_x,musicid_y,pages_x,pages_y,part_x,part_y,person_100_x,person_100_y,person_245c_x,person_245c_y,person_700_x,person_700_y,pubinit_x,pubinit_y,pubword_x,pubword_y,pubyear_x,pubyear_y,scale_x,scale_y,ttlfull_245_x,ttlfull_245_y,ttlfull_246_x,ttlfull_246_y,ttlpart_x,ttlpart_y,volumes_x,volumes_y
0,"[(OCoLC)884555343, (ABN)000305947]","[(OCoLC)884555343, (ABN)000305947]",2005,2005,,,,,[],[],,,,,,,2005,2005,00350560X,00350560X,,,1,,,2005uuuu,2005uuuu,010300,010300,vm,vm,[],[],,,11112,2785408,2785408,[1 DVD-Video (ca. 122 Min.)],[1 DVD-Video (ca. 122 Min.)],,,,,regie: alexader payne ; drehbuch: alexander pa...,regie: alexader payne ; drehbuch: alexander pa...,"giamattipaul, haden churchthomas, madsenvirgin...","giamattipaul, haden churchthomas, madsenvirgin...",,,[],[],2005,2005,,,sideways,sideways,,,{'245': ['Sideways']},{'245': ['Sideways']},1 122,1 122
1,"[(OCoLC)884555343, (ABN)000305947]","[(OCoLC)887993295, (SGBN)000595500]",2005,2005,,,,,[],[],,,,,,,2005,2005,00350560X,050352490,,,1,,,2005uuuu,2005uuuu,010300,010300,vm,vm,[],[],,,11112,2785408,2,[1 DVD-Video (ca. 122 Min.)],[1 DVD-Video],,,,,regie: alexader payne ; drehbuch: alexander pa...,,"giamattipaul, haden churchthomas, madsenvirgin...",paynealexander,,twentieth century,[],[Twentieth Century],2005,2005,,,sideways,"sideways, eine geschichte Ã¼ber das leben, die ...",,,{'245': ['Sideways']},"{'245': ['Sideways', 'eine Geschichte Ã¼ber das...",1 122,1
2,"[(OCoLC)884555343, (ABN)000305947]","[(OCoLC)884555343, (IDSBB)003662541]",2005,2005,,,,,[],[],,,,,,,2005,2005,00350560X,11983393X,,,1,,,2005uuuu,2005uuuu,010300,010300,vm,vm,[],[],,,11112,2785408,2785408,[1 DVD-Video (ca. 122 Min.)],[1 DVD-Video (ca. 122 Min.)],,,,,regie: alexader payne ; drehbuch: alexander pa...,regie: alexader payne ; drehbuch: alexander pa...,"giamattipaul, haden churchthomas, madsenvirgin...","paynealexander, taylorjim, pickettrex, giamatt...",,,[],[],2005,2005,,,sideways,sideways,,,{'245': ['Sideways']},{'245': ['Sideways']},1 122,1 122
3,"[(OCoLC)884555343, (ABN)000305947]","[(OCoLC)884555343, (NEBIS)005002232]",2005,2005,,,,,[],[],,,,,,,2005,2005,00350560X,161731651,,,1,,,2005uuuu,20052004,010300,010300,vm,vm,[],[],,,11112,2785408,,[1 DVD-Video (ca. 122 Min.)],[1 DVD-Video (ca. 122 Min.)],,,,,regie: alexader payne ; drehbuch: alexander pa...,regie: alexander payne,"giamattipaul, haden churchthomas, madsenvirgin...","paynealexander, pickettrex, taylorjim, giamatt...",,twentieth century fox home entertainment,[],[Twentieth Century Fox Home Entertainment],2005,20052004,,,sideways,sideways,,,{'245': ['Sideways']},{'245': ['Sideways']},1 122,1 122
4,"[(OCoLC)884555343, (ABN)000305947]","[(OCoLC)611340779, (IDSSG)000762076]",2005,2005,,,,,[],[],,,,,,,2005,2005,00350560X,340501588,,,1,,,2005uuuu,2005uuuu,010300,010300,vm,vm,[],[],,,11112,2785408,,[1 DVD-Video (ca. 122 Min.)],[1 DVD-Video (122 Min.) LÃ¤ndercode 2],,,,,regie: alexader payne ; drehbuch: alexander pa...,regie: alexander payne,"giamattipaul, haden churchthomas, madsenvirgin...",paynealexander,,,[],[],2005,2005,,,sideways,"sideways, eine geschichte Ã¼ber das leben, die ...",,,{'245': ['Sideways']},"{'245': ['Sideways', 'eine Geschichte Ã¼ber das...",1 122,1 122 2

Now, the feature base can be reduced to the columns used for processing.

In [3]:
# The DataFrame of pairs with target information
df_feature_base = df_feature_base[columns_metadata_dict['columns_to_use']]

df_feature_base.sample(n=5)

,duplicates,coordinate_E_x,coordinate_E_y,coordinate_N_x,coordinate_N_y,corporate_full_x,corporate_full_y,doi_x,doi_y,edition_x,edition_y,exactDate_x,exactDate_y,format_prefix_x,format_prefix_y,format_postfix_x,format_postfix_y,isbn_x,isbn_y,ismn_x,ismn_y,musicid_x,musicid_y,part_x,part_y,person_100_x,person_100_y,person_700_x,person_700_y,person_245c_x,person_245c_y,pubinit_x,pubinit_y,scale_x,scale_y,ttlfull_245_x,ttlfull_245_y,ttlfull_246_x,ttlfull_246_y,volumes_x,volumes_y
113434,0,,,,,schweizerische gesellschaft fur gartenkultur,enfoirÃ©s,,,,,20019999,2019uuuu,cr,mu,030053,040100,[2297-1297],[],,,,0190759291627,,,,,,,,,schweizerische gesellschaft fÃ¼r gartenkulture,,,,topiaria helvetica,"le monde des enfoirÃ©s, 2019",,,1,2
7803,0,,,,,,medienlb,,,,,1892uuuu,2020uuuu,bk,vm,020000,010300,[],[],,,,46502146,5,,corduseuricius,,krausekarl christian friedrich,,hrsg. von karl krause,medienlb,,,,,"epigrammata, (1520)","klimaphÃ¤nomene, der einfluss von el nino auf d...",,,11,1 20
97952,0,,,,,,,,,,,1892uuuu,1994uuuu,bk,bk,020000,020000,[],[],,,,,5,2,corduseuricius,,,,euricius cordus ; herausgegeben von karl krause,,,[s.n.],,,epigrammata (1520),abbildungen,,,1,531
107148,0,,,,,,"spink and son numismatics (zÃ¼rich), spink tais...",,,,,1988uuuu,uuuuuuuu,mu,cr,010000,030600,[],[],,,6164,,2,,boccheriniluigi,,boccheriniluigi,,luigi boccherini ; ed. a cura di aldo pais,"druso franceschi bruxelles, spink and son numi...",,,,,"sei sestetti, op. 23 per due violini, due viol...",auktion,,auktion / spink taisei numismatics ltd zÃ¼rich,6,
102346,0,,,,,"rundfunkorchester (frankfurt, main)",universitÃ¤t stuttgartinstitut fÃ¼r geologie und...,,,,,1976uuuu,19721990,mu,cr,040500,030300,[],[],,,9500,,,,,,"bellinivincenzo, holligerheinz, inbaleliahu, m...",,,,,,,,heinz holliger und aurÃ¨le nicolet spielen werk...,arbeiten aus dem geologisch-palÃ¤ontologischen ...,,mitteilungen und arbeiten aus dem geologisch-p...,1 33,

In [4]:
print('Number of rows labelled as duplicates {:,d}'.format(len(df_feature_base[
    df_feature_base.duplicates==1])))
print('Number of rows labelled as uniques {:,d}'.format(len(df_feature_base[
    df_feature_base.duplicates==0])))
print('Total number of rows in DataFrame {:,d}'.format(df_feature_base.shape[0],
      'number of columns', df_feature_base.shape[1]))

Number of rows labelled as duplicates 2,766
Number of rows labelled as uniques 114,070
Total number of rows in DataFrame 116,836

In [5]:
print('Part of duplicates (1) and uniques (0) in units of [%]')
print(round(100*df_feature_base.duplicates.value_counts(normalize=True), 2))

Part of duplicates (1) and uniques (0) in units of [%]
0    97.63
1     2.37
Name: duplicates, dtype: float64

DataFrame feature base is the starting point used for the further processing in this chapter.

## Object Distance and Similarity

A mathematical idea of distance and similarity is needed for understanding object pair comparison. This section starts with a motivation for calculating similarities and afterwards gives a very basic definition of the two central terms, distance and similarity. The text of this section is a summary of [[Chri2012](./A_References.ipynb#chri2012)].

###Â Mathematical Definitions

The attributes to be used for pair comparison may contain values of poor quality. The quality originates in the way the data has been entered at the very source. Manual data entry may suffer from mistyping, automatically scanned data may suffer from insufficiencies of the scanned base material or the recognition algorithm in the optical character recognition (OCR) processing. The basic step of a deduplication process is to identify the probability of two strings of a pair to be a pair of duplicates. This is done by calculating a similarity value between the two strings compared, rather than using an exact comparison function. Based on this common similarity value for an attribute pair, their being duplicates can be decided.

The term similarity is strongly coupled to the term of distance of two values of an attribute. Mathematically, a distance can be explained with the help of a distance function. A _distance function_ or _distance metric_ $dist(o_i, o_j)$ between two points or data objects $o_i$ and $o_j$ must fulfill four requirements.

1. $dist(o_i, o_i)=0$, the distance from an object to itself is zero.
- $dist(o_i, o_j)\ge 0$, the distance between two objects is a non-negative number.
- $dist(o_i, o_j)=dist(o_j, o_i)$, the distance between two objects is symmetric.
- $dist(o_i, o_j)\le dist(o_i, o_k)+dist(o_k, o_j)$, the triangular inequality must hold. It states that the direct distance beween two objects is never larger than the combined distance when going through a third object.

A distance value expresses the dissimilarity $d$ of two objects [[HanK2012](./A_References.ipynb#hank2012)] and can therefore be converted into a similarity value $s$, calculating $s = \frac{1}{d}$, assuming $d\gt 0$. Alternatively, assuming the distance value is normalised $0\le d\le 1$, the similarity value can be calculated to $s = 1-d$. A _similarity function_ $sim(a_i, aj)$ between two attributes which can be strings, numbers, dates, geographic locations, text, XML documents, etc. fulfills the general requirements.

1. $sim(a_i, a_i)=1$, the result of comparing a value with itself is an exact similarity.
- $sim(a_i, a_j)=0$, the similarity of values that are completely different from each other is 0. What accounts for 'complete different' depends upon the type of data that are compared.
- $0\lt sim(a_i, a_j)\lt 1$, an approximate similarity between exact similarity and total dissimilarity is calculated if two attribute values are somewhat similar to each other. What accounts for 'somewhat different' depends upon the type of data that are compared.

The dissimilarity between two objects $o_i$ and $o_j$ can be computed based on the ratio of mismatches,
$$
d(o_i, o_j) = \frac{p-m}{p},
$$
where $m$ is the number of matching attributes and $p$ is the total number of attributes describing the objects [[HanK2012](./A_References.ipynb#hank2012)]. Thus the similarity between two objects can be computed as
$$
sim(o_i, o_j) = 1 - d(o_i, o_j) = \frac{m}{p}.
$$

For data deduplication, a comparison function needs to be tailored to the type of underlying data. Although there is a correspondence between a similarity function and the mathematical concept of a distance function, not all known and implemented similarity comparison functions used for string pair comparison fulfill the requirements of a distance function. Some similarity functions are not symmetric, others do not fulfill the triangular inequality. Decision taking on the best similarity function for a string pair, will be based on the effect, a similarity function has for the purpose needed. In the case of this capstone project, this purpose is its capability to contribute to the prediction whether a pair of records is a pair duplicates or a pair of uniques.

###Â Library TextDistance

An internet research on string distance calculation with Python has revealed libraries [[StSi](./A_References.ipynb#stsi)], [[TeDi](./A_References.ipynb#tedi)] and seperate code snippets for distinct algorithms. After trying the referenced libraries and a downloaded code snippet for a Smith Waterman similarity [[SmWa](./A_References.ipynb#smwa)], the text distance library [[TeDi](./A_References.ipynb#tedi)] has been decided to be the best decision for this capstone project. The decision is based on the github statistics of stars and the date of the latest pull requests, indicating its popularity and maintenance activity of the library. A look at the API of the library, reveals the Python library to be a complete implementation (compared to suggestions of similarity metrics in [[Chri2012](./A_References.ipynb#chri2012)]) and easy to use.

In [6]:
# Install textdistance Python library - if not done, yet.
! pip install textdistance

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: textdistance in /Users/andreas/Library/Python/3.7/lib/python/site-packages (4.1.5)
WARNING: You are using pip version 20.2.2; however, version 21.2.2 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.

For using the library, see documentation in [[TeDi](./A_References.ipynb#tedi)]. For the purposes of this chapter, function $\texttt{.normalized}\_\texttt{similarity}()$ of an instantiated textdistance object will be used.

In [7]:
import textdistance as tedi

With the code line above, the library is imported for application in this chapter. In appendix [Comparison of Similarity Metrics](./B_CompareSimilarities.ipynb) the effects of the similarity metrics of the library are compared for better understanding of their specific behaviour. This comparison for each attribute is the basis of deciding the best similarity metric available for an attribute pair.

## Similarity Metrics on Attribute Level

This section implements the decision for calculating the similarity metric for each attribute of the raw data based on appendix [Comparison of Similarity Metrics](./B_CompareSimilarities.ipynb). The implementation is applied on a pair of attributes of two records, resulting in a new attribute, the similarity value, of the final feature matrix. A general function $\texttt{.build}\_\texttt{delta}\_\texttt{feature}()$ is provided by the code file [data_preparation_funcs.py](./data_preparation_funcs.py) for transforming two attributes into their feature attribute holding their similarity value.

In [8]:
import data_preparation_funcs as dpf

The two dictionaries of the following code cell will be filled by function $\texttt{.build}\_\texttt{delta}\_\texttt{feature}()$.

In [9]:
columns_metadata_dict['similarity_metrics'] = {}
columns_metadata_dict['features'] = []

###Â Table of Contents of Attribute Similarities

- [coordinate](#coordinate)
- [corporate](#corporate)
- [doi](#doi)
- [edition](#edition)
- [exactDate](#exactDate)
- [format](#format)
- [isbn](#isbn)
- [ismn](#ismn)
- [musicid](#musicid)
- [part](#part)
- [person](#person)
- [pubinit](#pubinit)
- [scale](#scale)
- [ttlfull](#ttlfull)
- [volumes](#volumes)

###Â coordinate

As discussed in chapter [Data Analysis](./1_DataAnalysis.ipynb), attribute $\texttt{coordinate}$ holds coordinates of maps. To decide whether a map covers the same geographical range, a metric will be chosen that compares the coordinate number digits from left to right. The more digits are found to be equal, the higher the similarity value is calculated. The comparison stops with the first digit pair that differs. This algorithm is satisfied by the LCS (Longest Common Substring comparison) algorithm and generates the wanted result, see appendix [Comparison of Similarity Metrics](./B_CompareSimilarities.ipynb).

In [10]:
attribute = 'coordinate'

columns_metadata_dict['similarity_metrics'][attribute+'_E'] = tedi.LCSStr()
columns_metadata_dict['similarity_metrics'][attribute+'_N'] = tedi.LCSStr()

ne_values = ['_E', '_N']

for ne in ne_values :
    df_feature_base, columns_metadata_dict = dpf.build_delta_feature(
        df_feature_base, attribute+ne,
        columns_metadata_dict['similarity_metrics'][attribute+ne],
        columns_metadata_dict)

The length of attribute $\texttt{coordinate}$ is exactly eight digits. The distinct similarity values that may occur form a discrete set of values with a distance of $\frac{1}{8}$ between adjacent values.

In [11]:
uniques, uniques_len = {}, {}

for ne in ne_values :
    uniques[attribute+ne], uniques_len[attribute+ne] = dpf.determine_similarity_values(
        df_feature_base, attribute+ne)

coordinate_E values range [0.    0.125 0.25  0.375 0.5   0.625 0.75  0.875 1.   ]
coordinate_N values range [0.    0.25  0.375 0.5   0.625 0.75  0.875 1.   ]

Looking at some samples of the feature matrix reveals a good match to the expectations.

In [12]:
position = 3

for ne in ne_values :
    dpf.show_samples_interval(
        df_feature_base, attribute+ne,
        uniques[attribute+ne][uniques_len[attribute+ne]-position],
        uniques[attribute+ne][uniques_len[attribute+ne]-position+1]
    )

      duplicates  coordinate_E_delta coordinate_E_x coordinate_E_y
2062           1               0.875       e0064617       e0064613
1889           1               0.875       e0071420       e0071424
531            1               0.750       e0102620       e0102618
1895           1               0.875       e0071420       e0071424
532            1               0.750       e0102620       e0102615

0.75 <= coordinate_E_delta <= 0.875

       duplicates  coordinate_N_delta coordinate_N_x coordinate_N_y
552             1               0.875       n0463834       n0463830
537             1               0.875       n0463834       n0463830
76719           0               0.875       n0463834       n0463830
1883            1               0.750       n0473909       n0473914
2063            1               0.750       n0475211       n0475205

0.75 <= coordinate_N_delta <= 0.875

The samples above show the wanted similarity behaviour for value ranges greater than 0. The metric has the weakness, though, that empty coordinate values, e.g. for bibliographic units other than maps, have each been calculated to a similarity of 0. Some samples for duplicates in the training data are shown below.

In [13]:
dpf.show_samples_interval(
    df_feature_base[df_feature_base.duplicates==1],
    attribute+'_E', uniques[attribute+'_E'][0], uniques[attribute+'_E'][1], 10)

      duplicates  coordinate_E_delta coordinate_E_x coordinate_E_y
2592           1                 0.0
1256           1                 0.0
1600           1                 0.0
2742           1                 0.0
351            1                 0.0
1674           1                 0.0
458            1                 0.0
2750           1                 0.0
1783           1                 0.0
1910           1                 0.0                      e0071420

0.0 <= coordinate_E_delta <= 0.125

This downside shall be avoided by marking pairs of missing coordinate values on both sides with a special negative value, which will point out to the models to be trained, the special case of missing information in a row. The implementation of this logic is done in function $\texttt{.mark}\_\texttt{missing}()$. The absolute value of this negative number is conrolled by a factor which is passed to the function as a parameter. The function handles explicitly two cases. The first one is missing information in both attributes (resulting in $-1*\texttt{factor}$) and the second one is missing information in only one of the two attributes (resulting in $-0.5*\texttt{factor}$).

In [14]:
for ne in ne_values :
    df_feature_base = dpf.mark_missing(df_feature_base, attribute+ne, factor)

###Â corporate

Attribute $\texttt{corporate}$ is a collection of corporate names. The Monge-Elkan metric compares string tokens pairwise [[Chri2012](./A_References.ipynb#chri2012)] while the LCS metric searches for the longest common substring. Assessing the differences of these two metrics with the help of their values distribution in chapter [Features Discussion and Dummy Classifier Baseline](./5_FeatureDiscussionDummyBaseline.ipynb), reveals a better distribution behaviour for LCS. Therefore, the LCS metric will be chosen for this attribute.

In [15]:
attribute = 'corporate_full'

columns_metadata_dict['similarity_metrics'][attribute] = tedi.LCSStr()
#tedi.StrCmp95()
#tedi.MongeElkan()

df_feature_base, columns_metadata_dict = dpf.build_delta_feature(
    df_feature_base, attribute,
    columns_metadata_dict['similarity_metrics'][attribute],
    columns_metadata_dict)

In [16]:
uniques[attribute], uniques_len[attribute] = dpf.determine_similarity_values(
    df_feature_base, attribute)

corporate_full values range [0.         0.00526316 0.00980392 0.01052632 0.01162791 0.01388889
 0.01449275 0.01470588 0.01578947 0.01587302 0.01666667 0.01785714
 0.01886792 0.01904762 0.01923077 0.01960784 0.02       0.02040816
 0.02105263 0.0212766  0.02222222 0.02272727 0.02325581 0.02380952
 0.02439024 0.02564103 0.02631579 0.02702703 0.02777778 0.02857143
 0.02898551 0.02941176 0.03       0.03030303 0.03076923 0.03125
 0.03157895 0.03174603 0.03225806 0.03278689 0.03333333 0.03448276
 0.03488372 0.03571429 0.03636364 0.03684211 0.03703704 0.03773585
 0.03809524 0.03846154 0.03921569 0.04       0.04081633 0.04166667
 0.04210526 0.04255319 0.04347826 0.04411765 0.04444444 0.04545455
 0.04615385 0.04651163 0.04761905 0.04878049 0.04901961 0.04918033
 0.05       0.05128205 0.05263158 0.05357143 0.05405405 0.05454545
 0.05555556 0.05660377 0.05714286 0.05769231 0.05789474 0.05797101
 0.05813953 0.05882353 0.06       0.06060606 0.06122449 0.06153846
 0.0625     0.06349206 0.06382979 0.06451613 0.06557377 0.06666667
 0.06818182 0.06842105 0.06896552 0.06944444 0.06976744 0.07142857
 0.07246377 0.07272727 0.07317073 0.07352941 0.07368421 0.07407407
 0.0754717  0.07619048 0.07692308 0.07843137 0.07894737 0.07936508
 0.08       0.08108108 0.08139535 0.08163265 0.08333333 0.08510638
 0.08571429 0.08695652 0.08823529 0.08888889 0.09090909 0.09230769
 0.09302326 0.09375    0.09433962 0.0952381  0.09615385 0.09677419
 0.09722222 0.09836066 0.1        0.10144928 0.10204082 0.10294118
 0.10344828 0.10465116 0.10526316 0.10714286 0.10810811 0.11111111
 0.11320755 0.11363636 0.11538462 0.11594203 0.11627907 0.11666667
 0.11764706 0.11904762 0.12121212 0.12244898 0.125      0.12698413
 0.12820513 0.13043478 0.13157895 0.13207547 0.13235294 0.13333333
 0.13461538 0.13513514 0.13636364 0.13793103 0.13888889 0.14285714
 0.14705882 0.15       0.15384615 0.15789474 0.15909091 0.15942029
 0.16216216 0.1627907  0.16326531 0.16393443 0.16666667 0.16981132
 0.17241379 0.17307692 0.1744186  0.17647059 0.17777778 0.17857143
 0.18181818 0.18421053 0.18461538 0.1875     0.18867925 0.18918919
 0.19047619 0.19230769 0.2        0.20289855 0.20454545 0.20588235
 0.21052632 0.21428571 0.21621622 0.21818182 0.22058824 0.22222222
 0.23188406 0.23333333 0.23529412 0.23684211 0.23809524 0.24324324
 0.24418605 0.25       0.26086957 0.26190476 0.26315789 0.26415094
 0.26470588 0.26923077 0.26984127 0.28301887 0.28571429 0.28846154
 0.30769231 0.31818182 0.33333333 0.3372093  0.34782609 0.35
 0.3627451  0.38095238 0.3877551  0.42857143 0.44230769 0.44262295
 0.45238095 0.48837209 0.5        0.51162791 0.51219512 0.51724138
 0.55555556 0.56521739 0.57142857 0.6        0.63636364 0.65
 0.65517241 0.65714286 0.66666667 0.67857143 0.68181818 0.69811321
 0.74468085 0.78181818 0.83018868 0.95238095 1.        ]

Its $110$ part is sparsely filled and even its $710$ part comes along with a little more than $10\%$ of filling, only. The LCS metric generates a similarity of 1 for the cases where both strings of a pair are empty. Missing values on both sides may be an indicator for a pair of duplicates but due to the sparsely available information, it is a weak indicator. Therefore, the pairs with missing data on both sides of the pair, will be marked with the negative value.

In [17]:
df_feature_base = dpf.mark_missing(df_feature_base, attribute, factor)

Some sample cases are shown below for both $\texttt{corporate}$ features.

In [18]:
dpf.show_samples_interval(
    df_feature_base[df_feature_base.duplicates==1],
    attribute, 0.0, 1.0, 20
)

,duplicates,corporate_full_delta,corporate_full_x,corporate_full_y
2368,1,1.000000,deutschland,deutschland
597,1,0.030769,schweizerischer verband fÃ¼r berufsberatung,association suisse pour l'orientation scolaire...
2061,1,1.000000,schweizbundesamt fÃ¼r landestopografie,schweizbundesamt fÃ¼r landestopografie
1304,1,1.000000,winterthur schweizerische versicherungs-gesell...,winterthur schweizerische versicherungs-gesell...
1103,1,0.511628,schweizerische gesellschaft fÃ¼r gartenkultur,"schweizerische gesellschaft fÃ¼r gartenkultur, ..."
785,1,0.088235,confÃ©rence suisse des directeurs cantonaux de ...,schweizerische konferenz der kantonalen erzieh...
2371,1,1.000000,"deutschland europÃ¤ische union, deutschland","deutschland europÃ¤ische union, deutschland"
536,1,1.000000,schweizbundesamt fÃ¼r landestopografie,schweizbundesamt fÃ¼r landestopografie
1176,1,1.000000,sociÃ©tÃ© suisse pour l'art des jardins,sociÃ©tÃ© suisse pour l'art des jardins
1424,1,1.000000,concerto (kÃ¶ln),concerto (kÃ¶ln)
1160,1,0.511628,"schweizerische gesellschaft fÃ¼r gartenkultur, ...",schweizerische gesellschaft fÃ¼r gartenkultur
1419,1,0.600000,concerto kÃ¶ln,concerto (kÃ¶ln)
1785,1,1.000000,capella savaria,capella savaria
1155,1,0.830189,schweizerische gesellschaft fÃ¼r gartenkultur,schweizerische gesellschaft fÃ¼r gartenkultur (...
1120,1,1.000000,schweizerische gesellschaft fÃ¼r gartenkultur,schweizerische gesellschaft fÃ¼r gartenkultur
1378,1,1.000000,facultÃ©s universitaires saint-louis,facultÃ©s universitaires saint-louis
1578,1,0.781818,sociÃ©tÃ© des sentiers des gorges de l'areuse,sociÃ©tÃ© des sentiers des gorges de l'areuse (n...
1130,1,0.511628,schweizerische gesellschaft fÃ¼r gartenkultur,"schweizerische gesellschaft fÃ¼r gartenkultur, ..."
1282,1,1.000000,winterthur schweizerische versicherungs-gesell...,winterthur schweizerische versicherungs-gesell...
1106,1,1.000000,schweizerische gesellschaft fÃ¼r gartenkultur,schweizerische gesellschaft fÃ¼r gartenkultur

0.0 <= corporate_full_delta <= 1.0

In [19]:
position = uniques_len[attribute]//2 #Â Let's have a look in the middle range of the similarities.

dpf.show_samples_interval(
    df_feature_base, attribute,
    uniques[attribute][uniques_len[attribute]-position],
    uniques[attribute][uniques_len[attribute]-position+2], 20)

,duplicates,corporate_full_delta,corporate_full_x,corporate_full_y
84095,0,0.1,neuchÃ¢tel rando,kinderschutz schweiz
26343,0,0.1,schweizerische konferenz der kantonalen erzieh...,kanton bernregierungsrat
6522,0,0.1,schweizerische konferenz der kantonalen erzieh...,kanton bernregierungsrat
31958,0,0.1,schweizerische konferenz der kantonalen erzieh...,museum fÃ¼r hamburgische geschichte
52126,0,0.1,kunstmuseum thun,kinderschutz schweiz
46807,0,0.1,schweizbundesamt fÃ¼r landestopografie,universitÃ¤t stuttgartinstitut fÃ¼r geologie und...
61281,0,0.1,concerto (kÃ¶ln),kinderschutz schweiz
26349,0,0.1,schweizerische konferenz der kantonalen erzieh...,kanton bernregierungsrat
57002,0,0.1,schweizbundesamt fÃ¼r statistik,spar- und leihkasse
23133,0,0.1,capella savaria,kinderschutz schweiz
68229,0,0.1,schweizerische konferenz der kantonalen erzieh...,kanton bernregierungsrat
68237,0,0.1,schweizerische konferenz der kantonalen erzieh...,kanton bernregierungsrat
5402,0,0.1,schweizerische konferenz der kantonalen erzieh...,kanton bernregierungsrat
86900,0,0.1,klett und balmer ag,kinderschutz schweiz
31951,0,0.1,schweizerische konferenz der kantonalen erzieh...,kanton bernregierungsrat
79635,0,0.1,schweizerische konferenz der kantonalen erzieh...,kanton bernregierungsrat
57003,0,0.1,schweizbundesamt fÃ¼r statistik,spar- und leihkasse
12695,0,0.1,schweizerische konferenz der kantonalen erzieh...,kanton bernregierungsrat
109935,0,0.1,schweizerische konferenz der kantonalen erzieh...,kanton bernregierungsrat
6523,0,0.1,schweizerische konferenz der kantonalen erzieh...,kanton bernregierungsrat

0.09722222222222221 <= corporate_full_delta <= 0.09999999999999998

###Â doi

Swissbib uses an explicit $\texttt{doi}$ attribute for its deduplication implementation. In chapter [Goldstandard and Data Preparation](./2_GoldstandardDataPreparation.ipynb), the real doi identifier has been isolated with the help of a preprocessing function $\texttt{.reduce}\_\texttt{to}\_\texttt{doi}\_\texttt{element}()$, see [Data Analysis](./1_DataAnalysis.ipynb). Attribute $\texttt{doi}$ contains a single string value. The Identity metric will be used for comparing the string values of a pair in a row, calculating a similarity value of 1.0 or 0.0 for each pair. If one list is empty a value of 0 is returned.

In [20]:
attribute = 'doi'

columns_metadata_dict['similarity_metrics'][attribute] = tedi.Identity()

df_feature_base, columns_metadata_dict = dpf.build_delta_feature(
    df_feature_base, attribute,
    columns_metadata_dict['similarity_metrics'][attribute],
    columns_metadata_dict)

df_feature_base['doi_delta'].unique()

array([1., 0.])

Some sample cases are shown below for each category of $\texttt{doi}\_\texttt{delta}$.

In [21]:
uniques[attribute], uniques_len[attribute] = dpf.determine_similarity_values(
    df_feature_base, attribute)

for doi_delta_value in df_feature_base['doi_delta'].unique():
    number_of_max_samples = min(
        10,
        len(df_feature_base[df_feature_base['doi_delta']==doi_delta_value])
    )

    dpf.show_samples_distinct(df_feature_base, 'doi', doi_delta_value, number_of_max_samples)
    print(f'doi_delta = {doi_delta_value}')

doi values range [0. 1.]

        duplicates  doi_delta doi_x doi_y
41685            0        1.0
37150            0        1.0
116651           0        1.0
102062           0        1.0
40714            0        1.0
1330             1        1.0
73416            0        1.0
89691            0        1.0
107196           0        1.0
94237            0        1.0

doi_delta = 1.0

        duplicates  doi_delta                      doi_x                 doi_y
72839            0        0.0                             10.5169/seals-727036
108203           0        0.0  10.1007/978-3-658-17985-4
46543            0        0.0          10.5167/uzh-61279
108073           0        0.0  10.1007/978-3-658-17985-4
89499            0        0.0                             10.5169/seals-813549
83628            0        0.0         10.5167/uzh-176207
87201            0        0.0         10.5167/uzh-191252
81320            0        0.0       10.5169/seals-790639
36182            0        0.0                               10.5167/uzh-150310
107932           0        0.0      10.1002/9780470110461

doi_delta = 0.0

In [22]:
# Let's have a look at some non-empty doi elements
df_doi_with_element = df_feature_base[df_feature_base.doi_x.apply(lambda x : len(x) > 0)]

for doi_delta_value in df_feature_base['doi_delta'].unique():
    number_of_max_samples = min(
        10,
        len(df_feature_base[df_feature_base['doi_delta']==doi_delta_value])
    )

    dpf.show_samples_distinct(df_doi_with_element, 'doi', doi_delta_value, number_of_max_samples)
    print(f'doi_delta = {doi_delta_value}')

,duplicates,doi_delta,doi_x,doi_y
2479,1,1.0,10.5167/uzh-162350,10.5167/uzh-162350
2525,1,1.0,10.5167/uzh-191252,10.5167/uzh-191252
1957,1,1.0,10.5167/uzh-61279,10.5167/uzh-61279
2170,1,1.0,10.1111/spsr.12118,10.1111/spsr.12118
2522,1,1.0,10.3929/ethz-b-000376920,10.3929/ethz-b-000376920
2145,1,1.0,10.5167/uzh-98235,10.5167/uzh-98235
2060,1,1.0,10.1093/cid/cir669,10.1093/cid/cir669
2059,1,1.0,10.1093/cid/cir669,10.1093/cid/cir669
2397,1,1.0,10.5167/uzh-176207,10.5167/uzh-176207
2056,1,1.0,10.1093/cid/cir669,10.1093/cid/cir669

doi_delta = 1.0

        duplicates  doi_delta                     doi_x doi_y
84381            0        0.0  10.3929/ethz-b-000376920
69508            0        0.0        10.5167/uzh-147815
46647            0        0.0         10.5167/uzh-61279
58190            0        0.0        10.1111/spsr.12118
52547            0        0.0        10.1111/spsr.12118
53432            0        0.0     10.3168/jds.2012-6150
81444            0        0.0      10.5169/seals-790639
107881           0        0.0     10.1002/9780470110461
58213            0        0.0        10.1111/spsr.12118
46571            0        0.0         10.5167/uzh-61279

doi_delta = 0.0

As can be seen above, a value of 1.0 is returned if both strings of a pair are empty. As the attribute filling of $\texttt{doi}$ is sparse, see chapter [Data Analysis](./1_DataAnalysis.ipynb), the $\texttt{doi}\_\texttt{delta}$ indicates strongly a pair of duplicates for most rows. To avoid such misleading identity indication, function $\texttt{.mark}\_\texttt{missing}()$ will be applied to the attribute.

In [23]:
df_feature_base = dpf.mark_missing(df_feature_base, attribute, factor)

###Â edition

In its original form in Swissbib's raw data, the edition statement is a string value which may have several words. The modelling on this attribute has been tried with and without stripping letter characters from the string. The final decision for the best processing will be documented in chapter [Overview and Summary](./0_OverviewSummary.ipynb). A Jaccard similarity is tried for this attribute.

In [24]:
attribute = 'edition'

columns_metadata_dict['similarity_metrics'][attribute] = tedi.Jaccard()

df_feature_base, columns_metadata_dict = dpf.build_delta_feature(
    df_feature_base, attribute,
    columns_metadata_dict['similarity_metrics'][attribute],
    columns_metadata_dict)

In [25]:
uniques[attribute], uniques_len[attribute] = dpf.determine_similarity_values(
    df_feature_base, attribute)

import numpy as np

edition_delta_uniques = np.sort(df_feature_base['edition_delta'].unique())
edition_delta_uniques_len = len(edition_delta_uniques)
print('edition values range', edition_delta_uniques[:30])

edition values range [0.         0.14285714 0.2        0.25       0.33333333 0.5
 0.6        1.        ]
edition values range [0.         0.14285714 0.2        0.25       0.33333333 0.5
 0.6        1.        ]

The comparison results in a wide number of distinct similarity values for the goldstandard data set. Below, some examples are shown.

In [26]:
position = edition_delta_uniques_len

dpf.show_samples_interval(
    df_feature_base, 'edition',
    edition_delta_uniques[edition_delta_uniques_len-position-2],
    edition_delta_uniques[edition_delta_uniques_len-position-1], 10)
dpf.show_samples_interval(
    df_feature_base, 'edition',
    edition_delta_uniques[edition_delta_uniques_len-position],
    edition_delta_uniques[edition_delta_uniques_len-position+2], 10)

position = edition_delta_uniques_len//2

dpf.show_samples_interval(
    df_feature_base, 'edition',
    edition_delta_uniques[edition_delta_uniques_len-position-2],
    edition_delta_uniques[edition_delta_uniques_len-position-1], 10)

        duplicates  edition_delta edition_x edition_y
37767            0            1.0
72243            0            1.0
53905            0            1.0
82998            0            1.0
17758            0            1.0
4219             0            1.0
17004            0            1.0
79641            0            1.0
61231            0            1.0
114058           0            1.0

0.6 <= edition_delta <= 1.0

        duplicates  edition_delta edition_x edition_y
105437           0            0.0         1
95136            0            0.0                   1
6864             0            0.0                   1
114361           0            0.0         1
108787           0            0.0                   1
53570            0            0.0                   4
55372            0            0.0                   2
114712           0            0.0         1
3919             0            0.0         2
105693           0            0.0         1

0.0 <= edition_delta <= 0.19999999999999996

        duplicates  edition_delta edition_x edition_y
38437            0           0.25      2011         1
38364            0           0.20      2011        17
85183            0           0.25         1      2017
85186            0           0.25         1      2001
102616           0           0.25      2013         1
49656            0           0.25         2      2001
105753           0           0.25         1      2017
113794           0           0.25         1      2017
57242            0           0.25      2011         2
102505           0           0.20      2013        17

0.19999999999999996 <= edition_delta <= 0.25

Again, for $\texttt{edition}\_\texttt{delta} = 1$, many empty values of the $\texttt{edition}$ attribute can be observed. These will be marked with the special negative value in the data with the goal to distinguish them from the matching attribute pairs.

In [27]:
df_feature_base = dpf.mark_missing(df_feature_base, 'edition', factor)

In [28]:
position = edition_delta_uniques_len

dpf.show_samples_interval(
    df_feature_base, 'edition',
    edition_delta_uniques[edition_delta_uniques_len-position-2],
    edition_delta_uniques[edition_delta_uniques_len-position-1], 10)

        duplicates  edition_delta edition_x edition_y
86900            0            1.0         1         1
115701           0            1.0         1         1
1969             1            1.0         7         7
1902             1            0.6      2013      2011
86903            0            1.0         1         1
1968             1            1.0         7         7
2758             1            1.0         1         1
473              1            1.0         2         2
114546           0            1.0         1         1
2076             1            1.0      2011      2011

0.6 <= edition_delta <= 1.0

### exactDate

As discussed in chapter [Data Analysis](./1_DataAnalysis.ipynb), attribute $\texttt{exactDate}$ holds a year number stored in the first four digits. Letter 'u' is used as a placeholder for an unknown digit. The attribute may hold some month and day or a second year information in its second four digits, additionally.

The attribute will be kept as a string and will not be transformed to an integer. The feature attribute of the record pair to be compared will be calculated with a modified Hamming algorithm, see appendix [Comparison of Similarity Metrics](./B_CompareSimilarities.ipynb). The resulting similarity will be stored in a new attribute $\texttt{exactDate}\_\texttt{delta}$ which will be taken for the model calculation.

As can be seen in chapter [Decision Tree Model](./6_DecisionTreeModel.ipynb), this attribute is important for prediction. Different ways of increasing the weight of the unknown status of a digit have been tried. The different ways can be seen in the implementations below. The algorithm decided for the final simulation will be documented in chapter [Overview and Summary](./0_OverviewSummary.ipynb).

In [29]:
import string

def no_xor (x_side, y_side) :
    number = 0
    for i in range(len(x_side)) :
        if ((x_side[i] in string.ascii_lowercase) | (y_side[i] in string.ascii_lowercase)) & (x_side[i] != y_side[i]) :
            number = number + 1
    return number

print('Example comparison results in a value of', no_xor ('202a0aaa', '1920uuuu'))

Example comparison results in a value of 5

In [30]:
attribute = 'exactDate'

#Â Replace letter 'u' with letter 'a' for one of the two strings.
#Â  As an effect, the resulting Hamming similarity for a letter
#Â  instead of a numerical digit in either string will add with an amount 0.
df_feature_base[attribute+'_x'] = df_feature_base.exactDate_x.str.replace('u', 'a')

# Compute Hamming similarity for century string pair.
columns_metadata_dict['similarity_metrics'][attribute] = tedi.Hamming()

unknown_share = 16

df_feature_base, columns_metadata_dict = dpf.build_delta_feature(
    df_feature_base, attribute,
    columns_metadata_dict['similarity_metrics'][attribute],
    columns_metadata_dict)

if exactDate_mode == 'added_u':
    #Â Add amount of 1/16 to Hamming similarity for every letter digit.
    #  But only maximum number of letter digits in both strings of a pair.
    df_feature_base[attribute+'_delta'] = df_feature_base[[
        attribute+'_x', attribute+'_y', attribute+'_delta']].apply(
        lambda x : x[attribute+'_delta'] + 
        max(x[attribute+'_x'].count('a'), x[attribute+'_y'].count('u'))/unknown_share, axis=1
    )
elif exactDate_mode == 'xor':
    #Â Add amount of 1/16 to Hamming similarity for every letter digit.
    #  But only number of position-wise xor-ed letter digits in the two strings of a pair.
    df_feature_base[attribute+'_delta'] = df_feature_base[[
        attribute+'_x', attribute+'_y', attribute+'_delta']].apply(
        lambda x : x[attribute+'_delta'] + 
        no_xor(x[attribute+'_x'], x[attribute+'_y'])/unknown_share, axis=1
    )

In [31]:
df_feature_base[['exactDate_x', 'exactDate_y', 'exactDate_delta']].sample(n=10)

       exactDate_x exactDate_y  exactDate_delta
49866     1992aaaa    2019uuuu            0.250
22380     2009aaaa    20140318            0.500
103131    1961aaaa    2018uuuu            0.250
59573     20019999    2006uuuu            0.625
7131      1985aaaa    19691969            0.500
751       1998aaaa    1998uuuu            0.750
25707     19872016    2017uuuu            0.375
102337    1976aaaa    2012uuuu            0.250
64056     19271947    2013uuuu            0.250
79243     20189999    2020uuuu            0.500

All resulting values of equal strings are equal to 1.

In [32]:
df_feature_base[['exactDate_x', 'exactDate_y', 'exactDate_delta']][
    df_feature_base.exactDate_x == df_feature_base.exactDate_y
].sort_values('exactDate_delta', ascending=False).head()

     exactDate_x exactDate_y  exactDate_delta
24      20052004    20052004              1.0
1811    19831984    19831984              1.0
1809    19921991    19921991              1.0
1807    19921991    19921991              1.0
1799    19921991    19921991              1.0

A discrete set of different similarity values can be found in the attribute deltas. Some sample records are shown below.

In [33]:
exactDate_deltas = np.sort(df_feature_base.exactDate_delta.unique())
exactDate_deltas

array([0.    , 0.0625, 0.125 , 0.1875, 0.25  , 0.3125, 0.375 , 0.4375,
       0.5   , 0.5625, 0.625 , 0.6875, 0.75  , 0.8125, 0.875 , 0.9375,
       1.    ])

In [34]:
sample_size = 5

for i in exactDate_deltas :
    dpf.show_samples_distinct(df_feature_base, 'exactDate', i, sample_size)
    print(f'exactDate_delta = {i}')

       duplicates  exactDate_delta exactDate_x exactDate_y
89053           0              0.0    20112010    19559999
64641           0              0.0    19872016    20140801
82975           0              0.0    19552014    20189999
79249           0              0.0    20092008    18811894
70583           0              0.0    19581958    20172017

exactDate_delta = 0.0

       duplicates  exactDate_delta exactDate_x exactDate_y
15770           0           0.0625    198a9999    20022018
17475           0           0.0625    196a9999    20172017
24955           0           0.0625    196a9999    20172017
15792           0           0.0625    198a9999    20172017
24971           0           0.0625    196a9999    20182018

exactDate_delta = 0.0625

       duplicates  exactDate_delta exactDate_x exactDate_y
59500           0            0.125    20019999    19521958
79300           0            0.125    20092008    19581978
29385           0            0.125    19599999    20101986
72704           0            0.125    20189999    18811894
46224           0            0.125    20139999    19681972

exactDate_delta = 0.125

       duplicates  exactDate_delta exactDate_x exactDate_y
35599           0           0.1875    200a9999    19831984
16353           0           0.1875    1aaa9999    20172017
17417           0           0.1875    196a9999    20101986
35564           0           0.1875    200a9999    19521958
35547           0           0.1875    200a9999    19541972

exactDate_delta = 0.1875

       duplicates  exactDate_delta exactDate_x exactDate_y
94881           0             0.25    1997aaaa    2004uuuu
33594           0             0.25    1948aaaa    2020uuuu
16154           0             0.25    1953aaaa    2004uuuu
68859           0             0.25    2005aaaa    1988uuuu
69194           0             0.25    2017aaaa    1993uuuu

exactDate_delta = 0.25

       duplicates  exactDate_delta exactDate_x exactDate_y
36163           0           0.3125    196a9999    2004uuuu
25016           0           0.3125    196a9999    2020uuuu
17384           0           0.3125    196a9999    2005uuuu
36222           0           0.3125    196a9999    2017uuuu
24876           0           0.3125    196a9999    2003uuuu

exactDate_delta = 0.3125

       duplicates  exactDate_delta exactDate_x exactDate_y
13038           0            0.375    1930aaaa    2020uuuu
6822            0            0.375    1997aaaa    2017uuuu
88729           0            0.375    1890aaaa    1985uuuu
37849           0            0.375    1944aaaa    2014uuuu
3221            0            0.375    1892aaaa    2002uuuu

exactDate_delta = 0.375

       duplicates  exactDate_delta exactDate_x exactDate_y
36065           0           0.4375    196a9999    1871uuuu
35585           0           0.4375    200a9999    1907uuuu
16352           0           0.4375    1aaa9999    19851985
16314           0           0.4375    1aaa9999    2009uuuu
15741           0           0.4375    198a9999    18001899

exactDate_delta = 0.4375

       duplicates  exactDate_delta exactDate_x exactDate_y
35407           0              0.5    1984aaaa    1900uuuu
74720           0              0.5    aaaa9999    2006uuuu
11676           0              0.5    1955aaaa    1967uuuu
98326           0              0.5    1948aaaa    1994uuuu
2922            0              0.5    2005aaaa    2016uuuu

exactDate_delta = 0.5

       duplicates  exactDate_delta exactDate_x exactDate_y
16275           0           0.5625    1aaa9999    1955uuuu
36145           0           0.5625    196a9999    1902uuuu
35658           0           0.5625    200a9999    2020uuuu
16246           0           0.5625    1aaa9999    1871uuuu
17380           0           0.5625    196a9999    1988uuuu

exactDate_delta = 0.5625

       duplicates  exactDate_delta exactDate_x exactDate_y
13296           0            0.625    2006aaaa    2008uuuu
23681           0            0.625    2012aaaa    20172017
8112            0            0.625    2006aaaa    2004uuuu
22130           0            0.625    1980aaaa    1900uuuu
57499           0            0.625    2012aaaa    2017uuuu

exactDate_delta = 0.625

       duplicates  exactDate_delta exactDate_x exactDate_y
36075           0           0.6875    196a9999    1969uuuu
35538           0           0.6875    200a9999    2005uuuu
35532           0           0.6875    200a9999    2004uuuu
24896           0           0.6875    196a9999    19691969
35525           0           0.6875    200a9999    2007uuuu

exactDate_delta = 0.6875

        duplicates  exactDate_delta exactDate_x exactDate_y
114947           0             0.75    2020aaaa    2020uuuu
111495           0             0.75    1988aaaa    1988uuuu
299              1             0.75    1992aaaa    1992uuuu
111627           0             0.75    1988aaaa    1988uuuu
2059             1             0.75    20111201    2011uuuu

exactDate_delta = 0.75

       duplicates  exactDate_delta exactDate_x exactDate_y
17363           0           0.8125    196a9999    19909999
36164           0           0.8125    196a9999    19859999
16345           0           0.8125    1aaa9999    19729999
15680           0           0.8125    198a9999    19909999
24843           0           0.8125    196a9999    19909999

exactDate_delta = 0.8125

       duplicates  exactDate_delta exactDate_x exactDate_y
57669           0            0.875    19879999    19859999
37286           0            0.875    19849999    19859999
28447           0            0.875    19aa9999    19869999
27710           0            0.875    19581958    19521958
2148            1            0.875    201303aa    201303uu

exactDate_delta = 0.875

      duplicates  exactDate_delta exactDate_x exactDate_y
1669           1           0.9375    200a9999    200u9999
1593           1           0.9375    196a9999    19639999
1594           1           0.9375    19639999    196u9999
1668           1           0.9375    200a9999    20049999
1667           1           0.9375    20049999    200u9999

exactDate_delta = 0.9375

      duplicates  exactDate_delta exactDate_x exactDate_y
464            1              1.0    19872016    19872016
1811           1              1.0    19831984    19831984
1153           1              1.0    20019999    20019999
2620           1              1.0    19949999    19949999
1510           1              1.0    19549999    19549999

exactDate_delta = 1.0

### format

Due to the discussion in chapter [Data Analysis](./1_DataAnalysis.ipynb), attribute $\texttt{format}$ has been split up into two new attributes $\texttt{format}\_\texttt{prefix}$ and $\texttt{format}\_\texttt{postfix}$ which will be compared by a different similarity metrics.

- As the quality of $\texttt{format}\_\texttt{prefix}$ is expected to be high, an identity comparison should be sufficient.
- Due to the observed structure of $\texttt{format}\_\texttt{postfix}$, a q-gram based comparison will be chosen.

In [35]:
attribute = 'format'

columns_metadata_dict['similarity_metrics'][attribute+'_prefix'] = tedi.Identity()
columns_metadata_dict['similarity_metrics'][attribute+'_postfix'] = tedi.Jaccard(qval=2)

pfix_values = ['_prefix', '_postfix']

for pf in pfix_values :
    df_feature_base, columns_metadata_dict = dpf.build_delta_feature(
        df_feature_base, attribute+pf,
        columns_metadata_dict['similarity_metrics'][attribute+pf],
        columns_metadata_dict)

In [36]:
for i in df_feature_base.format_prefix_delta[
    df_feature_base.format_prefix_x != df_feature_base.format_prefix_y].unique():
    
    dpf.show_samples_distinct(df_feature_base, 'format_prefix', i)
    print(f'format_prefix_delta = {i}')

        duplicates  format_prefix_delta format_prefix_x format_prefix_y
77933            0                  0.0              bk              vm
54072            0                  0.0              mu              bk
53652            0                  0.0              vm              mu
18240            0                  0.0              cr              mp
106617           0                  0.0              mu              vm

format_prefix_delta = 0.0

In [37]:
for i in df_feature_base.format_postfix_delta[
    df_feature_base.format_postfix_x != df_feature_base.format_postfix_y].unique():
    
    dpf.show_samples_distinct(df_feature_base, 'format_postfix', i)
    print(f'format_postfix_delta = {i}')

        duplicates  format_postfix_delta format_postfix_x format_postfix_y
73641            0              0.428571           030600           010300
111768           0              0.428571           010000           040000
116510           0              0.428571           020300           010300
114677           0              0.428571           030000           030300
19911            0              0.428571           030300           010300

format_postfix_delta = 0.4285714285714286

       duplicates  format_postfix_delta format_postfix_x format_postfix_y
63841           0              0.111111           020000           030600
30255           0              0.111111           020000           030500
26277           0              0.111111           020200           030600
77061           0              0.111111           020000           030300
74295           0              0.111111           030300           020200

format_postfix_delta = 0.11111111111111116

       duplicates  format_postfix_delta format_postfix_x format_postfix_y
7848            0                   1.0           030600           030600
73071           0                   1.0           010300           010300
99648           0                   1.0           020000           020000
91543           0                   1.0           020000           020000
98303           0                   1.0           020000           020000

format_postfix_delta = 1.0

        duplicates  format_postfix_delta format_postfix_x format_postfix_y
78760            0                   0.0           010300           020453
100825           0                   0.0           030600           020453
99545            0                   0.0           030000           020153
82848            0                   0.0           030653           040100
33318            0                   0.0           030600           020453

format_postfix_delta = 0.0

        duplicates  format_postfix_delta format_postfix_x format_postfix_y
33991            0                  0.25           020400           020353
63800            0                  0.25           020000           020453
69649            0                  0.25           020053           010500
105807           0                  0.25           030653           030300
51997            0                  0.25           020447           020000

format_postfix_delta = 0.25

        duplicates  format_postfix_delta format_postfix_x format_postfix_y
113283           0              0.666667           030053           030500
86350            0              0.666667           020053           020500
69094            0              0.666667           020500           020053
108021           0              0.666667           020053           020500
108042           0              0.666667           020053           020500

format_postfix_delta = 0.6666666666666666

###Â isbn

Swissbib uses each string element of the $\texttt{isbn}$ list separately for comparing with each string element of its comparison $\texttt{isbn}$ list. If two bibliographic units hold at least one element in common, this is interpreted as a strong indicator for duplicates [[WiCo2001](./A_References.ipynb#wico2001)].

This hard logic is used in a modified way in the context of this capstone project. A special comparison function $\texttt{.build}\_\texttt{delta}\_\texttt{isbn}()$ has been implemented that compares each list element of the left-hand side with each list element of the right-hand side of a pair. According to Swissbib's implementation, the Identity metric is used for string comparison, calculating a similarity value of 1.0 or 0.0 for each list element pair. For normalisation reasons, the sum of similarity values is divided by the number of elements of the smaller list. If both lists are empty a value of 1.0 is returned. If only one list is empty a value of 0.0 is returned.

In [38]:
attribute = 'isbn'

columns_metadata_dict['similarity_metrics'][attribute] = tedi.Identity()

df_feature_base, columns_metadata_dict = dpf.build_delta_feature(
    df_feature_base, attribute,
    columns_metadata_dict['similarity_metrics'][attribute],
    columns_metadata_dict)

df_feature_base[attribute+'_delta'].unique()

array([1.        , 0.        , 0.5       , 0.09090909, 0.1       ,
       0.9       , 0.18181818, 0.90909091, 0.16666667])

Some sample cases are shown below for each category of $\texttt{isbn_delta}$.

In [39]:
for isbn_delta_value in df_feature_base['isbn_delta'].unique():
    number_of_max_samples = min(
        10,
        len(df_feature_base[df_feature_base['isbn_delta']==isbn_delta_value])
    )

    dpf.show_samples_distinct(df_feature_base, 'isbn', isbn_delta_value, number_of_max_samples)
    print(f'isbn_delta = {isbn_delta_value}')

        duplicates  isbn_delta isbn_x isbn_y
33556            0         1.0     []     []
66214            0         1.0     []     []
111973           0         1.0     []     []
90758            0         1.0     []     []
64694            0         1.0     []     []
85792            0         1.0     []     []
78751            0         1.0     []     []
15858            0         1.0     []     []
86388            0         1.0     []     []
34514            0         1.0     []     []

isbn_delta = 1.0

,duplicates,isbn_delta,isbn_x,isbn_y
47584,0,0.0,[978-3-033-04116-5],[978-88-07-03266-0]
112943,0,0.0,[],[978-2-204-08497-0]
77318,0,0.0,[],[978-3-8373-0170-0]
9426,0,0.0,[978-3-86881-027-1],[]
110238,0,0.0,[1613-1304],[]
111667,0,0.0,[],[3-518-01099-9]
32380,0,0.0,[],[3-518-01099-9]
61643,0,0.0,"[3-7278-0334-7 (UniversitÃ¤tsverl.), 3-525-5368...",[]
98560,0,0.0,[],[3-7815-1375-0]
56718,0,0.0,"[3-7281-1755-2 (Vdf), 3-519-05031-5 (Teubner)]",[]

isbn_delta = 0.0

,duplicates,isbn_delta,isbn_x,isbn_y
174,1,0.5,"[3-7281-1755-2 (Verlag der Fachvereine), 3-519...","[3-7281-1755-2 (Vdf), 3-519-05031-5 (Teubner)]"
269,1,0.5,"[3-7281-1755-2 (Verlag der Fachvereine), 3-519...","[3-7281-1755-2 (Vlg. der Fachvereine), 3-519-0..."
210,1,0.5,"[3-7281-1755-2 (Vlg. der Fachvereine), 3-519-0...","[3-7281-1755-2 (Verlag der Fachvereine), 3-519..."
255,1,0.5,"[3-7281-1755-2 (Vdf), 3-519-05031-5 (Teubner)]","[3-7281-1755-2 (Vlg. der Fachvereine), 3-519-0..."
259,1,0.5,"[3-7281-1755-2 (Vdf), 3-519-05031-5 (Teubner)]","[3-7281-1755-2 (Verlag der Fachvereine), 3-519..."
256,1,0.5,"[3-7281-1755-2 (Vdf), 3-519-05031-5 (Teubner)]","[3-7281-1755-2 (Verlag der Fachvereine), 3-519..."
171,1,0.5,"[3-7281-1755-2 (Verlag der Fachvereine), 3-519...","[3-7281-1755-2 (Vlg. der Fachvereine), 3-519-0..."
2155,1,0.5,"[3-476-05278-8, 978-3-476-02276-9, 978-3-476-0...","[978-3-476-02276-9, 978-3-476-05278-0 (ebook)]"
230,1,0.5,"[3-7281-1755-2 (Verlag der Fachvereine), 3-519...","[3-7281-1755-2 (Vdf), 3-519-05031-5 (Teubner)]"
227,1,0.5,"[3-7281-1755-2 (Verlag der Fachvereine), 3-519...","[3-7281-1755-2 (Vlg. der Fachvereine), 3-519-0..."

isbn_delta = 0.5

,duplicates,isbn_delta,isbn_x,isbn_y
448,1,0.090909,"[978-3-7772-8527-6 (Gesamtwerk), 3-7772-8721-0...","[3-7772-8527-7 (Gesamtwerk), 3-7772-8721-0 (Ba..."
408,1,0.090909,"[3-7772-8527-7 (Gesamtwerk), 3-7772-8721-0 (Ba...","[978-3-7772-8527-6 (Gesamtwerk), 3-7772-8721-0..."

isbn_delta = 0.09090909090909091

,duplicates,isbn_delta,isbn_x,isbn_y
460,1,0.1,"[3-7772-8527-7, 978-3-7772-8721-8 (Bd. 1), 978...","[3-7772-8527-7, 3-7772-8721-0, 3-7772-8911-6, ..."
427,1,0.1,"[3-7772-8527-7, 978-3-7772-8721-8 (Bd. 1), 978...","[3-7772-8527-7, 3-7772-8721-0, 3-7772-8911-6, ..."
420,1,0.1,"[3-7772-8527-7, 3-7772-8721-0, 3-7772-8911-6, ...","[3-7772-8527-7, 978-3-7772-8721-8 (Bd. 1), 978..."
417,1,0.1,"[3-7772-8527-7, 3-7772-8721-0, 3-7772-8911-6, ...","[3-7772-8527-7, 978-3-7772-8721-8 (Bd. 1), 978..."

isbn_delta = 0.1

,duplicates,isbn_delta,isbn_x,isbn_y
471,1,0.9,"[3-7772-0327-0, 3-7772-0433-1, 3-7772-8721-0, ...","[3-7772-8527-7, 3-7772-8721-0, 3-7772-8911-6, ..."
421,1,0.9,"[3-7772-8527-7, 3-7772-8721-0, 3-7772-8911-6, ...","[3-7772-0327-0, 3-7772-0433-1, 3-7772-8721-0, ..."

isbn_delta = 0.9

,duplicates,isbn_delta,isbn_x,isbn_y
430,1,0.181818,"[3-7772-8527-7, 978-3-7772-8721-8 (Bd. 1), 978...","[978-3-7772-8527-6 (Gesamtwerk), 3-7772-8721-0..."
450,1,0.181818,"[978-3-7772-8527-6 (Gesamtwerk), 3-7772-8721-0...","[3-7772-8527-7, 978-3-7772-8721-8 (Bd. 1), 978..."

isbn_delta = 0.18181818181818182

,duplicates,isbn_delta,isbn_x,isbn_y
431,1,0.909091,"[3-7772-8527-7, 978-3-7772-8721-8 (Bd. 1), 978...","[3-7772-8527-7, 978-3-7772-8721-8 (Bd. 1), 978..."
461,1,0.909091,"[3-7772-8527-7, 978-3-7772-8721-8 (Bd. 1), 978...","[3-7772-8527-7, 978-3-7772-8721-8 (Bd. 1), 978..."

isbn_delta = 0.9090909090909091

,duplicates,isbn_delta,isbn_x,isbn_y
453,1,0.166667,"[978-3-7772-8527-6 (Gesamtwerk), 3-7772-8721-0...","[3-7772-8527-7, 978-3-7772-8721-8 (Bd. 1), 978..."
463,1,0.166667,"[3-7772-8527-7, 978-3-7772-8721-8 (Bd. 1), 978...","[978-3-7772-8527-6 (Gesamtwerk), 3-7772-8721-0..."

isbn_delta = 0.16666666666666666

For attribute $\texttt{isbn}$, the special marking of missing values is omitted.

### ismn

This attribute will be processed with the identity similarity metric. The reasoning for this decision is the same as for similar attributes above.

In [40]:
attribute = 'ismn'

columns_metadata_dict['similarity_metrics'][attribute] = tedi.Identity()
#tedi.Jaccard()

df_feature_base, columns_metadata_dict = dpf.build_delta_feature(
    df_feature_base, attribute,
    columns_metadata_dict['similarity_metrics'][attribute],
    columns_metadata_dict)

In [41]:
uniques[attribute], uniques_len[attribute] = dpf.determine_similarity_values(
    df_feature_base, attribute)

ismn values range [0. 1.]

In [42]:
for ismn_delta_value in df_feature_base[attribute+'_delta'].unique():
    number_of_max_samples = min(
        10,
        len(df_feature_base[df_feature_base[attribute+'_delta']==ismn_delta_value])
    )

    dpf.show_samples_distinct(df_feature_base, 'ismn', ismn_delta_value, number_of_max_samples)
    print(f'ismn_delta = {ismn_delta_value}')

        duplicates  ismn_delta ismn_x ismn_y
59696            0         1.0
55030            0         1.0
29925            0         1.0
81939            0         1.0
27270            0         1.0
115592           0         1.0
71172            0         1.0
47247            0         1.0
87011            0         1.0
113531           0         1.0

ismn_delta = 1.0

       duplicates  ismn_delta         ismn_x ismn_y
35254           0         0.0     m001068062
41176           0         0.0     m001068048
5968            0         0.0     m001068048
53212           0         0.0     m004182772
41205           0         0.0     m001068048
67906           0         0.0  9790004182772
67978           0         0.0  9790004182772
53198           0         0.0     m004182772
6027            0         0.0     m001068048
41130           0         0.0     m001068048

ismn_delta = 0.0

As can be seen in the previous chapters, attribute $\texttt{ismn}$ is filled sparsely. A lot of missing values calculate to a value of 1.0 in the chosen similarity metrics. To mark these cases specifically, they will be transformed to a negative value.

In [43]:
df_feature_base = dpf.mark_missing(df_feature_base, attribute, factor)

###Â musicid

Chapter [Data Analysis](./1_DataAnalysis.ipynb) shows that attribute $\texttt{musicid}$ is an identifyer for a music record. A Jaccard metric has been tested on this attribute, resulting in a distribution of many high similarity values on uniques. Comparing this result with the LCS metric, the latter has been decided.

In [44]:
attribute = 'musicid'

columns_metadata_dict['similarity_metrics'][attribute] = tedi.LCSStr()
#tedi.Jaccard()

df_feature_base, columns_metadata_dict = dpf.build_delta_feature(
    df_feature_base, attribute,
    columns_metadata_dict['similarity_metrics'][attribute],
    columns_metadata_dict)

In [45]:
uniques[attribute], uniques_len[attribute] = dpf.determine_similarity_values(
    df_feature_base, attribute)

musicid values range [0.         0.05555556 0.07142857 0.07692308 0.08333333 0.09090909
 0.1        0.11111111 0.125      0.14285714 0.15384615 0.16666667
 0.18181818 0.2        0.21428571 0.22222222 0.23076923 0.25
 0.27777778 0.28571429 0.30769231 0.33333333 0.35714286 0.38461538
 0.4        0.41666667 0.44444444 0.5        0.55555556 0.6
 0.66666667 0.69230769 0.75       0.8        1.        ]

In [46]:
position = uniques_len[attribute]

dpf.show_samples_interval(
    df_feature_base, attribute,
    uniques[attribute][uniques_len[attribute]-position-2],
    uniques[attribute][uniques_len[attribute]-position-1], 10)
dpf.show_samples_interval(
    df_feature_base, attribute,
    uniques[attribute][uniques_len[attribute]-position],
    uniques[attribute][uniques_len[attribute]-position+2], 10)

position = uniques_len[attribute]//2

dpf.show_samples_interval(
    df_feature_base, attribute,
    uniques[attribute][uniques_len[attribute]-position],
    uniques[attribute][uniques_len[attribute]-position+1], 10)

      duplicates  musicid_delta musicid_x musicid_y
1790           1            1.0    907063    907063
1002           1            1.0    501206    501206
1785           1            1.0    907063    907063
1029           1            1.0      1280      1280
2440           1            1.0     08435     08435
1996           1            1.0        50        50
2671           1            1.0     82503     82503
2350           1            1.0    083070    083070
1802           1            1.0    907063    907063
1003           1            1.0    501206    501206

0.8 <= musicid_delta <= 1.0

        duplicates  musicid_delta musicid_x musicid_y
98691            0            0.0
78167            0            0.0
59706            0            0.0                6161
83579            0            0.0
93942            0            0.0        50
34658            0            0.0
33008            0            0.0
108637           0            0.0
6773             0            0.0
11733            0            0.0                   1

0.0 <= musicid_delta <= 0.0714285714285714

       duplicates  musicid_delta           musicid_x           musicid_y
15098           0       0.285714       0028947755722      26671000757220
2567            1       0.277778  122354061229122351               12235
2571            1       0.277778               12235  122354061229122351
2565            1       0.277778               12235  122354061229122351
2569            1       0.277778  122354061229122351               12235

0.2777777777777778 <= musicid_delta <= 0.2857142857142857

In [47]:
dpf.show_samples_interval(
    df_feature_base[df_feature_base.duplicates==1], attribute,
    uniques[attribute][0],
    uniques[attribute][uniques_len[attribute]-1], 20)

      duplicates  musicid_delta musicid_x musicid_y
958            1            1.0    501206    501206
1037           1            1.0      1280      1280
2182           1            0.0
1002           1            1.0    501206    501206
1760           1            0.0
40             1            0.0
309            1            0.0
364            1            0.0
444            1            0.0
2498           1            0.0
748            1            0.0
2369           1            0.0
884            1            0.0     43367
709            1            0.0
681            1            0.0
1874           1            0.0
2639           1            0.0                6162
2272           1            0.0
2031           1            0.0
1279           1            0.0

0.0 <= musicid_delta <= 1.0

The attribute is filled with a degree of below $10\%$. The chosen metric for it results in a similarity value of 1.0 for empty value pairs. This effect can be adjusted with function $\texttt{.mark}\_\texttt{missing}()$ as above.

In [48]:
df_feature_base = dpf.mark_missing(df_feature_base, 'musicid', factor)

###Â part

Analogous to attribute $\texttt{edition}$ described above, the string value of this attribute can be stripped to pure number digits. Both ways, with and without letter stripping have been tried for modelling. The final decision for the best processing will be documented in chapter [Overview and Summary](./0_OverviewSummary.ipynb). Three different metrics have been tried for attribute $\texttt{part}$. Finally, metric StringCompare95 will be used.

In [49]:
attribute = 'part'

columns_metadata_dict['similarity_metrics'][attribute] = tedi.StrCmp95()
#tedi.Jaro()
#tedi.Hamming()
#tedi.LCSStr()

df_feature_base, columns_metadata_dict = dpf.build_delta_feature(
    df_feature_base, attribute,
    columns_metadata_dict['similarity_metrics'][attribute],
    columns_metadata_dict)

In [50]:
uniques[attribute], uniques_len[attribute] = dpf.determine_similarity_values(
    df_feature_base, attribute)

part values range [0.         0.32251082 0.32857143 0.33597884 0.33921569 0.34444444
 0.3452381  0.35714286 0.36060606 0.36666667 0.37037037 0.37254902
 0.37301587 0.37777778 0.38095238 0.38461538 0.38888889 0.39324619
 0.39393939 0.39417989 0.3952381  0.4        0.40277778 0.40740741
 0.41005291 0.41111111 0.41203704 0.41452991 0.41798942 0.42063492
 0.42121212 0.42222222 0.42380952 0.42592593 0.42810458 0.42857143
 0.43030303 0.43076923 0.43162393 0.43174603 0.43333333 0.43518519
 0.43557423 0.43627451 0.43650794 0.43703704 0.43813131 0.43888889
 0.44017094 0.44047619 0.44166667 0.44444444 0.44603175 0.4469697
 0.44722222 0.44761905 0.44814815 0.4484127  0.44949495 0.45
 0.45238095 0.4537037  0.45555556 0.45598846 0.45740741 0.45833333
 0.45970696 0.46031746 0.46068376 0.46176471 0.46296296 0.46405229
 0.46428571 0.46470588 0.46507937 0.46581197 0.46666667 0.46825397
 0.46851852 0.47008547 0.47056277 0.47222222 0.47301587 0.47474747
 0.47619048 0.47619048 0.47657952 0.47777778 0.47777778 0.47830688
 0.47835498 0.48104575 0.48148148 0.4832244  0.48333333 0.48412698
 0.48571429 0.48611111 0.48703704 0.48717949 0.48888889 0.48917749
 0.49007937 0.49047619 0.49175824 0.49206349 0.49338624 0.49365079
 0.49444444 0.49487179 0.4952381  0.5        0.50071225 0.50092593
 0.5026455  0.5037037  0.5047619  0.50714286 0.50793651 0.50925926
 0.50952381 0.51068376 0.51111111 0.51282051 0.51313131 0.51455026
 0.51666667 0.51794872 0.51851852 0.51890756 0.51960784 0.52222222
 0.52222222 0.52328042 0.52380952 0.52564103 0.52592593 0.52727273
 0.52777778 0.52936508 0.53030303 0.53068783 0.53104575 0.53137255
 0.53148148 0.53174603 0.53333333 0.53439153 0.53518519 0.53613445
 0.53703704 0.53888889 0.53921569 0.53947904 0.53968254 0.54074074
 0.54166667 0.54188034 0.54365079 0.54444444 0.5462963  0.54695767
 0.54761905 0.55128205 0.5515873  0.55185185 0.55555556 0.55714286
 0.55833333 0.56060606 0.56111111 0.56168831 0.56190476 0.5620915
 0.56296296 0.56313131 0.56481481 0.56507937 0.56666667 0.56709957
 0.56944444 0.57089947 0.57222222 0.57380952 0.57407407 0.57581699
 0.57592593 0.57619048 0.57671958 0.57692308 0.57777778 0.58005698
 0.58119658 0.58126362 0.58148148 0.58333333 0.58484848 0.58518519
 0.58699035 0.58715359 0.58730159 0.58787879 0.58809524 0.58862434
 0.58888889 0.59047619 0.59074074 0.59074074 0.59090909 0.59259259
 0.59292929 0.59343434 0.59477124 0.59498834 0.5952381  0.59667756
 0.5968254  0.59722222 0.5973545  0.5982906  0.59890572 0.6
 0.6022409  0.6026936  0.60280112 0.6031746  0.603367   0.6047619
 0.60555556 0.60577201 0.60683761 0.60714286 0.60740741 0.60793651
 0.61025641 0.61111111 0.61111111 0.61190476 0.61481481 0.61507937
 0.61616162 0.61640212 0.61666667 0.61764706 0.61851852 0.61904762
 0.62037037 0.62222222 0.62380952 0.62424242 0.62575758 0.62626263
 0.62626263 0.62651515 0.62962963 0.63095238 0.63333333 0.6346094
 0.63703704 0.63756614 0.63888889 0.64123377 0.64126984 0.64215686
 0.64248366 0.64285714 0.64285714 0.64417989 0.64444444 0.64444444
 0.64502165 0.64646465 0.64848485 0.64867725 0.65       0.65079365
 0.6547619  0.65555556 0.65588578 0.65627706 0.65740741 0.65833333
 0.66025641 0.66178266 0.66269841 0.66402116 0.66481481 0.66666667
 0.66851852 0.67003367 0.67142857 0.67195767 0.67222222 0.67264957
 0.6729798  0.67320261 0.67424242 0.67619048 0.67684168 0.67777778
 0.67948718 0.67973856 0.68181818 0.68198653 0.68333333 0.68518519
 0.68627451 0.68888889 0.68975469 0.68994709 0.69047619 0.69230769
 0.69259259 0.69444444 0.69494949 0.6952381  0.6959596  0.6959707
 0.6968254  0.6969697  0.6984127  0.69910873 0.7        0.7037037
 0.70454545 0.70833333 0.70845712 0.70915033 0.70959596 0.70995671
 0.71111111 0.71111111 0.71164021 0.71428571 0.71587302 0.71666667
 0.72121212 0.72222222 0.72222222 0.72446072 0.7254902  0.72619048
 0.72685185 0.72962963 0.73015873 0.73116883 0.73333333 0.73737374
 0.73809524 0.74074074 0.74531025 0.74603175 0.74627225 0.74705387
 0.74814815 0.75       0.75396825 0.75661376 0.75757576 0.76190476
 0.77777778 0.78103378 0.78333333 0.78571429 0.78888889 0.79166667
 0.79230769 0.8        0.80555556 0.80952381 0.81481481 0.81862745
 0.82010582 0.82051282 0.82212885 0.82222222 0.83333333 0.84391534
 0.84722222 0.85       0.85185185 0.86111111 0.86666667 0.87307692
 0.875      0.88095238 0.88235294 0.88888889 0.9047619  0.92307692
 0.92592593 0.93039216 0.95833333 0.96078431 1.        ]

In [51]:
position = uniques_len[attribute]

dpf.show_samples_interval(
    df_feature_base, attribute,
    uniques[attribute][uniques_len[attribute]-position-2],
    uniques[attribute][uniques_len[attribute]-position-1], 10)
dpf.show_samples_interval(
    df_feature_base, attribute,
    uniques[attribute][uniques_len[attribute]-position],
    uniques[attribute][uniques_len[attribute]-position+2], 10)

position = uniques_len[attribute]//7

dpf.show_samples_interval(
    df_feature_base, attribute,
    uniques[attribute][uniques_len[attribute]-position-2],
    uniques[attribute][uniques_len[attribute]-position-1], 10)
dpf.show_samples_interval(
    df_feature_base, attribute,
    uniques[attribute][uniques_len[attribute]-position],
    uniques[attribute][uniques_len[attribute]-position+2], 10)

        duplicates  part_delta part_x part_y
95680            0         1.0
54202            0         1.0
7045             0         1.0
94281            0         1.0
85344            0         1.0
23375            0         1.0
72886            0         1.0
100388           0         1.0
28206            0         1.0
115610           0         1.0

0.9607843137254902 <= part_delta <= 1.0

        duplicates  part_delta                part_x part_y
108138           0         0.0                            1
51051            0         0.0  53 11 2011 1143 1152
39980            0         0.0                 65 65
52675            0         0.0     20 3 2014 388 412
114509           0         0.0                     3
108800           0         0.0                   213
79021            0         0.0               245 268
116287           0         0.0                     3
11186            0         0.0                    14
75225            0         0.0               408 408

0.0 <= part_delta <= 0.3285714285714285

       duplicates  part_delta  part_x part_y
81349           0    0.722222  1 2004      1
44697           0    0.722222  1 2005      1
78511           0    0.722222  1 2005      1
78504           0    0.722222  1 2005      2
81335           0    0.722222  1 2004      2
13444           0    0.722222  2005 1      2
26606           0    0.722222  1 2005      1
34582           0    0.722222  2005 1      2
26518           0    0.722222  1 2005      2
23945           0    0.722222     133   1239

0.7222222222222222 <= part_delta <= 0.7222222222222223

       duplicates  part_delta             part_x     part_y
45125           0    0.724461      1 2005 2005 1  4520 4520
52647           0    0.725490  20 3 2014 388 412        2 4
88131           0    0.726190            1971 66       1901

0.7244607244607244 <= part_delta <= 0.7261904761904763

In this attribute, too, moving pairs of empty values to negative values will result in a clearer distinction between pairs of uniques and duplicates, as will be seen in the graphical comparison of capter [Features Discussion and Dummy Classifier Baseline](./5_FeatureDiscussionDummyBaseline.ipynb).

In [52]:
df_feature_base = dpf.mark_missing(df_feature_base, 'part', factor)

###Â person

As a result of chapter [Data Analysis](./1_DataAnalysis.ipynb), attribute $\texttt{person}$ has been split into three specific attributes. Attribute $\texttt{person}\_{100}$ and $\texttt{person}\_{700}$ hold strongly standardised string values. For comparing pure strings, a Levenshtein metric is recommended [[Chri2012](./A_References.ipynb#chri2012)]. Unfortunately, this metric shows a very long calculation time on the data of the capstone project. Comparing the similarity values of the Levenshtein metric with the similarity values of other metrics in appendix [Comparison of Similarity Metrics](./B_CompareSimilarities.ipynb), similarity metric StrCmp95 has been decided to use.

In [53]:
attribute = 'person'

columns_metadata_dict['similarity_metrics'][attribute+'_100'] = tedi.StrCmp95()
columns_metadata_dict['similarity_metrics'][attribute+'_700'] = tedi.StrCmp95()
#tedi.Levenshtein()

pe_values = ['_100', '_700']

for pe in pe_values :
    print('Calculating person'+pe)
    df_feature_base, columns_metadata_dict = dpf.build_delta_feature(
        df_feature_base, attribute+pe,
        columns_metadata_dict['similarity_metrics'][attribute+pe],
        columns_metadata_dict)

Calculating person_100
Calculating person_700

In [54]:
pe = '_100'

uniques[attribute+pe], uniques_len[attribute+pe] = dpf.determine_similarity_values(
    df_feature_base, attribute+pe)

person_100 values range [0.         0.30606061 0.30735931 ... 0.97777778 0.98181818 1.        ]

In [55]:
position = uniques_len[attribute+pe]

dpf.show_samples_interval(
    df_feature_base, attribute+pe,
    uniques[attribute+pe][uniques_len[attribute+pe]-position-2],
    uniques[attribute+pe][uniques_len[attribute+pe]-position-1], 10)
dpf.show_samples_interval(
    df_feature_base, attribute+pe,
    uniques[attribute+pe][uniques_len[attribute+pe]-position],
    uniques[attribute+pe][uniques_len[attribute+pe]-position+2], 10)

        duplicates  person_100_delta       person_100_x       person_100_y
100059           0               1.0
47109            0               1.0
61952            0               1.0
54371            0               1.0
99614            0               1.0
56550            0               1.0
67344            0               1.0
2285             1               1.0  z'graggenbrigitta  z'graggenbrigitta
72824            0               1.0
88807            0               1.0

0.9818181818181818 <= person_100_delta <= 1.0

        duplicates  person_100_delta           person_100_x      person_100_y
99284            0               0.0  hÃ¤ndelgeorg friedrich
84947            0               0.0       arnet-clarkillya
36477            0               0.0            pfannerkarl
99895            0               0.0                         corelliarcangelo
98307            0               0.0                          kaufmanndeborah
13762            0               0.0                         lindnerburkhardt
37950            0               0.0             renzulrich
104128           0               0.0          schneiderjÃ¶rg
55444            0               0.0                               millerriva
89516            0               0.0         cavalliroberto

0.0 <= person_100_delta <= 0.3073593073593073

For comparing person names, like in attribute $\texttt{person}\_{245c}$, a Jaro metric will be tested [[Chri2012](./A_References.ipynb#chri2012)].

In [56]:
pe = '_245c'

columns_metadata_dict['similarity_metrics'][attribute+pe] = tedi.Jaro()

df_feature_base, columns_metadata_dict = dpf.build_delta_feature(
    df_feature_base, attribute+pe,
    columns_metadata_dict['similarity_metrics'][attribute+pe],
    columns_metadata_dict)

In [57]:
uniques[attribute+pe], uniques_len[attribute+pe] = dpf.determine_similarity_values(
    df_feature_base, attribute+pe)

person_245c values range [0.         0.23230373 0.23389356 ... 0.99004975 0.99869281 1.        ]

In [58]:
position = uniques_len[attribute+pe]

dpf.show_samples_interval(
    df_feature_base, attribute+pe,
    uniques[attribute+pe][uniques_len[attribute+pe]-position-2],
    uniques[attribute+pe][uniques_len[attribute+pe]-position-1], 10)
dpf.show_samples_interval(
    df_feature_base, attribute+pe,
    uniques[attribute+pe][uniques_len[attribute+pe]-position],
    uniques[attribute+pe][uniques_len[attribute+pe]-position+2], 10)

,duplicates,person_245c_delta,person_245c_x,person_245c_y
34254,0,1.0,,
110203,0,1.0,,
63936,0,1.0,,
15594,0,1.0,,
37840,0,1.0,hrsg.: verband schweiz. konsumvereine,hrsg.: verband schweiz. konsumvereine
102535,0,1.0,,
70461,0,1.0,,
2509,1,1.0,regie: joachim walther,regie: joachim walther
10267,0,1.0,,
18495,0,1.0,,

0.9986928104575163 <= person_245c_delta <= 1.0

,duplicates,person_245c_delta,person_245c_x,person_245c_y
106687,0,0.0,luigi boccherini ; ed. a cura di aldo pais,
12258,0,0.0,michael koch,
93344,0,0.0,,vorgetr. von steffen reiche ; zusammengest. un...
41476,0,0.0,tylor ... [et al.] ; a cura di pietro rossi ; ...,
63776,0,0.0,par huon le roi de cambrai ; publ. d'aprÃ¨s tou...,
92008,0,0.0,[beitrÃ¤ge von] edith cresson ... [et al.] ; wi...,
105210,0,0.0,,d'aprÃ¨s l'oeuvre de jane austen ; dessins: po ...
73735,0,0.0,federazione delle colonie libere italiane in s...,
46870,0,0.0,,hergestellt von claudia oeschger
86487,0,0.0,,hans de beer ; erzÃ¤hlerin: sascha icks ; regie...

0.0 <= person_245c_delta <= 0.23389355742296913

The similarities of all three $\texttt{person}$ attributes are affected by empty values. These will be handled the same way as the attributes above.

In [59]:
pe_values = ['_100', '_245c', '_700']

for pe in pe_values :
    df_feature_base = dpf.mark_missing(df_feature_base, 'person'+pe, factor)

###Â pubinit

This attribute holds publisher strings that have a similar representation as attribute $\texttt{person}$. A Jaro metric will be used.

In [60]:
attribute = 'pubinit'

columns_metadata_dict['similarity_metrics'][attribute] = tedi.Jaro()

df_feature_base, columns_metadata_dict = dpf.build_delta_feature(
    df_feature_base, attribute,
    columns_metadata_dict['similarity_metrics'][attribute],
    columns_metadata_dict)

In [61]:
uniques[attribute], uniques_len[attribute] = dpf.determine_similarity_values(
    df_feature_base, attribute)

pubinit values range [0.         0.25196409 0.25483871 ... 0.96738351 0.97101449 1.        ]

In [62]:
position = uniques_len[attribute]//3

dpf.show_samples_interval(
    df_feature_base, attribute,
    uniques[attribute][uniques_len[attribute]-position-1],
    uniques[attribute][uniques_len[attribute]-position], 10)
dpf.show_samples_interval(
    df_feature_base, attribute,
    uniques[attribute][uniques_len[attribute]-5],
    uniques[attribute][uniques_len[attribute]-1], 10)

,duplicates,pubinit_delta,pubinit_x,pubinit_y
14257,0,0.551888,hiersemann,allgemeine musik-gesellschaft
89326,0,0.551879,schweizerische konferenz der kantonalen erzieh...,"open road integrated media, llc"
14256,0,0.551888,hiersemann,allgemeine musik-gesellschaft
73992,0,0.551879,schweizerische konferenz der kantonalen erzieh...,"open road integrated media, llc"

0.5518792412200546 <= pubinit_delta <= 0.551888341543514

        duplicates  pubinit_delta pubinit_x pubinit_y
18888            0            1.0
54774            0            1.0
15876            0            1.0
15176            0            1.0
20251            0            1.0
8478             0            1.0
94020            0            1.0
52938            0            1.0
108098           0            1.0
72101            0            1.0

0.9196490469888087 <= pubinit_delta <= 1.0

The similarities of $\texttt{pubinit}$ are affected by empty values. These will be transformed to negative values.

In [63]:
df_feature_base = dpf.mark_missing(df_feature_base, attribute, factor)

###Â scale

Comparing the similarity metrics of some sample value pairs of attribute $\texttt{scale}$ in appendix [Comparison of Similarity Metrics](./B_CompareSimilarities.ipynb), a Jaccard metrics has been identified to express the best matching behaviour for purely numerical values stored in the attribute.

In [64]:
attribute = 'scale'

columns_metadata_dict['similarity_metrics'][attribute] = tedi.Jaccard()

df_feature_base, columns_metadata_dict = dpf.build_delta_feature(
    df_feature_base, attribute,
    columns_metadata_dict['similarity_metrics'][attribute],
    columns_metadata_dict)

In [65]:
uniques[attribute], uniques_len[attribute] = dpf.determine_similarity_values(
    df_feature_base, attribute)

scale values range [0.         0.13793103 0.17857143 0.1875     0.21428571 0.25
 0.26666667 0.33333333 0.375      0.41666667 0.44444444 0.45454545
 0.5        0.57142857 0.625      0.63636364 0.66666667 0.71428571
 0.75       0.83333333 0.85714286 1.        ]

In [66]:
position = uniques_len[attribute]

dpf.show_samples_interval(
    df_feature_base, attribute,
    uniques[attribute][uniques_len[attribute]-position],
    uniques[attribute][uniques_len[attribute]-position+1], 10)
dpf.show_samples_interval(
    df_feature_base, attribute,
    uniques[attribute][uniques_len[attribute]-3],
    uniques[attribute][uniques_len[attribute]-2], 10)
dpf.show_samples_interval(
    df_feature_base, attribute,
    uniques[attribute][uniques_len[attribute]-4],
    uniques[attribute][uniques_len[attribute]-3], 10)

        duplicates  scale_delta      scale_x scale_y
56397            0          0.0        15000
48020            0          0.0  35000110000
105082           0          0.0        25000
76135            0          0.0        50000
109038           0          0.0      100 000
57881            0          0.0       100000
34217            0          0.0        25000
105896           0          0.0               15 000
106131           0          0.0                35000
38576            0          0.0               15 000

0.0 <= scale_delta <= 0.13793103448275867

       duplicates  scale_delta  scale_x  scale_y
1894            1     0.833333    50000   50 000
47225           0     0.857143   100000  1000000
2074            1     0.857143  100 000   100000
1910            1     0.833333   50 000    50000
73344           0     0.857143   100000  1000000
1888            1     0.833333    50000   50 000
46851           0     0.857143   100000  1000000
2064            1     0.857143   100000  100 000
47164           0     0.857143   100000  1000000
57884           0     0.857143   100000  1000000

0.8333333333333334 <= scale_delta <= 0.8571428571428571

        duplicates  scale_delta  scale_x  scale_y
1888             1     0.833333    50000   50 000
1909             1     0.833333   50 000    50000
1581             1     0.833333    15000   15 000
109122           0     0.750000  100 000  1000000
1584             1     0.833333   15 000    15000
1575             1     0.833333    15000   15 000
1578             1     0.833333   15 000    15000
109061           0     0.750000  100 000  1000000
1882             1     0.833333    50000   50 000
1586             1     0.833333   15 000    15000

0.75 <= scale_delta <= 0.8333333333333334

Attribute $\texttt{scale}$ is filled for maps, only. Due to its sparse filling, the similarities of the attribute are affected strongly by empty values. These empty values will be marked with a special negative value.

In [67]:
df_feature_base = dpf.mark_missing(df_feature_base, attribute, factor)

###Â ttlfull

Due to the discussion in chapter [Data Analysis](./1_DataAnalysis.ipynb), attribute $\texttt{ttlfull}$ has been split up into two new attributes $\texttt{ttlfull}\_\texttt{245}$ and $\texttt{ttlfull}\_\texttt{246}$ which will be compared by the same similarity metrics. A visual analysis of the values stored in the attribute, reveals a string of words, comparable to the strings in attribute $\texttt{person}\_\texttt{245c}$, above. The same similarity metric will be used for both title attributes, therefore.

In [68]:
attribute = 'ttlfull'

columns_metadata_dict['similarity_metrics'][attribute+'_245'] = tedi.Jaro()
columns_metadata_dict['similarity_metrics'][attribute+'_246'] = tedi.Jaro()

tf_values = ['_245', '_246']

for tf in tf_values :
    df_feature_base, columns_metadata_dict = dpf.build_delta_feature(
        df_feature_base, attribute+tf,
        columns_metadata_dict['similarity_metrics'][attribute+tf],
        columns_metadata_dict)

In [69]:
for tf in tf_values :
    uniques[attribute+tf], uniques_len[attribute+tf] = dpf.determine_similarity_values(
        df_feature_base, attribute+tf)

ttlfull_245 values range [0.         0.2427766  0.24567901 ... 0.9952381  0.99691358 1.        ]
ttlfull_246 values range [0.         0.31481481 0.31754386 ... 0.93333333 0.94639376 1.        ]

In [70]:
tf = '_245'
position = uniques_len[attribute+tf]

dpf.show_samples_interval(
    df_feature_base, attribute+tf,
    uniques[attribute+tf][uniques_len[attribute+tf]-position],
    uniques[attribute+tf][uniques_len[attribute+tf]-position+1], 10)
dpf.show_samples_interval(
    df_feature_base, attribute+tf,
    uniques[attribute+tf][uniques_len[attribute+tf]-3],
    uniques[attribute+tf][uniques_len[attribute+tf]-2], 10)
dpf.show_samples_interval(
    df_feature_base, attribute+tf,
    uniques[attribute+tf][uniques_len[attribute+tf]-4],
    uniques[attribute+tf][uniques_len[attribute+tf]-3], 10)

,duplicates,ttlfull_245_delta,ttlfull_245_x,ttlfull_245_y
80690,0,0.0,1,"lars, lass mich nicht allein! ; lars und der a..."
5955,0,0.0,"sechs bagatellen, fÃ¼r blÃ¤serquintett, (1953)",1-400
87861,0,0.0,"babylon berlin, staffel 1",1-400
29208,0,0.0,1688-1692,"wie sicher ist unsere zukunft?, quel avenir po..."
29192,0,0.0,1688-1692,"aids, a guide to clinical counseling"
16484,0,0.0,1688-1692,gedichte
34430,0,0.0,1861-1862,abhandlungen des deutschen archÃ¤ologischen ins...
34408,0,0.0,1861-1862,"sonatas for piano & violin, k 303, k 304, k 37..."
5020,0,0.0,lexikon des gesamten buchwesens,1-400
8760,0,0.0,zur verwendung von einzeldaten aus administrat...,1-400

0.0 <= ttlfull_245_delta <= 0.24277660324171957

,duplicates,ttlfull_245_delta,ttlfull_245_x,ttlfull_245_y
2343,1,0.995238,massnahmen gegen die arbeitslosigkeit vor dem ...,massnahmen gegen die arbeitslosigkeit vor dem ...
851,1,0.996914,"100 jahre edk, jubilÃ¤umsfeier vom 5./6. juni 1...","100 jahre edk, jubilÃ¤umsfeier vom 5./6. juni 1..."
850,1,0.996914,"100 jahre edk, jubilÃ¤umsfeier vom 5./6. juni 1...","100 jahre edk, jubilÃ¤umsfeier vom 5./6. juni 1..."
2342,1,0.995238,massnahmen gegen die arbeitslosigkeit vor dem ...,massnahmen gegen die arbeitslosigkeit vor dem ...
801,1,0.996914,"100 jahre edk, jubilÃ¤umsfeier vom 5./6. juni 1...","100 jahre edk, jubilÃ¤umsfeier vom 5./6. juni 1..."
736,1,0.996914,"100 jahre edk, jubilÃ¤umsfeier vom 5./6. juni 1...","100 jahre edk, jubilÃ¤umsfeier vom 5./6. juni 1..."
844,1,0.996914,"100 jahre edk, jubilÃ¤umsfeier vom 5./6. juni 1...","100 jahre edk, jubilÃ¤umsfeier vom 5./6. juni 1..."
843,1,0.996914,"100 jahre edk, jubilÃ¤umsfeier vom 5./6. juni 1...","100 jahre edk, jubilÃ¤umsfeier vom 5./6. juni 1..."
849,1,0.996914,"100 jahre edk, jubilÃ¤umsfeier vom 5./6. juni 1...","100 jahre edk, jubilÃ¤umsfeier vom 5./6. juni 1..."
827,1,0.996914,"100 jahre edk, jubilÃ¤umsfeier vom 5./6. juni 1...","100 jahre edk, jubilÃ¤umsfeier vom 5./6. juni 1..."

0.9952380952380953 <= ttlfull_245_delta <= 0.9969135802469135

,duplicates,ttlfull_245_delta,ttlfull_245_x,ttlfull_245_y
1267,1,0.994536,"wie sicher ist unsere zukunft?, beitrÃ¤ge zur w...","wie sicher ist unsere zukunft?, beitrÃ¤ge zur w..."
1272,1,0.994536,"wie sicher ist unsere zukunft?, beitrÃ¤ge zur w...","wie sicher ist unsere zukunft?, beitrÃ¤ge zur w..."
1304,1,0.994536,"wie sicher ist unsere zukunft?, beitrÃ¤ge zur w...","wie sicher ist unsere zukunft?, beitrÃ¤ge zur w..."
1306,1,0.994536,"wie sicher ist unsere zukunft?, beitrÃ¤ge zur w...","wie sicher ist unsere zukunft?, beitrÃ¤ge zur w..."
1274,1,0.994536,"wie sicher ist unsere zukunft?, beitrÃ¤ge zur w...","wie sicher ist unsere zukunft?, beitrÃ¤ge zur w..."
1292,1,0.994536,"wie sicher ist unsere zukunft?, beitrÃ¤ge zur w...","wie sicher ist unsere zukunft?, beitrÃ¤ge zur w..."
1288,1,0.994536,"wie sicher ist unsere zukunft?, beitrÃ¤ge zur w...","wie sicher ist unsere zukunft?, beitrÃ¤ge zur w..."
2343,1,0.995238,massnahmen gegen die arbeitslosigkeit vor dem ...,massnahmen gegen die arbeitslosigkeit vor dem ...
1290,1,0.994536,"wie sicher ist unsere zukunft?, beitrÃ¤ge zur w...","wie sicher ist unsere zukunft?, beitrÃ¤ge zur w..."
1286,1,0.994536,"wie sicher ist unsere zukunft?, beitrÃ¤ge zur w...","wie sicher ist unsere zukunft?, beitrÃ¤ge zur w..."

0.9945355191256832 <= ttlfull_245_delta <= 0.9952380952380953

Attribute $\texttt{ttlfull}\_\texttt{245}$ is filled for all data rows of Swissbib's raw data as can be seen in chapter [Data Analysis](./1_DataAnalysis.ipynb). For attribute $\texttt{ttlfull}\_\texttt{245}$, the filling is below $10\%$. The data pairs with missing values will be marked with a negative value as has been done for similar cases above.

In [71]:
df_feature_base = dpf.mark_missing(df_feature_base, attribute+'_246', factor)

###Â volumes

This attribute is described in chapter [Data Analysis](./1_DataAnalysis.ipynb) to hold a kind of contents that resembles the contents of attribute $\texttt{part}$. The same similarity metrics will be used for attribute $\texttt{volumes}$ as for attribute $\texttt{part}$, therefore.

In [72]:
attribute = 'volumes'

columns_metadata_dict['similarity_metrics'][attribute] = tedi.StrCmp95()
#tedi.Jaro()
#tedi.LCSSeq()
#tedi.MongeElkan()

df_feature_base, columns_metadata_dict = dpf.build_delta_feature(
    df_feature_base, attribute,
    columns_metadata_dict['similarity_metrics'][attribute],
    columns_metadata_dict)

In [73]:
uniques[attribute], uniques_len[attribute] = dpf.determine_similarity_values(
    df_feature_base, attribute)

volumes values range [0.         0.32251082 0.33333333 0.35483871 0.35714286 0.36060606
 0.36111111 0.37301587 0.37407407 0.38333333 0.39393939 0.3952381
 0.40740741 0.41039427 0.41111111 0.41666667 0.42857143 0.43030303
 0.43055556 0.43650794 0.43703704 0.44166667 0.44444444 0.44761905
 0.44949495 0.4537037  0.45448029 0.45519713 0.45555556 0.45833333
 0.46296296 0.46428571 0.46666667 0.47222222 0.47474747 0.47634409
 0.47979798 0.48148148 0.48333333 0.48412698 0.48611111 0.49007937
 0.49185868 0.49206349 0.5        0.50448029 0.50529101 0.50555556
 0.50793651 0.51075269 0.51111111 0.51190476 0.51313131 0.51388889
 0.51523297 0.51689708 0.51851852 0.51936027 0.52222222 0.52380952
 0.52727273 0.52777778 0.53030303 0.53154122 0.53174603 0.53225806
 0.53333333 0.53703704 0.53968254 0.54074074 0.54166667 0.54301075
 0.54722222 0.54761905 0.55       0.5515873  0.55468665 0.55555556
 0.55852535 0.55967742 0.55984848 0.56060606 0.56168831 0.56190476
 0.56481481 0.56507937 0.56666667 0.57245264 0.57407407 0.57706093
 0.57777778 0.57936508 0.58333333 0.58709677 0.58730159 0.58781362
 0.58862434 0.58888889 0.59090909 0.59343434 0.59351852 0.5952381
 0.59722222 0.59820789 0.59856631 0.6        0.60119048 0.60503072
 0.60714286 0.61111111 0.61507937 0.61616162 0.61666667 0.61904762
 0.62007168 0.62037037 0.62222222 0.62380952 0.62424242 0.625
 0.62634409 0.62651515 0.62777778 0.62800819 0.62962963 0.63095238
 0.63333333 0.63492063 0.63787879 0.63888889 0.64285714 0.64444444
 0.64642857 0.64669739 0.65079365 0.65264977 0.65376344 0.65555556
 0.65627706 0.65833333 0.66018519 0.66269841 0.66481481 0.66666667
 0.66935484 0.67195767 0.67222222 0.67424242 0.67619048 0.67676768
 0.67741935 0.68055556 0.68333333 0.68817204 0.68888889 0.69047619
 0.69318182 0.69444444 0.6959596  0.6969697  0.6984127  0.69892473
 0.7        0.7037037  0.70454545 0.70714286 0.70833333 0.71111111
 0.71309524 0.71428571 0.71587302 0.72121212 0.72222222 0.72222222
 0.72619048 0.72727273 0.73333333 0.73888889 0.74285714 0.74531025
 0.74603175 0.74814815 0.75       0.75151515 0.75555556 0.75757576
 0.76190476 0.76666667 0.77380952 0.77777778 0.7797619  0.78198653
 0.78253968 0.78333333 0.78571429 0.78787879 0.79047619 0.79166667
 0.8        0.8047138  0.80555556 0.80833333 0.80952381 0.81349206
 0.81944444 0.82222222 0.83333333 0.83809524 0.84920635 0.85
 0.85714286 0.86666667 0.86904762 0.875      0.88888889 0.9047619
 0.91666667 0.92592593 0.93333333 1.        ]

In [74]:
position = uniques_len[attribute]

dpf.show_samples_interval(
    df_feature_base, attribute,
    uniques[attribute][uniques_len[attribute]-position],
    uniques[attribute][uniques_len[attribute]-position+1], 10)
dpf.show_samples_interval(
    df_feature_base, attribute,
    uniques[attribute][uniques_len[attribute]-3],
    uniques[attribute][uniques_len[attribute]-2], 10)
dpf.show_samples_interval(
    df_feature_base, attribute,
    uniques[attribute][uniques_len[attribute]-4],
    uniques[attribute][uniques_len[attribute]-3], 10)

       duplicates  volumes_delta volumes_x volumes_y
46006           0            0.0                   1
13952           0            0.0       227        18
58993           0            0.0     2 104         1
24441           0            0.0     1 122       570
76508           0            0.0    346 48         2
58495           0            0.0                 531
68631           0            0.0       315         1
58549           0            0.0                   1
8694            0            0.0                 125
21733           0            0.0         1

0.0 <= volumes_delta <= 0.3225108225108224

        duplicates  volumes_delta  volumes_x  volumes_y
1485             1       0.925926  259 302 1    259 302
1479             1       0.925926    259 302  259 302 1
24385            0       0.933333      1 122       1 22
68891            0       0.933333      1 122       1 22
34109            0       0.933333      1 122       1 22
103675           0       0.933333      1 383       1 33
1481             1       0.925926    259 302  259 302 1
1475             1       0.925926  259 302 1    259 302
108340           0       0.933333       1 16      1 160
52998            0       0.933333      1 383       1 33

0.9259259259259259 <= volumes_delta <= 0.9333333333333332

        duplicates  volumes_delta  volumes_x volumes_y
89875            0       0.916667        129      1 29
30200            0       0.916667        1 3      1 30
665              1       0.916667     346 48  346 4 48
73606            0       0.916667        129      1 29
1475             1       0.925926  259 302 1   259 302
646              1       0.916667   346 4 48    346 48
111079           0       0.916667       1 82       1 2
103973           0       0.916667       1 82       1 2
1485             1       0.925926  259 302 1   259 302
55469            0       0.916667       1 82      1 28

0.9166666666666666 <= volumes_delta <= 0.9259259259259259

Attribute $\texttt{volumes}$ holds rows with missing data. The data pairs with missing values will be marked with a special negative value.

In [75]:
df_feature_base = dpf.mark_missing(df_feature_base, attribute, factor)

## DataFrame with Attributes and Similarity Features

The metric for each attribute of the feature DataFrame has been decided and the similarity features have been calculated. In this last step, the columns of the DataFrame are reordered in order to place the $\_\texttt{delta}$ columns close to their input origins $\_\texttt{x}$ and $\_\texttt{y}$ and some sample records are shown.

In [76]:
# Take _x, _y, and _delta columns together
fb_col_list = df_feature_base.columns.tolist()
fb_col_list.sort()
#Â Move target column to first place
fb_col_list.insert(0, fb_col_list.pop(fb_col_list.index('duplicates')))
# Reorder DataFrame columns
df_attribute_with_sim_feature = pd.DataFrame(df_feature_base, columns=fb_col_list)

# Extend display to number of columns of DataFrame
pd.options.display.max_columns = len(df_attribute_with_sim_feature.columns)

class_label = ['uniques', 'duplicate']

for i in class_label:
    display(df_attribute_with_sim_feature[df_attribute_with_sim_feature.duplicates==class_label.index(i)].sample(n=10))
    print(i)

,duplicates,coordinate_E_delta,coordinate_E_x,coordinate_E_y,coordinate_N_delta,coordinate_N_x,coordinate_N_y,corporate_full_delta,corporate_full_x,corporate_full_y,doi_delta,doi_x,doi_y,edition_delta,edition_x,edition_y,exactDate_delta,exactDate_x,exactDate_y,format_postfix_delta,format_postfix_x,format_postfix_y,format_prefix_delta,format_prefix_x,format_prefix_y,isbn_delta,isbn_x,isbn_y,ismn_delta,ismn_x,ismn_y,musicid_delta,musicid_x,musicid_y,part_delta,part_x,part_y,person_100_delta,person_100_x,person_100_y,person_245c_delta,person_245c_x,person_245c_y,person_700_delta,person_700_x,person_700_y,pubinit_delta,pubinit_x,pubinit_y,scale_delta,scale_x,scale_y,ttlfull_245_delta,ttlfull_245_x,ttlfull_245_y,ttlfull_246_delta,ttlfull_246_x,ttlfull_246_y,volumes_delta,volumes_x,volumes_y
19946,0,-1.0,,,-1.0,,,-0.500000,institut fÃ¼r geologie und palÃ¤ontologie,,-1.0,,,-1.0,,,0.250,19922003,2019uuuu,0.111111,030300,040000,0.0,cr,vm,0.0,[0941-0414],[],-1.0,,,-1.0,,,-1.0,,,-0.500000,,oeschgerclaudia,0.568159,"institut fÃ¼r geologie und palÃ¤ontologie, unive...",hergestellt von claudia oeschger,-1.000000,,,-1.000000,,,-1.0,,,0.419192,profil,"biblische figuren schwarzenberg, alte frau 2",-1.000000,,,-0.500000,,1 1 1
6904,0,-1.0,,,-1.0,,,-1.000000,,,-1.0,,,-1.0,,,0.250,2010aaaa,1983uuuu,0.111111,010300,020000,0.0,vm,bk,1.0,[],[],-1.0,,,-0.5,501206,,-0.5,,2,-1.000000,,,-0.500000,ein film von jean-jacques annaud ; nach einem ...,,-0.500000,"annaudjean-jacques, ecoumberto, connerysean, a...",,-1.000000,,,-1.0,,,0.378431,der name der rose,[tabellen],-1.000000,,,0.733333,1 126,1
25040,0,-1.0,,,-1.0,,,-0.500000,,kanton bernregierungsrat,-1.0,,,-0.5,3,,0.250,2000aaaa,1871uuuu,1.000000,020000,020000,1.0,bk,bk,0.0,[3-437-42190-5],[],-1.0,,,-1.0,,,-1.0,,,-1.000000,,,-0.500000,u. renz [hrsg.] ; unter mitarb. von: bernd guz...,,0.660606,"guzekbernd, renzulrich",weberjohann,-1.000000,,,-1.0,,,0.685397,"fÃ¼nferband kleine operative fÃ¤cher, kurzlehrbu...",verordnung zum schutz der waldungen gegen inse...,-0.500000,"gk3, kurzlehrbuch fÃ¼nferband kleine operative ...",,0.000000,519,1
28667,0,-1.0,,,-1.0,,,-1.000000,,,-1.0,,,-1.0,,,0.250,19549999,19992018,0.111111,030300,020200,1.0,cr,cr,0.0,[0076-6941],[],-1.0,,,-1.0,,,-1.0,,,-0.500000,,konoldwerner,-0.500000,,"werner konold, reinhard bÃ¶cker, ulrich hampicke",-0.500000,,"bÃ¶ckerreinhard, hampickeulrich",-1.000000,,,-1.0,,,0.554455,methods of biochemical analysis,"handbuch naturschutz und landschaftspflege, ko...",-0.500000,"mba, wiley series in methods of biochemical an...",,-0.500000,,4
83064,0,-1.0,,,-1.0,,,0.019231,enfoirÃ©s,winterthur schweizerische versicherungs-gesell...,-1.0,,,-1.0,,,0.250,2019aaaa,1993uuuu,0.111111,040000,020800,0.0,mu,bk,1.0,[],[],-1.0,,,-0.5,19075929179,,-1.0,,,-1.000000,,,-0.500000,,[winterthur-versicherungen],-1.000000,,,-0.500000,,[winterthur-versicherungen],-1.0,,,0.506437,"2019, le monde des enfoirÃ©s","wie sicher ist unsere zukunft?, quel avenir po...",0.472471,monde des enfoirÃ©s 2019,"how secure is our future?, quel avenir pour no...",0.486111,2 3 30 1,129
76905,0,-1.0,,,-1.0,,,-0.500000,institut d'Ã©tudes sociales,,-1.0,,,-1.0,,,0.250,1979aaaa,2012uuuu,1.000000,020000,020000,1.0,bk,bk,0.0,[],"[978-3-596-51207-2, 3-596-51207-7]",-1.0,,,-1.0,,,-0.5,8 8,,0.588889,chansonisabelle,austenjane,0.553680,par isabelle chanson,jane austen ; aus dem engl. von helene henze,-0.500000,,henzehelene,0.499814,institut d'Ã©tudes sociales,fischer taschenbuch verl.,-1.0,,,0.435494,"""... et cette musique qui chante en nous ..."",...","emma, roman",-1.000000,,,0.000000,119,735
59197,0,-1.0,,,-1.0,,,-0.500000,schweizerische konferenz der kantonalen erzieh...,,-1.0,,,-1.0,,,0.375,1998aaaa,2018uuuu,0.111111,020800,010300,0.0,bk,vm,1.0,[],[],-1.0,,,-1.0,,,-0.5,50 50 50,,-1.000000,,,0.647475,[hrsg.:] schweizerische konferenz der kantonal...,a series by tom tykwer [et autres] ; written &...,-0.500000,,"tykwertom, handloegtenhendrik, borriesachim vo...",-0.500000,sekretariat edk,,-1.0,,,0.488152,"100 jahre edk, jubilÃ¤umsfeier vom 5./6. juni 1997","babylon berlin, saison 1",-0.500000,100 ans de la cdip,,0.000000,88,3
34513,0,-1.0,,,-1.0,,,-1.000000,,,-1.0,,,-1.0,,,0.250,1953aaaa,2018uuuu,0.111111,020000,010300,0.0,bk,vm,1.0,[],[],-1.0,,,-1.0,,,-0.5,5,,-1.000000,,,-0.500000,,a series by tom tykwer [et autres] ; written &...,-0.500000,,"tykwertom, handloegtenhendrik, borriesachim vo...",-1.000000,,,-1.0,,,0.000000,1861-1862,"babylon berlin, saison 1",-1.000000,,,0.000000,553,3
106165,0,-1.0,,,-1.0,,,-0.500000,,medienlb,-1.0,,,-1.0,,,0.250,1972aaaa,2020uuuu,0.111111,020000,010300,0.0,bk,vm,1.0,[],[],-1.0,,,-0.5,,46502146,-0.5,66,,-0.500000,nerudapablo,,0.444444,pablo neruda,medienlb,-1.000000,,,-1.000000,,,-1.0,,,0.438636,gedichte,"klimaphÃ¤nomene, der einfluss von el nino auf d...",-1.000000,,,0.000000,446,1 20
75971,0,-0.5,,e0102615,-0.5,,n0463830,-0.500000,"interserv, lausanne, schweizerischer verband f...",,-1.0,,,-1.0,,,0.625,2003aaaa,2000uuuu,0.111111,020400,010300,0.0,bk,mp,0.0,[3-908003-66-0],[],-1.0,,,-1.0,,,-0.5,,1239 2000,-0.500000,heinigerfritz,,-0.500000,fritz heiniger ; mit einem exkurs von renÃ© zih...,,-0.500000,"heinigerfritz, mackd., zihlmannrenÃ©",,0.617351,bestelladresse: schweizerischer verband fÃ¼r be...,kantonaler druckschriften- und lehrmittelverlag,-0.5,,25000,0.583973,vom lehrlingspatronat zum kompetenzzentrum fÃ¼r...,mÃ¼stair,-0.500000,100 jahre svb,,0.000000,227,1

uniques

,duplicates,coordinate_E_delta,coordinate_E_x,coordinate_E_y,coordinate_N_delta,coordinate_N_x,coordinate_N_y,corporate_full_delta,corporate_full_x,corporate_full_y,doi_delta,doi_x,doi_y,edition_delta,edition_x,edition_y,exactDate_delta,exactDate_x,exactDate_y,format_postfix_delta,format_postfix_x,format_postfix_y,format_prefix_delta,format_prefix_x,format_prefix_y,isbn_delta,isbn_x,isbn_y,ismn_delta,ismn_x,ismn_y,musicid_delta,musicid_x,musicid_y,part_delta,part_x,part_y,person_100_delta,person_100_x,person_100_y,person_245c_delta,person_245c_x,person_245c_y,person_700_delta,person_700_x,person_700_y,pubinit_delta,pubinit_x,pubinit_y,scale_delta,scale_x,scale_y,ttlfull_245_delta,ttlfull_245_x,ttlfull_245_y,ttlfull_246_delta,ttlfull_246_x,ttlfull_246_y,volumes_delta,volumes_x,volumes_y
1327,1,-1.0,,,-1.0,,,-1.0,,,-1.0,,,-1.0,,,0.75,1987aaaa,1987uuuu,1.000000,020000,020000,1.0,bk,bk,1.0,[],[],-1.0,,,-1.0,,,-1.000000,,,1.0,morgenthalerfritz,morgenthalerfritz,1.000000,"fritz morgenthaler, florence weiss, marco morg...","fritz morgenthaler, florence weiss, marco morg...",0.614224,"balandiergeorges, picardmonique, weissflorence...","weissflorence, morgenthalermarco",-0.500000,ed. zoÃ©,,-1.0,,,1.000000,"conversations au bord du fleuve mourant, ethno...","conversations au bord du fleuve mourant, ethno...",-1.000000,,,1.000000,307,307
1263,1,-1.0,,,-1.0,,,-0.5,winterthur schweizerische versicherungs-gesell...,,-1.0,,,-1.0,,,0.75,1994aaaa,1994uuuu,0.428571,020000,020800,1.0,bk,bk,0.0,[3-7281-2081-2],[],-1.0,,,-1.0,,,0.777778,3,3 3,-1.0,,,0.494872,edith cresson ... <et al.>,winterthur-versicherungen,-0.500000,cressonedith,,-0.500000,,"vdf, verlag der fachvereine",-1.0,,,0.793579,"wie sicher ist unsere zukunft?, beitrÃ¤ge zur w...","wie sicher ist unsere zukunft?, quel avenir po...",-0.500000,,"how secure is our future?, quel avenir pour no...",0.500000,14 129,129
1855,1,-1.0,,,-1.0,,,1.0,"hallwag kÃ¼mmerly + frey, hallwag ag","hallwag kÃ¼mmerly + frey, hallwag ag",-1.0,,,-1.0,,,0.75,2012aaaa,2012uuuu,1.000000,020400,020400,1.0,bk,bk,1.0,[978-3-8283-0781-0],[978-3-8283-0781-0],-1.0,,,-1.0,,,-1.000000,,,1.0,knuchelherbert,knuchelherbert,0.800995,"herbert knuchel, karl lÃ¼Ã¶nd ; [vorwort: johann...","herbert knuchel, karl lÃ¼Ã¶nd",0.850000,"lÃ¼Ã¶ndkarl, schneider-ammannjohann n.",lÃ¼Ã¶ndkarl,-0.500000,,hallwag kÃ¼mmerly + frey,-1.0,,,0.990991,"die kurvenreiche fahrt, 100 jahre hallwag - ei...","die kurvenreiche fahrt, 100 jahre hallwag : ei...",0.808333,"100 jahre hallwag, hundert jahre hallwag",100 jahre hallwag,1.000000,95,95
248,1,-1.0,,,-1.0,,,-1.0,,,-1.0,,,-1.0,,,0.75,1992aaaa,1992uuuu,1.000000,020000,020000,1.0,bk,bk,0.0,"[3-7281-1755-2 (Vdf), 3-519-05031-5 (Teubner)]","[3-7281-1755-2, 3-519-05031-5]",-1.0,,,-1.0,,,0.800000,81 81,81,1.0,kochmichael,kochmichael,1.000000,michael koch,michael koch,-1.000000,,,-0.500000,verlag der fachvereine an den schweizerischen ...,,-1.0,,,0.936762,"stÃ¤dtebau in der schweiz, 1800-1990, entwicklu...","stÃ¤dtebau in der schweiz 1800-1990, entwicklun...",-1.000000,,,1.000000,315,315
1035,1,-1.0,,,-1.0,,,-0.5,jack dejohnette's special edition,,-1.0,,,-1.0,,,0.75,1984aaaa,1984uuuu,1.000000,040100,040100,1.0,mu,mu,1.0,[],[],-1.0,,,-0.5,1280,,-1.000000,,,-0.5,,dejohnettejack,-0.500000,jack dejohnette's special edition,,0.551831,dejohnettejack,"purcelljohn, murraydavid, johnsonhoward, reidr...",-0.500000,ecm,,-1.0,,,0.746377,album album,"album album, jack dejohnette's special edition",-1.000000,,,1.000000,1,1
338,1,-1.0,,,-1.0,,,-1.0,,,-1.0,,,-1.0,,,0.75,2006aaaa,2006uuuu,1.000000,020000,020000,1.0,bk,bk,1.0,"[978-3-476-01985-1, 3-476-01985-3]","[978-3-476-01985-1, 3-476-01985-3]",-1.0,,,-1.0,,,-1.000000,,,-1.0,,,0.904352,hrsg. von burkhardt lindner ; unter mitarb. vo...,hrsg. von burkhardt lindner ; unter mitarb. vo...,0.677778,"kÃ¼pperthomas, lindnerburkhardt",lindnerburkhardt,-1.000000,,,-1.0,,,0.932368,"benjamin-handbuch, leben, werk, wirkung","benjamin-handbuch, leben - werk - wirkung",-1.000000,,,1.000000,720,720
2182,1,-1.0,,,-1.0,,,-1.0,,,-1.0,,,-1.0,,,0.75,2015aaaa,2015uuuu,1.000000,020300,020300,1.0,vm,vm,1.0,"[978-3-8346-2728-5, 3-8346-2728-3]",[978-3-8346-2728-5],-1.0,,,-1.0,,,-1.000000,,,-1.0,,,-1.000000,,,-1.000000,,,-1.000000,,,-1.0,,,0.988095,80 bild-impulse situationen,80 bild-impulse: situationen,-0.500000,,achtzig bild-impulse: situationen,0.777778,1 80 1,80
1517,1,-1.0,,,-1.0,,,-1.0,,,-1.0,,,-1.0,,,1.00,19549999,19549999,1.000000,030600,030600,1.0,cr,cr,1.0,[0076-6941],[0076-6941],-1.0,,,-1.0,,,-1.000000,,,-1.0,,,-1.000000,,,-1.000000,,,-1.000000,,,-1.0,,,1.000000,methods of biochemical analysis,methods of biochemical analysis,-1.000000,,,-1.000000,,
252,1,-1.0,,,-1.0,,,-1.0,,,-1.0,,,-1.0,,,0.75,1992aaaa,1992uuuu,1.000000,020000,020000,1.0,bk,bk,0.5,"[3-7281-1755-2 (Vdf), 3-519-05031-5 (Teubner)]","[3-7281-1755-2 (Verlag der Fachvereine), 3-519...",-1.0,,,-1.0,,,0.800000,81 81,81,1.0,kochmichael,kochmichael,1.000000,michael koch,michael koch,-1.000000,,,0.702778,verlag der fachvereine an den schweizerischen ...,"verlag der fachvereine, b.g. teubner",-1.0,,,0.936762,"stÃ¤dtebau in der schweiz, 1800-1990, entwicklu...","stÃ¤dtebau in der schweiz 1800-1990, entwicklun...",-1.000000,,,1.000000,315,315
1762,1,-1.0,,,-1.0,,,-1.0,,,-1.0,,,-1.0,,,0.75,1979aaaa,1979uuuu,1.000000,020300,020300,1.0,bk,bk,1.0,[],[],-1.0,,,-1.0,,,-1.000000,,,1.0,elmigerberchtold,elmigerberchtold,0.838469,berchtold elmiger,von berchtold elmiger,-1.000000,,,-0.500000,,[s.n.],-1.0,,,0.982352,10-jahresergebnisse von 134 sog. setzholz-tota...,"10-jahres-ergebnisse von 134 sog, setzholz-tot...",-1.000000,,,0.000000,1,62

duplicate

## Summary

This chapter covers the central area of feature construction. The features of the feature matrix have been generated for each attribute of Swissbib's raw data, deciding on its similarity metric. With these metric values, the feature base DataFrame has been extended and a new DataFrame with the attribute values of the pairs together with their calculated similarity value have been generated. The similarity values will be the final features for training and performance testing of the models, compare [[JudACaps](./A_References.ipynb#judacaps)].

In [77]:
columns_metadata_dict['similarity_metrics']

{'coordinate_E': LCSStr({'qval': 1, 'external': True}),
 'coordinate_N': LCSStr({'qval': 1, 'external': True}),
 'corporate_full': LCSStr({'qval': 1, 'external': True}),
 'doi': Identity({'qval': 1, 'external': True}),
 'edition': Jaccard({'qval': 1, 'as_set': False, 'external': True}),
 'exactDate': Hamming({'qval': 1, 'test_func': <function Base._ident at 0x7fbca6b6a2f0>, 'truncate': False, 'external': True}),
 'format_prefix': Identity({'qval': 1, 'external': True}),
 'format_postfix': Jaccard({'qval': 2, 'as_set': False, 'external': True}),
 'isbn': Identity({'qval': 1, 'external': True}),
 'ismn': Identity({'qval': 1, 'external': True}),
 'musicid': LCSStr({'qval': 1, 'external': True}),
 'part': StrCmp95({'long_strings': False, 'external': True}),
 'person_100': StrCmp95({'long_strings': False, 'external': True}),
 'person_700': StrCmp95({'long_strings': False, 'external': True}),
 'person_245c': Jaro({'qval': 1, 'long_tolerance': False, 'winklerize': False, 'external': True}),
 'pubinit': Jaro({'qval': 1, 'long_tolerance': False, 'winklerize': False, 'external': True}),
 'scale': Jaccard({'qval': 1, 'as_set': False, 'external': True}),
 'ttlfull_245': Jaro({'qval': 1, 'long_tolerance': False, 'winklerize': False, 'external': True}),
 'ttlfull_246': Jaro({'qval': 1, 'long_tolerance': False, 'winklerize': False, 'external': True}),
 'volumes': StrCmp95({'long_strings': False, 'external': True})}

The similarity metric decided for each attribute has been added as an additional piece of information to the columns metadata dictionary. The following table gives this summary in a structured form and lists the metric used for each attribute. Attributes with the same font color indicate similar types of values (description column) for better orientation.

| attribute     | subtype | description | similarity metric |
| ------------- |:--------|:------------|:------------------|
|<font color='red'>[coordinate](#coordinate)</font>|<font color='red'>\_E</font>|<font color='red'>Code(9)</font>|<font color='red'>LCSStr</font>|
|               |<font color='red'>\_N</font>|<font color='red'>Code(9)</font>|<font color='red'>LCSStr</font>|
|<font color='blue'>[corporate](#corporate)</font>|<font color='blue'>\_full</font>|<font color='blue'>Name</font>|<font color='blue'>LCSStr</font>|
|<font color='green'>[doi](#doi)</font>|         |<font color='green'>Identifier</font>|<font color='green'>Identity</font>|
|<font color='orange'>[edition](#edition)</font>|         |<font color='orange'>Number</font>|<font color='orange'>Jaccard</font>|
|<font color='black'>[exactDate](#exactDate)</font>|         |<font color='black'>Date</font>|<font color='black'>Hamming</font>|
|<font color='red'>[format](#format)</font>|<font color='red'>\_prefix</font>|<font color='red'>Code(2)</font>|<font color='red'>Identity</font>|
|               |<font color='red'>\_postfix</font>|<font color='red'>Code(6)</font>|<font color='red'>Jaccard (qval=2)</font>|
|<font color='green'>[isbn](#isbn)</font>|         |<font color='green'>Identifier</font>|<font color='green'>Identity</font>|
|<font color='green'>[ismn](#ismn)</font>|         |<font color='green'>Identifier</font>|<font color='green'>Identity</font>|
|<font color='green'>[musicid](#musicid)</font>|         |<font color='green'>Identifier</font>|<font color='green'>LCSStr</font>|
|<font color='orange'>[part](#part)</font>|         |<font color='orange'>Number</font>|<font color='orange'>StrCmp95</font>|
|<font color='blue'>[person](#person)</font>|<font color='blue'>\_100</font>|<font color='blue'>Name</font>|<font color='blue'>StrCmp95</font>|
|               |<font color='blue'>\_700</font>|<font color='blue'>Name</font>|<font color='blue'>StrCmp95</font>|
|               |<font color='blue'>\_245c</font>|<font color='blue'>Name</font>|<font color='blue'>Jaro</font>|
|<font color='blue'>[pubinit](#pubinit)</font>|         |<font color='blue'>Name</font>|<font color='blue'>Jaro</font>|
|<font color='orange'>[scale](#scale)</font>|         |<font color='orange'>Number</font>|<font color='orange'>Jaccard</font>|
|<font color='blue'>[ttlfull](#ttlfull)</font>|<font color='blue'>\_245</font>|<font color='blue'>String</font>|<font color='blue'>Jaro</font>|
|               |<font color='blue'>\_246</font>|<font color='blue'>String</font>|<font color='blue'>Jaro</font>|
|<font color='orange'>[volumes](#volumes)</font>|         |<font color='orange'>Number</font>|<font color='orange'>StrCmp95</font>|

###Â Full Feature Matrix with Target Vector Handover

To hand over the resulting DataFrame of this chapter, the DataFrame is saved into a pickle file that will be read in the next chapters [Features Discussion and Dummy Classifier Baseline](./5_FeatureDiscussionDummyBaseline.ipynb) as input.

In [78]:
# Store into compressed intermediary file
with bz2.BZ2File(os.path.join(path_goldstandard,
                       'labelled_feature_matrix_full.pkl'), 'w') as df_output_file:
    pk.dump(df_attribute_with_sim_feature, df_output_file)

The full metadata dictionary is to be persisted for handover to subsequent chapters.

In [79]:
# The target is still needed for the feature matrix
columns_metadata_dict['features'].append('duplicates')

for k in columns_metadata_dict.keys():
    print(k, '\n', columns_metadata_dict[k], '\n')

data_analysis_columns
 ['coordinate_E', 'coordinate_N', 'corporate_full', 'doi', 'edition', 'exactDate', 'format_prefix', 'format_postfix', 'isbn', 'ismn', 'musicid', 'part', 'person_100', 'person_700', 'person_245c', 'pubinit', 'scale', 'ttlfull_245', 'ttlfull_246', 'volumes']

columns_to_use
 ['duplicates', 'coordinate_E_x', 'coordinate_E_y', 'coordinate_N_x', 'coordinate_N_y', 'corporate_full_x', 'corporate_full_y', 'doi_x', 'doi_y', 'edition_x', 'edition_y', 'exactDate_x', 'exactDate_y', 'format_prefix_x', 'format_prefix_y', 'format_postfix_x', 'format_postfix_y', 'isbn_x', 'isbn_y', 'ismn_x', 'ismn_y', 'musicid_x', 'musicid_y', 'part_x', 'part_y', 'person_100_x', 'person_100_y', 'person_700_x', 'person_700_y', 'person_245c_x', 'person_245c_y', 'pubinit_x', 'pubinit_y', 'scale_x', 'scale_y', 'ttlfull_245_x', 'ttlfull_245_y', 'ttlfull_246_x', 'ttlfull_246_y', 'volumes_x', 'volumes_y']

similarity_metrics
 {'coordinate_E': LCSStr({'qval': 1, 'external': True}), 'coordinate_N': LCSStr({'qval': 1, 'external': True}), 'corporate_full': LCSStr({'qval': 1, 'external': True}), 'doi': Identity({'qval': 1, 'external': True}), 'edition': Jaccard({'qval': 1, 'as_set': False, 'external': True}), 'exactDate': Hamming({'qval': 1, 'test_func': <function Base._ident at 0x7fbca6b6a2f0>, 'truncate': False, 'external': True}), 'format_prefix': Identity({'qval': 1, 'external': True}), 'format_postfix': Jaccard({'qval': 2, 'as_set': False, 'external': True}), 'isbn': Identity({'qval': 1, 'external': True}), 'ismn': Identity({'qval': 1, 'external': True}), 'musicid': LCSStr({'qval': 1, 'external': True}), 'part': StrCmp95({'long_strings': False, 'external': True}), 'person_100': StrCmp95({'long_strings': False, 'external': True}), 'person_700': StrCmp95({'long_strings': False, 'external': True}), 'person_245c': Jaro({'qval': 1, 'long_tolerance': False, 'winklerize': False, 'external': True}), 'pubinit': Jaro({'qval': 1, 'long_tolerance': False, 'winklerize': False, 'external': True}), 'scale': Jaccard({'qval': 1, 'as_set': False, 'external': True}), 'ttlfull_245': Jaro({'qval': 1, 'long_tolerance': False, 'winklerize': False, 'external': True}), 'ttlfull_246': Jaro({'qval': 1, 'long_tolerance': False, 'winklerize': False, 'external': True}), 'volumes': StrCmp95({'long_strings': False, 'external': True})}

features
 ['coordinate_E_delta', 'coordinate_N_delta', 'corporate_full_delta', 'doi_delta', 'edition_delta', 'exactDate_delta', 'format_prefix_delta', 'format_postfix_delta', 'isbn_delta', 'ismn_delta', 'musicid_delta', 'part_delta', 'person_100_delta', 'person_700_delta', 'person_245c_delta', 'pubinit_delta', 'scale_delta', 'ttlfull_245_delta', 'ttlfull_246_delta', 'volumes_delta', 'duplicates']

In [80]:
# Binary intermediary metadata file
with open(os.path.join(path_goldstandard,
                       'columns_metadata.pkl'), 'wb') as dict_output_file:
    pk.dump(columns_metadata_dict, dict_output_file)