In [1]:
factor = 1.0
exactDate_mode = 'xor'

# Feature Matrix Generation

In chapter [Goldstandard and Data Preparation](./2_GoldstandardDataPreparation.ipynb), Swissbib's goldstandard data has been processed to form records of pairs of duplicate and pairs of unique records. These records are the starting point for the final feature matrix generation and that is the reason, why the DataFrame was called feature base. As described in [[JudACaps](./A_References.ipynb#judacaps)], the next step will be an attribute-wise comparison of each attribute pair of each record in the original feature base. This comparison will generate similarity values for each attribute pair. It will halve the number of attributes replacing each attribute pair with one value expressing their degree of similarity. The goal of this chapter is a DataFrame with the full and final feature attributes. The values of these feature attributes will be used for training and performance testing of the machine learning models in the chapters to follow.

This chapter introduces similarity metrics for string comparisons. The metrics to be used for calculating its similarity will be decided for each attribute pair of the DataFrame built in the previous chapters.

## Table of Contents

- [Data Takeover](#Data-Takeover)
- [Object Distance and Similarity](#Object-Distance-and-Similarity)
    - [Mathematical Definitions](#Mathematical-Definitions)
    - [Library TextDistance](#Library-TextDistance)
- [Similarity Metrics on Attribute Level](#Similarity-Metrics-on-Attribute-Level)
    - [Table of Contents of Attribute Similarities](#Table-of-Contents-of-Attribute-Similarities)
- [DataFrame with Attributes and Similarity Features](#DataFrame-with-Attributes-and-Similarity-Features)
- [Summary](#Summary)
    - [Full Feature Matrix with Target Vector Handover](#Full-Feature-Matrix-with-Target-Vector-Handover)

## Data Takeover

Swissbib's raw data of the goldstandard has been processed in chapter [Goldstandard and Data Preparation](./2_GoldstandardDataPreparation.ipynb). As the first step of this chapter, this data is loaded for further processing to the feature matrix and target vector for the subsequent machine learning model chapters.

In [2]:
import os
import pandas as pd
import pickle as pk
import bz2
import _pickle as cPickle

path_goldstandard = './daten_goldstandard'

# Restore metadata so far
with open(os.path.join(path_goldstandard, 'columns_metadata.pkl'), 'rb') as handle:
    columns_metadata_dict = pk.load(handle)

# Restore DataFrame with features from compressed pickle file
with bz2.BZ2File((os.path.join(
    path_goldstandard, 'feature_base_df.pkl')), 'rb') as file:
    df_feature_base = cPickle.load(file)

# Extend display to number of columns of DataFrame
pd.options.display.max_columns = len(df_feature_base.columns)

df_feature_base.head()

,035liste_x,035liste_y,century_x,century_y,coordinate_E_x,coordinate_E_y,coordinate_N_x,coordinate_N_y,coordinate_x,coordinate_y,corporate_110_x,corporate_110_y,corporate_710_x,corporate_710_y,corporate_full_x,corporate_full_y,decade_x,decade_y,docid_x,docid_y,doi_x,doi_y,duplicates,edition_x,edition_y,exactDate_x,exactDate_y,format_postfix_x,format_postfix_y,format_prefix_x,format_prefix_y,isbn_x,isbn_y,ismn_x,ismn_y,masters_docid,musicid_x,musicid_y,pages_x,pages_y,part_x,part_y,person_100_x,person_100_y,person_245c_x,person_245c_y,person_700_x,person_700_y,pubinit_x,pubinit_y,pubword_x,pubword_y,pubyear_x,pubyear_y,scale_x,scale_y,ttlfull_245_x,ttlfull_245_y,ttlfull_246_x,ttlfull_246_y,ttlpart_x,ttlpart_y,volumes_x,volumes_y
0,"[(OCoLC)731635279, (ABN)000539983]","[(OCoLC)731635279, (ABN)000539983]",2009,2009,,,,,[],[],,,,,,,2009,2009,000311049,000311049,,,1,,,2009uuuu,2009uuuu,020000,020000,bk,bk,[978-3-15-020008-7],[978-3-15-020008-7],,,504389793,,,[600 S.],[600 S.],20008,20008,austenjane,austenjane,jane austen ; aus dem englischen übersetzt von...,jane austen ; aus dem englischen übersetzt von...,"grawechristian, graweursula","grawechristian, graweursula",reclam jun.,reclam jun.,[Reclam jun.],[Reclam jun.],2009,2009,,,"emma, roman","emma, roman",,,"{'245': ['Emma', 'Roman']}","{'245': ['Emma', 'Roman']}",600,600
1,"[(OCoLC)731635279, (ABN)000539983]","[(OCoLC)731635279, (NEBIS)009587153]",2009,2009,,,,,[],[],,,,,,,2009,2009,000311049,196506476,,,1,,,2009uuuu,2009uuuu,020000,020000,bk,bk,[978-3-15-020008-7],[978-3-15-020008-7],,,504389793,,,[600 S.],[600 S.],20008,20008,austenjane,austenjane,jane austen ; aus dem englischen übersetzt von...,jane austen ; aus dem engl. übers. von ursula ...,"grawechristian, graweursula",,reclam jun.,reclam,[Reclam jun.],[Reclam],2009,2009,,,"emma, roman",emma,,,"{'245': ['Emma', 'Roman']}",{'245': ['Emma']},600,600
2,"[(OCoLC)731635279, (ABN)000539983]","[(OCoLC)731635279, (LIBIB)000315536]",2009,2009,,,,,[],[],,,,,,,2009,2009,000311049,323173349,,,1,,,2009uuuu,2009uuuu,020000,020000,bk,bk,[978-3-15-020008-7],[978-3-15-020008-7],,,504389793,,,[600 S.],[600 S.],20008,20008,austenjane,austenjane,jane austen ; aus dem englischen übersetzt von...,jane austen,"grawechristian, graweursula",,reclam jun.,reclam,[Reclam jun.],[Reclam],2009,2009,,,"emma, roman","emma, roman",,,"{'245': ['Emma', 'Roman']}","{'245': ['Emma', 'Roman']}",600,600
3,"[(OCoLC)731635279, (NEBIS)009587153]","[(OCoLC)731635279, (ABN)000539983]",2009,2009,,,,,[],[],,,,,,,2009,2009,196506476,000311049,,,1,,,2009uuuu,2009uuuu,020000,020000,bk,bk,[978-3-15-020008-7],[978-3-15-020008-7],,,504389793,,,[600 S.],[600 S.],20008,20008,austenjane,austenjane,jane austen ; aus dem engl. übers. von ursula ...,jane austen ; aus dem englischen übersetzt von...,,"grawechristian, graweursula",reclam,reclam jun.,[Reclam],[Reclam jun.],2009,2009,,,emma,"emma, roman",,,{'245': ['Emma']},"{'245': ['Emma', 'Roman']}",600,600
4,"[(OCoLC)731635279, (NEBIS)009587153]","[(OCoLC)731635279, (NEBIS)009587153]",2009,2009,,,,,[],[],,,,,,,2009,2009,196506476,196506476,,,1,,,2009uuuu,2009uuuu,020000,020000,bk,bk,[978-3-15-020008-7],[978-3-15-020008-7],,,504389793,,,[600 S.],[600 S.],20008,20008,austenjane,austenjane,jane austen ; aus dem engl. übers. von ursula ...,jane austen ; aus dem engl. übers. von ursula ...,,,reclam,reclam,[Reclam],[Reclam],2009,2009,,,emma,emma,,,{'245': ['Emma']},{'245': ['Emma']},600,600

Now, the feature base can be reduced to the columns used for processing.

In [3]:
# The DataFrame of pairs with target information
df_feature_base = df_feature_base[columns_metadata_dict['columns_to_use']]

df_feature_base.sample(n=5)

,duplicates,coordinate_E_x,coordinate_E_y,coordinate_N_x,coordinate_N_y,corporate_full_x,corporate_full_y,doi_x,doi_y,edition_x,edition_y,exactDate_x,exactDate_y,format_prefix_x,format_prefix_y,format_postfix_x,format_postfix_y,isbn_x,isbn_y,ismn_x,ismn_y,musicid_x,musicid_y,part_x,part_y,person_100_x,person_100_y,person_700_x,person_700_y,person_245c_x,person_245c_y,pubinit_x,pubinit_y,scale_x,scale_y,ttlfull_245_x,ttlfull_245_y,ttlfull_246_x,ttlfull_246_y,volumes_x,volumes_y
215273,0,,,,,,,,,,,2015uuuu,1994uuuu,bk,bk,020000,020000,[978-0-7294-0965-0],[],,,,,13,1,voltaire,,venturinodiego,,sous la dir. de diego venturino = [les oeuvres...,[sigrid kessler... et al.] ; [hrsg.] interkant...,voltaire foundation,[staatlicher lehrmittelverlag],,,"the complete works of voltaire, siècle de loui...","bonne chance!, cours de langue française, 1, d...",,,407,93
131874,0,,,,,,,,,,2,1982uuuu,20130627,bk,bk,020000,020053,[],"[978-3-648-04701-9, 3-648-04701-9 (EBook) : US...",,,,,3,,,,,"basuandreas, faustliane",sigrid kessler... [et al.] ; [éd.:] interkanto...,,staatlicher lehrmittelverl.,"r haufe verlag gmbh & co. kg, ebl - ebook libr...",,,"bonne chance!, cours de langue française, deux...","gewaltfreie kommunikation, taschenguide",,,256,1
63712,0,,,,,,,,,,,uuuuuuuu,2007uuuu,mu,bk,010200,020053,[],"[978-3-598-31808-5 (print), 978-3-11-092585-2]",,,5944,,,48 48,mozartwolfgang amadeus,mortzfeldpeter,schikanederemanuel,raabepaul,wolfgang amadeus mozart ; eine romantische ope...,"mortzfeld, peter; raabe, paul",,de gruyter saur,,,"die zauberflöte, il flauto magico : oper in zw...",katalog der graphischen porträts in der herzog...,"die zauberflöte, ausgabe für gesang und klavier",,1,1 374
197622,0,e0074147,,n0460833,,eidgenössisches topographisches bureau,,,,,,1862uuuu,1968uuuu,mp,bk,010300,020000,[],[],,,,,23 1862,,,mozartwolfgang amadeus,"dufourguillaume henri, müllhaupthans heinrich,...",schikanederemanuel,g.h. dufour direxit ; h. müllhaupt sculpsit,wolfgang amadeus mozart ; verf. von emmanuel s...,,,100000,,"domo d'ossola, arona","die zauberflöte, [textbuch] = the magic vlute ...",,,1,76
42823,0,,e0074147,,n0460833,,schweizeidgenössisches topographisches bureau,,,,,1993uuuu,1870uuuu,mu,mp,010100,010300,[963-8303-08-5],[],,,,,,23 23 1870 23,mozartwolfgang amadeus,,,"dufourguillaume-henri, müllhauptheinrich",wolfgang amadeus mozart,g. h. dufour direxit ; h. müllhaupt sculpsit,könemann,[eidg. topographisches bureau],,100000,"die zauberflöte, partitura","domo d'ossola, arona",,"[domodossola, arona]",225,1

In [4]:
print('Number of rows labelled as duplicates {:,d}'.format(len(df_feature_base[
    df_feature_base.duplicates==1])))
print('Number of rows labelled as uniques {:,d}'.format(len(df_feature_base[
    df_feature_base.duplicates==0])))
print('Total number of rows in DataFrame {:,d}'.format(df_feature_base.shape[0],
      'number of columns', df_feature_base.shape[1]))

Number of rows labelled as duplicates 1,473
Number of rows labelled as uniques 257,955
Total number of rows in DataFrame 259,428

In [5]:
print('Part of duplicates (1) and uniques (0) in units of [%]')
print(round(100*df_feature_base.duplicates.value_counts(normalize=True), 2))

Part of duplicates (1) and uniques (0) in units of [%]
0    99.43
1     0.57
Name: duplicates, dtype: float64

DataFrame feature base is the starting point used for the further processing in this chapter.

## Object Distance and Similarity

A mathematical idea of distance and similarity is needed for understanding object pair comparison. This section starts with a motivation for calculating similarities and afterwards gives a very basic definition of the two central terms, distance and similarity. The text of this section is a summary of [[Chri2012](./A_References.ipynb#chri2012)].

### Mathematical Definitions

The attributes to be used for pair comparison may contain values of poor quality. The quality originates in the way the data has been entered at the very source. Manual data entry may suffer from mistyping, automatically scanned data may suffer from insufficiencies of the scanned base material or the recognition algorithm in the optical character recognition (OCR) processing. The basic step of a deduplication process is to identify the probability of two strings of a pair to be a pair of duplicates. This is done by calculating a similarity value between the two strings compared, rather than using an exact comparison function. Based on this common similarity value for an attribute pair, their being duplicates can be decided.

The term similarity is strongly coupled to the term of distance of two values of an attribute. Mathematically, a distance can be explained with the help of a distance function. A _distance function_ or _distance metric_ $dist(o_i, o_j)$ between two points or data objects $o_i$ and $o_j$ must fulfill four requirements.

1. $dist(o_i, o_i)=0$, the distance from an object to itself is zero.
- $dist(o_i, o_j)\ge 0$, the distance between two objects is a non-negative number.
- $dist(o_i, o_j)=dist(o_j, o_i)$, the distance between two objects is symmetric.
- $dist(o_i, o_j)\le dist(o_i, o_k)+dist(o_k, o_j)$, the triangular inequality must hold. It states that the direct distance beween two objects is never larger than the combined distance when going through a third object.

A distance value expresses the dissimilarity $d$ of two objects [[HanK2012](./A_References.ipynb#hank2012)] and can therefore be converted into a similarity value $s$, calculating $s = \frac{1}{d}$, assuming $d\gt 0$. Alternatively, assuming the distance value is normalised $0\le d\le 1$, the similarity value can be calculated to $s = 1-d$. A _similarity function_ $sim(a_i, aj)$ between two attributes which can be strings, numbers, dates, geographic locations, text, XML documents, etc. fulfills the general requirements.

1. $sim(a_i, a_i)=1$, the result of comparing a value with itself is an exact similarity.
- $sim(a_i, a_j)=0$, the similarity of values that are completely different from each other is 0. What accounts for 'complete different' depends upon the type of data that are compared.
- $0\lt sim(a_i, a_j)\lt 1$, an approximate similarity between exact similarity and total dissimilarity is calculated if two attribute values are somewhat similar to each other. What accounts for 'somewhat different' depends upon the type of data that are compared.

The dissimilarity between two objects $o_i$ and $o_j$ can be computed based on the ratio of mismatches,
$$
d(o_i, o_j) = \frac{p-m}{p},
$$
where $m$ is the number of matching attributes and $p$ is the total number of attributes describing the objects [[HanK2012](./A_References.ipynb#hank2012)]. Thus the similarity between two objects can be computed as
$$
sim(o_i, o_j) = 1 - d(o_i, o_j) = \frac{m}{p}.
$$

For data deduplication, a comparison function needs to be tailored to the type of underlying data. Although there is a correspondence between a similarity function and the mathematical concept of a distance function, not all known and implemented similarity comparison functions used for string pair comparison fulfill the requirements of a distance function. Some similarity functions are not symmetric, others do not fulfill the triangular inequality. Decision taking on the best similarity function for a string pair, will be based on the effect, a similarity function has for the purpose needed. In the case of this capstone project, this purpose is its capability to contribute to the prediction whether a pair of records is a pair duplicates or a pair of uniques.

### Library TextDistance

An internet research on string distance calculation with Python has revealed libraries [[StSi](./A_References.ipynb#stsi)], [[TeDi](./A_References.ipynb#tedi)] and seperate code snippets for distinct algorithms. After trying the referenced libraries and a downloaded code snippet for a Smith Waterman similarity [[SmWa](./A_References.ipynb#smwa)], the text distance library [[TeDi](./A_References.ipynb#tedi)] has been decided to be the best decision for this capstone project. The decision is based on the github statistics of stars and the date of the latest pull requests, indicating its popularity and maintenance activity of the library. A look at the API of the library, reveals the Python library to be a complete implementation (compared to suggestions of similarity metrics in [[Chri2012](./A_References.ipynb#chri2012)]) and easy to use.

In [6]:
# Install textdistance Python library - if not done, yet.
! pip install textdistance

Requirement already satisfied: textdistance in /Users/andreas/anaconda3/lib/python3.7/site-packages (4.1.5)

For using the library, see documentation in [[TeDi](./A_References.ipynb#tedi)]. For the purposes of this chapter, function $\texttt{.normalized}\_\texttt{similarity}()$ of an instantiated textdistance object will be used.

In [7]:
import textdistance as tedi

With the code line above, the library is imported for application in this chapter. In appendix [Comparison of Similarity Metrics](./B_CompareSimilarities.ipynb) the effects of the similarity metrics of the library are compared for better understanding of their specific behaviour. This comparison for each attribute is the basis of deciding the best similarity metric available for an attribute pair.

## Similarity Metrics on Attribute Level

This section implements the decision for calculating the similarity metric for each attribute of the raw data based on appendix [Comparison of Similarity Metrics](./B_CompareSimilarities.ipynb). The implementation is applied on a pair of attributes of two records, resulting in a new attribute, the similarity value, of the final feature matrix. A general function $\texttt{.build}\_\texttt{delta}\_\texttt{feature}()$ is provided by the code file [data_preparation_funcs.py](./data_preparation_funcs.py) for transforming two attributes into their feature attribute holding their similarity value.

In [8]:
import data_preparation_funcs as dpf

The two dictionaries of the following code cell will be filled by function $\texttt{.build}\_\texttt{delta}\_\texttt{feature}()$.

In [9]:
columns_metadata_dict['similarity_metrics'] = {}
columns_metadata_dict['features'] = []

### Table of Contents of Attribute Similarities

- [coordinate](#coordinate)
- [corporate](#corporate)
- [doi](#doi)
- [edition](#edition)
- [exactDate](#exactDate)
- [format](#format)
- [isbn](#isbn)
- [ismn](#ismn)
- [musicid](#musicid)
- [part](#part)
- [person](#person)
- [pubinit](#pubinit)
- [scale](#scale)
- [ttlfull](#ttlfull)
- [volumes](#volumes)

### coordinate

As discussed in chapter [Data Analysis](./1_DataAnalysis.ipynb), attribute $\texttt{coordinate}$ holds coordinates of maps. To decide whether a map covers the same geographical range, a metric will be chosen that compares the coordinate number digits from left to right. The more digits are found to be equal, the higher the similarity value is calculated. The comparison stops with the first digit pair that differs. This algorithm is satisfied by the LCS (Longest Common Substring comparison) algorithm and generates the wanted result, see appendix [Comparison of Similarity Metrics](./B_CompareSimilarities.ipynb).

In [10]:
attribute = 'coordinate'

columns_metadata_dict['similarity_metrics'][attribute+'_E'] = tedi.LCSStr()
columns_metadata_dict['similarity_metrics'][attribute+'_N'] = tedi.LCSStr()

ne_values = ['_E', '_N']

for ne in ne_values :
    df_feature_base, columns_metadata_dict = dpf.build_delta_feature(
        df_feature_base, attribute+ne,
        columns_metadata_dict['similarity_metrics'][attribute+ne],
        columns_metadata_dict)

The length of attribute $\texttt{coordinate}$ is exactly eight digits. The distinct similarity values that may occur form a discrete set of values with a distance of $\frac{1}{8}$ between adjacent values.

In [11]:
uniques, uniques_len = {}, {}

for ne in ne_values :
    uniques[attribute+ne], uniques_len[attribute+ne] = dpf.determine_similarity_values(
        df_feature_base, attribute+ne)

coordinate_E values range [0.    0.375 0.5   0.625 0.875 1.   ]
coordinate_N values range [0.    0.375 0.5   0.75  0.875 1.   ]

Looking at some samples of the feature matrix reveals a good match to the expectations.

In [12]:
position = 3

for ne in ne_values :
    dpf.show_samples_interval(
        df_feature_base, attribute+ne,
        uniques[attribute+ne][uniques_len[attribute+ne]-position],
        uniques[attribute+ne][uniques_len[attribute+ne]-position+1]
    )

        duplicates  coordinate_E_delta coordinate_E_x coordinate_E_y
869              1               0.875       e0080855       e0080851
196658           0               0.625       e0055700       e0055009
96189            0               0.875       e0080851       e0080855
865              1               0.875       e0080851       e0080855
854              1               0.875       e0080855       e0080851

0.625 <= coordinate_E_delta <= 0.875

        duplicates  coordinate_N_delta coordinate_N_x coordinate_N_y
69495            0                0.75       n0460826       n0460833
182748           0                0.75       n0460826       n0460833
184535           0                0.75       n0460833       n0460826
182761           0                0.75       n0460826       n0460833
182770           0                0.75       n0460826       n0460833

0.75 <= coordinate_N_delta <= 0.875

The samples above show the wanted similarity behaviour for value ranges greater than 0. The metric has the weakness, though, that empty coordinate values, e.g. for bibliographic units other than maps, have each been calculated to a similarity of 0. Some samples for duplicates in the training data are shown below.

In [13]:
dpf.show_samples_interval(
    df_feature_base[df_feature_base.duplicates==1],
    attribute+'_E', uniques[attribute+'_E'][0], uniques[attribute+'_E'][1], 10)

      duplicates  coordinate_E_delta coordinate_E_x coordinate_E_y
747            1                 0.0
348            1                 0.0
199            1                 0.0
684            1                 0.0
702            1                 0.0
510            1                 0.0
92             1                 0.0
449            1                 0.0
892            1                 0.0
1300           1                 0.0

0.0 <= coordinate_E_delta <= 0.375

This downside shall be avoided by marking pairs of missing coordinate values on both sides with a special negative value, which will point out to the models to be trained, the special case of missing information in a row. The implementation of this logic is done in function $\texttt{.mark}\_\texttt{missing}()$. The absolute value of this negative number is conrolled by a factor which is passed to the function as a parameter. The function handles explicitly two cases. The first one is missing information in both attributes (resulting in $-1*\texttt{factor}$) and the second one is missing information in only one of the two attributes (resulting in $-0.5*\texttt{factor}$).

In [14]:
for ne in ne_values :
    df_feature_base = dpf.mark_missing(df_feature_base, attribute+ne, factor)

### corporate

Attribute $\texttt{corporate}$ is a collection of corporate names. The Monge-Elkan metric compares string tokens pairwise [[Chri2012](./A_References.ipynb#chri2012)] while the LCS metric searches for the longest common substring. Assessing the differences of these two metrics with the help of their values distribution in chapter [Features Discussion and Dummy Classifier Baseline](./5_FeatureDiscussionDummyBaseline.ipynb), reveals a better distribution behaviour for LCS. Therefore, the LCS metric will be chosen for this attribute.

In [15]:
attribute = 'corporate_full'

columns_metadata_dict['similarity_metrics'][attribute] = tedi.LCSStr()
#tedi.StrCmp95()
#tedi.MongeElkan()

df_feature_base, columns_metadata_dict = dpf.build_delta_feature(
    df_feature_base, attribute,
    columns_metadata_dict['similarity_metrics'][attribute],
    columns_metadata_dict)

In [16]:
uniques[attribute], uniques_len[attribute] = dpf.determine_similarity_values(
    df_feature_base, attribute)

corporate_full values range [0.         0.01333333 0.01428571 0.01639344 0.01666667 0.01694915
 0.01818182 0.01960784 0.02       0.02040816 0.0212766  0.02173913
 0.02272727 0.02380952 0.025      0.02531646 0.02542373 0.02666667
 0.02702703 0.02727273 0.02857143 0.03       0.03030303 0.03125
 0.03225806 0.03278689 0.03333333 0.03389831 0.03448276 0.03571429
 0.03636364 0.03773585 0.03797468 0.03846154 0.03921569 0.04
 0.04081633 0.04166667 0.04237288 0.04255319 0.04285714 0.04347826
 0.04444444 0.04545455 0.046875   0.04761905 0.04878049 0.04918033
 0.05       0.05263158 0.05333333 0.05405405 0.05454545 0.05555556
 0.05660377 0.05714286 0.05882353 0.05932203 0.06       0.06060606
 0.06122449 0.0625     0.06329114 0.06363636 0.06382979 0.06451613
 0.06521739 0.06557377 0.06666667 0.06779661 0.06818182 0.06896552
 0.07       0.07142857 0.07272727 0.07317073 0.075      0.0754717
 0.07594937 0.07627119 0.07692308 0.078125   0.07843137 0.07894737
 0.08       0.08108108 0.08163265 0.08181818 0.08333333 0.08474576
 0.08510638 0.08571429 0.08695652 0.08888889 0.09090909 0.09333333
 0.09375    0.0952381  0.09677419 0.09756098 0.09803922 0.1
 0.10126582 0.10169492 0.10204082 0.10344828 0.10526316 0.10666667
 0.10810811 0.10869565 0.11111111 0.11428571 0.1147541  0.11538462
 0.11666667 0.11764706 0.11904762 0.12       0.12121212 0.12195122
 0.12244898 0.125      0.12727273 0.12765957 0.13043478 0.13157895
 0.13207547 0.13513514 0.13636364 0.1372549  0.13793103 0.14285714
 0.14634146 0.15       0.15217391 0.15384615 0.15555556 0.16326531
 0.16981132 0.17241379 0.17391304 0.17647059 0.17777778 0.18181818
 0.18421053 0.18666667 0.1875     0.18918919 0.19230769 0.19607843
 0.19672131 0.2        0.20408163 0.21212121 0.21818182 0.24
 0.25       0.25333333 0.26666667 0.27027027 0.275      0.28
 0.28181818 0.29090909 0.30612245 0.30769231 0.31111111 0.31914894
 0.33636364 0.34545455 0.34615385 0.35294118 0.35483871 0.35849057
 0.36842105 0.37837838 0.38666667 0.38709677 0.4        0.40909091
 0.41772152 0.44303797 0.45       0.45098039 0.45945946 0.46835443
 0.47142857 0.47727273 0.49       0.49019608 0.50666667 0.50819672
 0.52727273 0.53164557 0.55       0.58333333 0.68888889 0.7826087
 0.78571429 0.8        0.81578947 0.84444444 1.        ]

Its $110$ part is sparsely filled and even its $710$ part comes along with a little more than $10\%$ of filling, only. The LCS metric generates a similarity of 1 for the cases where both strings of a pair are empty. Missing values on both sides may be an indicator for a pair of duplicates but due to the sparsely available information, it is a weak indicator. Therefore, the pairs with missing data on both sides of the pair, will be marked with the negative value.

In [17]:
df_feature_base = dpf.mark_missing(df_feature_base, attribute, factor)

Some sample cases are shown below for both $\texttt{corporate}$ features.

In [18]:
dpf.show_samples_interval(
    df_feature_base[df_feature_base.duplicates==1],
    attribute, 0.0, 1.0, 20
)

,duplicates,corporate_full_delta,corporate_full_x,corporate_full_y
865,1,1.000000,eidgenössische landestopographie,eidgenössische landestopographie
17,1,0.527273,"metropolitan operaorchestra, metropolitan oper...","metropolitan opera orchestra, metropolitan ope..."
204,1,0.490000,schweizerische gesellschaft für bildungsforschung,schweizerische gesellschaft für bildungsforsch...
1155,1,1.000000,"interkantonale lehrmittelzentrale (rapperswil,...","interkantonale lehrmittelzentrale (rapperswil,..."
1417,1,1.000000,schweizerische normen-vereinigung,schweizerische normen-vereinigung
1156,1,1.000000,"philharmonia chorus (london), philharmonia orc...","philharmonia chorus (london), philharmonia orc..."
12,1,0.400000,"metropolitan opera orchestra, metropolitan ope...","metropolitan opera (new york)orchestra, metrop..."
1312,1,0.844444,eidgenössisches topographisches bureau,schweizeidgenössisches topographisches bureau
1382,1,1.000000,schweizerische normen-vereinigung,schweizerische normen-vereinigung
206,1,1.000000,schweizerische gesellschaft für bildungsforschung,schweizerische gesellschaft für bildungsforschung
1423,1,1.000000,schweizerische normen-vereinigung,schweizerische normen-vereinigung
1219,1,1.000000,allgemeine geschichtforschende gesellschaft de...,allgemeine geschichtforschende gesellschaft de...
226,1,0.490000,schweizerische gesellschaft für bildungsforsch...,schweizerische gesellschaft für bildungsforschung
155,1,1.000000,opernhaus orchester zürich,opernhaus orchester zürich
374,1,1.000000,"staatsoper (wien)chor, wiener philharmoniker","staatsoper (wien)chor, wiener philharmoniker"
172,1,0.490000,schweizerische gesellschaft für bildungsforschung,schweizerische gesellschaft für bildungsforsch...
216,1,1.000000,schweizerische gesellschaft für bildungsforschung,schweizerische gesellschaft für bildungsforschung
438,1,1.000000,wiener philharmoniker,wiener philharmoniker
190,1,1.000000,schweizerische gesellschaft für bildungsforschung,schweizerische gesellschaft für bildungsforschung
14,1,1.000000,"metropolitan operaorchestra, metropolitan oper...","metropolitan operaorchestra, metropolitan oper..."

0.0 <= corporate_full_delta <= 1.0

In [19]:
position = uniques_len[attribute]//2 # Let's have a look in the middle range of the similarities.

dpf.show_samples_interval(
    df_feature_base, attribute,
    uniques[attribute][uniques_len[attribute]-position],
    uniques[attribute][uniques_len[attribute]-position+2], 20)

,duplicates,corporate_full_delta,corporate_full_x,corporate_full_y
168196,0,0.102041,schweizerische gesellschaft für bildungsforschung,eidgenssisches topographisches bureau
47859,0,0.102041,schweizerische gesellschaft für bildungsforschung,eidgenössisches topographisches bureau
86955,0,0.102041,schweizerische gesellschaft für bildungsforschung,eidgenssisches topographisches bureau
47817,0,0.102041,schweizerische gesellschaft für bildungsforschung,eidgenssisches topographisches bureau
12238,0,0.102041,schweizerische gesellschaft für bildungsforschung,eidgenssisches topographisches bureau
12279,0,0.102041,schweizerische gesellschaft für bildungsforschung,eidgenössisches topographisches bureau
86954,0,0.102041,schweizerische gesellschaft für bildungsforschung,eidgenssisches topographisches bureau
25878,0,0.102041,schweizerische gesellschaft für bildungsforschung,eidgenssisches topographisches bureau
38371,0,0.102041,schweizerische gesellschaft für bildungsforschung,eidgenössisches topographisches bureau
47819,0,0.102041,schweizerische gesellschaft für bildungsforschung,eidgenssisches topographisches bureau
168238,0,0.102041,schweizerische gesellschaft für bildungsforschung,eidgenössisches topographisches bureau
200280,0,0.102041,springerlink (online service),"radio-symphonie-orchester berlin, rias kammerchor"
12237,0,0.102041,schweizerische gesellschaft für bildungsforschung,eidgenssisches topographisches bureau
25876,0,0.102041,schweizerische gesellschaft für bildungsforschung,eidgenssisches topographisches bureau
168199,0,0.102041,schweizerische gesellschaft für bildungsforschung,eidgenssisches topographisches bureau
25879,0,0.102041,schweizerische gesellschaft für bildungsforschung,eidgenssisches topographisches bureau
168197,0,0.102041,schweizerische gesellschaft für bildungsforschung,eidgenssisches topographisches bureau
38332,0,0.102041,schweizerische gesellschaft für bildungsforschung,eidgenssisches topographisches bureau
136349,0,0.101266,"interkantonale lehrmittelzentrale (luzern), st...","rundfunkchor (leipzig), staatskapelle (dresden)"
86997,0,0.102041,schweizerische gesellschaft für bildungsforschung,eidgenössisches topographisches bureau

0.10126582278481011 <= corporate_full_delta <= 0.10204081632653061

### doi

Swissbib uses an explicit $\texttt{doi}$ attribute for its deduplication implementation. In chapter [Goldstandard and Data Preparation](./2_GoldstandardDataPreparation.ipynb), the real doi identifier has been isolated with the help of a preprocessing function $\texttt{.reduce}\_\texttt{to}\_\texttt{doi}\_\texttt{element}()$, see [Data Analysis](./1_DataAnalysis.ipynb). Attribute $\texttt{doi}$ contains a single string value. The Identity metric will be used for comparing the string values of a pair in a row, calculating a similarity value of 1.0 or 0.0 for each pair. If one list is empty a value of 0 is returned.

In [20]:
attribute = 'doi'

columns_metadata_dict['similarity_metrics'][attribute] = tedi.Identity()

df_feature_base, columns_metadata_dict = dpf.build_delta_feature(
    df_feature_base, attribute,
    columns_metadata_dict['similarity_metrics'][attribute],
    columns_metadata_dict)

df_feature_base['doi_delta'].unique()

array([1., 0.])

Some sample cases are shown below for each category of $\texttt{doi}\_\texttt{delta}$.

In [21]:
uniques[attribute], uniques_len[attribute] = dpf.determine_similarity_values(
    df_feature_base, attribute)

for doi_delta_value in df_feature_base['doi_delta'].unique():
    number_of_max_samples = min(
        10,
        len(df_feature_base[df_feature_base['doi_delta']==doi_delta_value])
    )

    dpf.show_samples_distinct(df_feature_base, 'doi', doi_delta_value, number_of_max_samples)
    print(f'doi_delta = {doi_delta_value}')

doi values range [0. 1.]

        duplicates  doi_delta doi_x doi_y
25841            0        1.0
105227           0        1.0
161457           0        1.0
119173           0        1.0
213164           0        1.0
61185            0        1.0
201775           0        1.0
93043            0        1.0
39134            0        1.0
65356            0        1.0

doi_delta = 1.0

        duplicates  doi_delta                 doi_x                      doi_y
253399           0        0.0  10.1055/b-005-143650
4896             0        0.0                             10.5169/seals-583145
190476           0        0.0   10.1055/b-002-26639
166609           0        0.0    10.1093/ndt/gft319
208538           0        0.0    10.1093/ndt/gft319
177950           0        0.0                             10.5169/seals-376510
110372           0        0.0                             10.5169/seals-377362
39202            0        0.0                             10.5169/seals-377028
177501           0        0.0                        10.1007/978-3-642-41698-9
190094           0        0.0   10.1055/b-002-26639

doi_delta = 0.0

In [22]:
# Let's have a look at some non-empty doi elements
df_doi_with_element = df_feature_base[df_feature_base.doi_x.apply(lambda x : len(x) > 0)]

for doi_delta_value in df_feature_base['doi_delta'].unique():
    number_of_max_samples = min(
        10,
        len(df_feature_base[df_feature_base['doi_delta']==doi_delta_value])
    )

    dpf.show_samples_distinct(df_doi_with_element, 'doi', doi_delta_value, number_of_max_samples)
    print(f'doi_delta = {doi_delta_value}')

,duplicates,doi_delta,doi_x,doi_y
207982,0,1.0,10.1093/cid/cir669,10.1093/cid/cir669
1261,1,1.0,10.1093/ndt/gft319,10.1093/ndt/gft319
1471,1,1.0,10.1055/b-005-143650,10.1055/b-005-143650
1255,1,1.0,10.1007/978-3-642-41698-9,10.1007/978-3-642-41698-9
1265,1,1.0,10.1093/cid/ciu795,10.1093/cid/ciu795
200628,0,1.0,10.1007/978-3-642-41698-9,10.1007/978-3-642-41698-9
1268,1,1.0,10.1093/cid/ciu795,10.1093/cid/ciu795
1472,1,1.0,10.1055/b-005-143650,10.1055/b-005-143650
167420,0,1.0,10.1007/978-3-642-41698-9,10.1007/978-3-642-41698-9
1469,1,1.0,10.1055/b-005-143650,10.1055/b-005-143650

doi_delta = 1.0

        duplicates  doi_delta                      doi_x doi_y
154506           0        0.0          10.5167/uzh-53042
167802           0        0.0         10.1093/cid/ciu795
166666           0        0.0         10.1093/ndt/gft319
167598           0        0.0         10.1093/cid/ciu795
255765           0        0.0       10.1055/b-005-143650
167059           0        0.0  10.1007/978-3-642-41698-9
154702           0        0.0          10.5167/uzh-53042
252954           0        0.0       10.1055/b-005-143650
200360           0        0.0  10.1007/978-3-642-41698-9
200187           0        0.0  10.1007/978-3-642-41698-9

doi_delta = 0.0

As can be seen above, a value of 1.0 is returned if both strings of a pair are empty. As the attribute filling of $\texttt{doi}$ is sparse, see chapter [Data Analysis](./1_DataAnalysis.ipynb), the $\texttt{doi}\_\texttt{delta}$ indicates strongly a pair of duplicates for most rows. To avoid such misleading identity indication, function $\texttt{.mark}\_\texttt{missing}()$ will be applied to the attribute.

In [23]:
df_feature_base = dpf.mark_missing(df_feature_base, attribute, factor)

### edition

In its original form in Swissbib's raw data, the edition statement is a string value which may have several words. The modelling on this attribute has been tried with and without stripping letter characters from the string. The final decision for the best processing will be documented in chapter [Overview and Summary](./0_OverviewSummary.ipynb). A Jaccard similarity is tried for this attribute.

In [24]:
attribute = 'edition'

columns_metadata_dict['similarity_metrics'][attribute] = tedi.Jaccard()

df_feature_base, columns_metadata_dict = dpf.build_delta_feature(
    df_feature_base, attribute,
    columns_metadata_dict['similarity_metrics'][attribute],
    columns_metadata_dict)

In [25]:
uniques[attribute], uniques_len[attribute] = dpf.determine_similarity_values(
    df_feature_base, attribute)

import numpy as np

edition_delta_uniques = np.sort(df_feature_base['edition_delta'].unique())
edition_delta_uniques_len = len(edition_delta_uniques)
print('edition values range', edition_delta_uniques[:30])

edition values range [0.         0.125      0.14285714 0.16666667 0.2        0.25
 0.28571429 0.33333333 0.4        0.5        0.6        1.        ]
edition values range [0.         0.125      0.14285714 0.16666667 0.2        0.25
 0.28571429 0.33333333 0.4        0.5        0.6        1.        ]

The comparison results in a wide number of distinct similarity values for the goldstandard data set. Below, some examples are shown.

In [26]:
position = edition_delta_uniques_len

dpf.show_samples_interval(
    df_feature_base, 'edition',
    edition_delta_uniques[edition_delta_uniques_len-position-2],
    edition_delta_uniques[edition_delta_uniques_len-position-1], 10)
dpf.show_samples_interval(
    df_feature_base, 'edition',
    edition_delta_uniques[edition_delta_uniques_len-position],
    edition_delta_uniques[edition_delta_uniques_len-position+2], 10)

position = edition_delta_uniques_len//2

dpf.show_samples_interval(
    df_feature_base, 'edition',
    edition_delta_uniques[edition_delta_uniques_len-position-2],
    edition_delta_uniques[edition_delta_uniques_len-position-1], 10)

        duplicates  edition_delta edition_x edition_y
229999           0            1.0
6394             0            1.0
69581            0            1.0
244739           0            1.0
62938            0            1.0
92975            0            1.0
91886            0            1.0
40868            0            1.0
143236           0            1.0
65244            0            1.0

0.6 <= edition_delta <= 1.0

        duplicates  edition_delta edition_x edition_y
154477           0            0.0                  13
180881           0            0.0         6
53077            0            0.0                  87
237312           0            0.0                2000
123973           0            0.0                  11
49746            0            0.0                   2
199756           0            0.0         2
57942            0            0.0        19
188362           0            0.0                1905
174288           0            0.0         6

0.0 <= edition_delta <= 0.1428571428571428

        duplicates  edition_delta edition_x edition_y
192294           0           0.25         2      2007
194039           0           0.25         2      1928
97459            0           0.25      1791         7
28845            0           0.25         5      1905
42066            0           0.25      1791         1
123136           0           0.25         2      1926
42310            0           0.25      1791         7
54940            0           0.25         1      1909
199633           0           0.25         2      1926
145401           0           0.25         3      1943

0.19999999999999996 <= edition_delta <= 0.25

Again, for $\texttt{edition}\_\texttt{delta} = 1$, many empty values of the $\texttt{edition}$ attribute can be observed. These will be marked with the special negative value in the data with the goal to distinguish them from the matching attribute pairs.

In [27]:
df_feature_base = dpf.mark_missing(df_feature_base, 'edition', factor)

In [28]:
position = edition_delta_uniques_len

dpf.show_samples_interval(
    df_feature_base, 'edition',
    edition_delta_uniques[edition_delta_uniques_len-position-2],
    edition_delta_uniques[edition_delta_uniques_len-position-1], 10)

        duplicates  edition_delta edition_x edition_y
675              1            1.0         5         5
1195             1            1.0         6         6
669              1            1.0         5         5
68737            0            1.0         2         2
184790           0            1.0         6         6
192081           0            1.0         2         2
1353             1            1.0         2         2
109629           0            1.0         4         4
215937           0            1.0         6         6
180639           0            1.0         6         6

0.6 <= edition_delta <= 1.0

### exactDate

As discussed in chapter [Data Analysis](./1_DataAnalysis.ipynb), attribute $\texttt{exactDate}$ holds a year number stored in the first four digits. Letter 'u' is used as a placeholder for an unknown digit. The attribute may hold some month and day or a second year information in its second four digits, additionally.

The attribute will be kept as a string and will not be transformed to an integer. The feature attribute of the record pair to be compared will be calculated with a modified Hamming algorithm, see appendix [Comparison of Similarity Metrics](./B_CompareSimilarities.ipynb). The resulting similarity will be stored in a new attribute $\texttt{exactDate}\_\texttt{delta}$ which will be taken for the model calculation.

As can be seen in chapter [Decision Tree Model](./6_DecisionTreeModel.ipynb), this attribute is important for prediction. Different ways of increasing the weight of the unknown status of a digit have been tried. The different ways can be seen in the implementations below. The algorithm decided for the final simulation will be documented in chapter [Overview and Summary](./0_OverviewSummary.ipynb).

In [29]:
import string

def no_xor (x_side, y_side) :
    number = 0
    for i in range(len(x_side)) :
        if ((x_side[i] in string.ascii_lowercase) | (y_side[i] in string.ascii_lowercase)) & (x_side[i] != y_side[i]) :
            number = number + 1
    return number

print('Example comparison results in a value of', no_xor ('202a0aaa', '1920uuuu'))

Example comparison results in a value of 5

In [30]:
attribute = 'exactDate'

# Replace letter 'u' with letter 'a' for one of the two strings.
#  As an effect, the resulting Hamming similarity for a letter
#  instead of a numerical digit in either string will add with an amount 0.
df_feature_base[attribute+'_x'] = df_feature_base.exactDate_x.str.replace('u', 'a')

# Compute Hamming similarity for century string pair.
columns_metadata_dict['similarity_metrics'][attribute] = tedi.Hamming()

unknown_share = 16

df_feature_base, columns_metadata_dict = dpf.build_delta_feature(
    df_feature_base, attribute,
    columns_metadata_dict['similarity_metrics'][attribute],
    columns_metadata_dict)

if exactDate_mode == 'added_u':
    # Add amount of 1/16 to Hamming similarity for every letter digit.
    #  But only maximum number of letter digits in both strings of a pair.
    df_feature_base[attribute+'_delta'] = df_feature_base[[
        attribute+'_x', attribute+'_y', attribute+'_delta']].apply(
        lambda x : x[attribute+'_delta'] + 
        max(x[attribute+'_x'].count('a'), x[attribute+'_y'].count('u'))/unknown_share, axis=1
    )
elif exactDate_mode == 'xor':
    # Add amount of 1/16 to Hamming similarity for every letter digit.
    #  But only number of position-wise xor-ed letter digits in the two strings of a pair.
    df_feature_base[attribute+'_delta'] = df_feature_base[[
        attribute+'_x', attribute+'_y', attribute+'_delta']].apply(
        lambda x : x[attribute+'_delta'] + 
        no_xor(x[attribute+'_x'], x[attribute+'_y'])/unknown_share, axis=1
    )

In [31]:
df_feature_base[['exactDate_x', 'exactDate_y', 'exactDate_delta']].sample(n=10)

       exactDate_x exactDate_y  exactDate_delta
62530     18aaaaaa    2008uuuu            0.375
27061     1998aaaa    1863uuuu            0.375
42386     19561791    2017uuuu            0.250
151109    2012aaaa    19942008            0.250
189944    2016aaaa    2012uuuu            0.625
213236    2013aaaa    1953uuuu            0.375
120109    1987aaaa    1978uuuu            0.500
193555    2016aaaa    1988uuuu            0.250
126754    18901897    19679999            0.250
158470    20092005    2014uuuu            0.500

All resulting values of equal strings are equal to 1.

In [32]:
df_feature_base[['exactDate_x', 'exactDate_y', 'exactDate_delta']][
    df_feature_base.exactDate_x == df_feature_base.exactDate_y
].sort_values('exactDate_delta', ascending=False).head()

    exactDate_x exactDate_y  exactDate_delta
159    20022000    20022000              1.0
843    19849999    19849999              1.0
845    19969999    19969999              1.0
846    19969999    19969999              1.0
847    19969999    19969999              1.0

A discrete set of different similarity values can be found in the attribute deltas. Some sample records are shown below.

In [33]:
exactDate_deltas = np.sort(df_feature_base.exactDate_delta.unique())
exactDate_deltas

array([0.    , 0.125 , 0.25  , 0.3125, 0.375 , 0.4375, 0.5   , 0.5625,
       0.625 , 0.6875, 0.75  , 0.875 , 1.    ])

In [34]:
sample_size = 5

for i in exactDate_deltas :
    dpf.show_samples_distinct(df_feature_base, 'exactDate', i, sample_size)
    print(f'exactDate_delta = {i}')

        duplicates  exactDate_delta exactDate_x exactDate_y
184909           0              0.0    20159999    19972000
6418             0              0.0    19791999    20022003
121845           0              0.0    19911794    20162007
26320            0              0.0    19791999    20130627
124113           0              0.0    19829999    20002005

exactDate_delta = 0.0

        duplicates  exactDate_delta exactDate_x exactDate_y
208929           0            0.125    201310aa    19669999
43708            0            0.125    20091990    18631869
126458           0            0.125    19959999    15501850
154005           0            0.125    18501875    19669999
6718             0            0.125    19791999    20151475

exactDate_delta = 0.125

        duplicates  exactDate_delta exactDate_x exactDate_y
140863           0             0.25    1960aaaa    2007uuuu
233522           0             0.25    2014aaaa    1991uuuu
176768           0             0.25    2015aaaa    1988uuuu
229687           0             0.25    1959aaaa    2014uuuu
191404           0             0.25    2016aaaa    1489uuuu

exactDate_delta = 0.25

        duplicates  exactDate_delta exactDate_x exactDate_y
132865           0           0.3125    2000aaaa    188uuuuu
20610            0           0.3125    2007aaaa    181uuuuu
90339            0           0.3125    170aaaaa    20172016
145650           0           0.3125    1987aaaa    200uuuuu
88129            0           0.3125    1991aaaa    200uuuuu

exactDate_delta = 0.3125

        duplicates  exactDate_delta exactDate_x exactDate_y
43466            0            0.375    2012aaaa    1992uuuu
258471           0            0.375    2005aaaa    1765uuuu
195257           0            0.375    2016aaaa    19669999
242512           0            0.375    1763aaaa    1950uuuu
140306           0            0.375    2005aaaa    16001700

exactDate_delta = 0.375

        duplicates  exactDate_delta exactDate_x exactDate_y
254252           0           0.4375    1993aaaa    181uuuuu
230532           0           0.4375    1987aaaa    181uuuuu
90584            0           0.4375    1999aaaa    181uuuuu
90143            0           0.4375    170aaaaa    1960uuuu
18416            0           0.4375    1932aaaa    188uuuuu

exactDate_delta = 0.4375

        duplicates  exactDate_delta exactDate_x exactDate_y
99024            0              0.5    19702006    1997uuuu
116048           0              0.5    1900aaaa    uuuuuuuu
256171           0              0.5    19702006    1998uuuu
209282           0              0.5    2013aaaa    2000uuuu
248079           0              0.5    2017aaaa    2003uuuu

exactDate_delta = 0.5

        duplicates  exactDate_delta exactDate_x exactDate_y
76350            0           0.5625    1983aaaa    193uuuuu
121418           0           0.5625    19911794    193uuuuu
56700            0           0.5625    2012aaaa    200uuuuu
92956            0           0.5625    1843aaaa    181uuuuu
130906           0           0.5625    1981aaaa    193uuuuu

exactDate_delta = 0.5625

        duplicates  exactDate_delta exactDate_x exactDate_y
106940           0            0.625    2012aaaa    2017uuuu
179112           0            0.625    2007aaaa    2001uuuu
167445           0            0.625    2014aaaa    2017uuuu
141645           0            0.625    19972002    1992uuuu
198729           0            0.625    20091990    2008uuuu

exactDate_delta = 0.625

        duplicates  exactDate_delta exactDate_x exactDate_y
47212            0           0.6875    2008aaaa    200uuuuu
99396            0           0.6875    2007aaaa    200uuuuu
39503            0           0.6875    2000aaaa    200uuuuu
134464           0           0.6875    1932aaaa    193uuuuu
225112           0           0.6875    2000aaaa    200uuuuu

exactDate_delta = 0.6875

        duplicates  exactDate_delta exactDate_x exactDate_y
854              1             0.75    1963aaaa    1963uuuu
322              1             0.75    2005aaaa    2005uuuu
126161           0             0.75    19959999    19679999
12206            0             0.75    19791999    1979uuuu
115608           0             0.75    19791999    1979uuuu

exactDate_delta = 0.75

        duplicates  exactDate_delta exactDate_x exactDate_y
51434            0            0.875    19969999    19989999
51322            0            0.875    19969999    19989999
126040           0            0.875    19959999    19989999
34263            0            0.875    19959999    19969999
89703            0            0.875    19969999    19669999

exactDate_delta = 0.875

      duplicates  exactDate_delta exactDate_x exactDate_y
289            1              1.0    20071990    20071990
210            1              1.0    19791999    19791999
772            1              1.0    19561791    19561791
222            1              1.0    19791999    19791999
1285           1              1.0    20159999    20159999

exactDate_delta = 1.0

### format

Due to the discussion in chapter [Data Analysis](./1_DataAnalysis.ipynb), attribute $\texttt{format}$ has been split up into two new attributes $\texttt{format}\_\texttt{prefix}$ and $\texttt{format}\_\texttt{postfix}$ which will be compared by a different similarity metrics.

- As the quality of $\texttt{format}\_\texttt{prefix}$ is expected to be high, an identity comparison should be sufficient.
- Due to the observed structure of $\texttt{format}\_\texttt{postfix}$, a q-gram based comparison will be chosen.

In [35]:
attribute = 'format'

columns_metadata_dict['similarity_metrics'][attribute+'_prefix'] = tedi.Identity()
columns_metadata_dict['similarity_metrics'][attribute+'_postfix'] = tedi.Jaccard(qval=2)

pfix_values = ['_prefix', '_postfix']

for pf in pfix_values :
    df_feature_base, columns_metadata_dict = dpf.build_delta_feature(
        df_feature_base, attribute+pf,
        columns_metadata_dict['similarity_metrics'][attribute+pf],
        columns_metadata_dict)

In [36]:
for i in df_feature_base.format_prefix_delta[
    df_feature_base.format_prefix_x != df_feature_base.format_prefix_y].unique():
    
    dpf.show_samples_distinct(df_feature_base, 'format_prefix', i)
    print(f'format_prefix_delta = {i}')

        duplicates  format_prefix_delta format_prefix_x format_prefix_y
109141           0                  0.0              bk              mu
46640            0                  0.0              vm              bk
134704           0                  0.0              mu              vm
190482           0                  0.0              bk              mp
102411           0                  0.0              bk              mu

format_prefix_delta = 0.0

In [37]:
for i in df_feature_base.format_postfix_delta[
    df_feature_base.format_postfix_x != df_feature_base.format_postfix_y].unique():
    
    dpf.show_samples_distinct(df_feature_base, 'format_postfix', i)
    print(f'format_postfix_delta = {i}')

        duplicates  format_postfix_delta format_postfix_x format_postfix_y
240984           0              0.428571           020000           020053
233636           0              0.428571           020053           020000
76301            0              0.428571           010200           010300
96238            0              0.428571           010300           030000
82296            0              0.428571           040100           030100

format_postfix_delta = 0.4285714285714286

        duplicates  format_postfix_delta format_postfix_x format_postfix_y
6774             0              0.111111           030600           020053
135924           0              0.111111           020000           010300
119624           0              0.111111           020000           030100
47901            0              0.111111           030600           020000
69723            0              0.111111           020053           040100

format_postfix_delta = 0.11111111111111116

        duplicates  format_postfix_delta format_postfix_x format_postfix_y
101551           0                  0.25           010200           020353
247213           0                  0.25           030653           030000
108878           0                  0.25           020000           020353
43482            0                  0.25           020300           030653
124296           0                  0.25           020000           020353

format_postfix_delta = 0.25

        duplicates  format_postfix_delta format_postfix_x format_postfix_y
196916           0                   0.0           010347           020000
90511            0                   0.0           020000           010347
247445           0                   0.0           030653           010100
128281           0                   0.0           010200           030653
175408           0                   0.0           020000           010353

format_postfix_delta = 0.0

        duplicates  format_postfix_delta format_postfix_x format_postfix_y
138570           0                   1.0           020000           020000
226849           0                   1.0           020000           020000
39074            0                   1.0           020000           020000
45239            0                   1.0           020000           020000
70231            0                   1.0           020053           020053

format_postfix_delta = 1.0

        duplicates  format_postfix_delta format_postfix_x format_postfix_y
245199           0              0.666667           020400           020047
88975            0              0.666667           030500           030053

format_postfix_delta = 0.6666666666666666

### isbn

Swissbib uses each string element of the $\texttt{isbn}$ list separately for comparing with each string element of its comparison $\texttt{isbn}$ list. If two bibliographic units hold at least one element in common, this is interpreted as a strong indicator for duplicates [[WiCo2001](./A_References.ipynb#wico2001)].

This hard logic is used in a modified way in the context of this capstone project. A special comparison function $\texttt{.build}\_\texttt{delta}\_\texttt{isbn}()$ has been implemented that compares each list element of the left-hand side with each list element of the right-hand side of a pair. According to Swissbib's implementation, the Identity metric is used for string comparison, calculating a similarity value of 1.0 or 0.0 for each list element pair. For normalisation reasons, the sum of similarity values is divided by the number of elements of the smaller list. If both lists are empty a value of 1.0 is returned. If only one list is empty a value of 0.0 is returned.

In [38]:
attribute = 'isbn'

columns_metadata_dict['similarity_metrics'][attribute] = tedi.Identity()

df_feature_base, columns_metadata_dict = dpf.build_delta_feature(
    df_feature_base, attribute,
    columns_metadata_dict['similarity_metrics'][attribute],
    columns_metadata_dict)

df_feature_base[attribute+'_delta'].unique()

array([1. , 0. , 0.5])

Some sample cases are shown below for each category of $\texttt{isbn_delta}$.

In [39]:
for isbn_delta_value in df_feature_base['isbn_delta'].unique():
    number_of_max_samples = min(
        10,
        len(df_feature_base[df_feature_base['isbn_delta']==isbn_delta_value])
    )

    dpf.show_samples_distinct(df_feature_base, 'isbn', isbn_delta_value, number_of_max_samples)
    print(f'isbn_delta = {isbn_delta_value}')

        duplicates  isbn_delta isbn_x isbn_y
160411           0         1.0     []     []
7518             0         1.0     []     []
60635            0         1.0     []     []
78215            0         1.0     []     []
127943           0         1.0     []     []
150181           0         1.0     []     []
92453            0         1.0     []     []
58462            0         1.0     []     []
18291            0         1.0     []     []
150204           0         1.0     []     []

isbn_delta = 1.0

,duplicates,isbn_delta,isbn_x,isbn_y
159404,0,0.0,[978-3-643-12370-1],[]
21187,0,0.0,[3-499-17476-6],[]
27414,0,0.0,[3-932992-42-3],[]
189241,0,0.0,[978-3-648-07838-9],[]
195425,0,0.0,"[978-3-13-127286-7, 3-13-127286-4]",[0252-9955]
183891,0,0.0,[0-87834-101-3],[]
182034,0,0.0,[978-3-7190-3171-8],"[978-3-292-00266-2 (Livre du professeur, Cahie..."
28919,0,0.0,[3-254-08008-4],[]
91094,0,0.0,[3-932992-42-3],[978-0-14-062010-8]
209608,0,0.0,[978-3-13-127286-7],"[978-3-598-31508-4 (print), 978-3-11-096992-4]"

isbn_delta = 0.0

,duplicates,isbn_delta,isbn_x,isbn_y
1195,1,0.5,"[978-3-13-127286-7, 3-13-127286-4]","[978-3-13-127286-7, 978-3-13-150826-3 (PDF)]"
1202,1,0.5,"[978-3-13-127286-7, 978-3-13-150826-3 (PDF)]","[978-3-13-127286-7, 3-13-127286-4]"
1210,1,0.5,"[978-3-13-127286-7, 3-13-127286-4]","[978-3-13-127286-7, 978-3-13-150826-3 (PDF)]"
1199,1,0.5,"[978-3-13-127286-7, 978-3-13-150826-3 (PDF)]","[978-3-13-127286-7, 3-13-127286-4]"
1201,1,0.5,"[978-3-13-127286-7, 978-3-13-150826-3 (PDF)]","[978-3-13-127286-7, 3-13-127286-4]"
1205,1,0.5,"[978-3-13-127286-7, 3-13-127286-4]","[978-3-13-127286-7, 978-3-13-150826-3 (PDF)]"

isbn_delta = 0.5

For attribute $\texttt{isbn}$, the special marking of missing values is omitted.

### ismn

This attribute will be processed with the identity similarity metric. The reasoning for this decision is the same as for similar attributes above.

In [40]:
attribute = 'ismn'

columns_metadata_dict['similarity_metrics'][attribute] = tedi.Identity()
#tedi.Jaccard()

df_feature_base, columns_metadata_dict = dpf.build_delta_feature(
    df_feature_base, attribute,
    columns_metadata_dict['similarity_metrics'][attribute],
    columns_metadata_dict)

In [41]:
uniques[attribute], uniques_len[attribute] = dpf.determine_similarity_values(
    df_feature_base, attribute)

ismn values range [0. 1.]

In [42]:
for ismn_delta_value in df_feature_base[attribute+'_delta'].unique():
    number_of_max_samples = min(
        10,
        len(df_feature_base[df_feature_base[attribute+'_delta']==ismn_delta_value])
    )

    dpf.show_samples_distinct(df_feature_base, 'ismn', ismn_delta_value, number_of_max_samples)
    print(f'ismn_delta = {ismn_delta_value}')

        duplicates  ismn_delta ismn_x ismn_y
155397           0         1.0
147550           0         1.0
229250           0         1.0
46785            0         1.0
94265            0         1.0
200641           0         1.0
59311            0         1.0
127510           0         1.0
86972            0         1.0
123239           0         1.0

ismn_delta = 1.0

,duplicates,ismn_delta,ismn_x,ismn_y
98964,0,0.0,m006546749,
249458,0,0.0,9790006450510,
135334,0,0.0,m006450510,
20051,0,0.0,m006450510,
91511,0,0.0,,9790006201334
115187,0,0.0,"m006546756 (kritischer bericht, leinen)",
135054,0,0.0,m006450510,
222409,0,0.0,,m008060205
102946,0,0.0,m006450510,
157927,0,0.0,,9790006201334

ismn_delta = 0.0

As can be seen in the previous chapters, attribute $\texttt{ismn}$ is filled sparsely. A lot of missing values calculate to a value of 1.0 in the chosen similarity metrics. To mark these cases specifically, they will be transformed to a negative value.

In [43]:
df_feature_base = dpf.mark_missing(df_feature_base, attribute, factor)

### musicid

Chapter [Data Analysis](./1_DataAnalysis.ipynb) shows that attribute $\texttt{musicid}$ is an identifyer for a music record. A Jaccard metric has been tested on this attribute, resulting in a distribution of many high similarity values on uniques. Comparing this result with the LCS metric, the latter has been decided.

In [44]:
attribute = 'musicid'

columns_metadata_dict['similarity_metrics'][attribute] = tedi.LCSStr()
#tedi.Jaccard()

df_feature_base, columns_metadata_dict = dpf.build_delta_feature(
    df_feature_base, attribute,
    columns_metadata_dict['similarity_metrics'][attribute],
    columns_metadata_dict)

In [45]:
uniques[attribute], uniques_len[attribute] = dpf.determine_similarity_values(
    df_feature_base, attribute)

musicid values range [0.         0.125      0.14285714 0.16666667 0.2        0.25
 0.28571429 0.33333333 0.375      0.4        0.42857143 0.5
 0.6        0.66666667 0.75       1.        ]

In [46]:
position = uniques_len[attribute]

dpf.show_samples_interval(
    df_feature_base, attribute,
    uniques[attribute][uniques_len[attribute]-position-2],
    uniques[attribute][uniques_len[attribute]-position-1], 10)
dpf.show_samples_interval(
    df_feature_base, attribute,
    uniques[attribute][uniques_len[attribute]-position],
    uniques[attribute][uniques_len[attribute]-position+2], 10)

position = uniques_len[attribute]//2

dpf.show_samples_interval(
    df_feature_base, attribute,
    uniques[attribute][uniques_len[attribute]-position],
    uniques[attribute][uniques_len[attribute]-position+1], 10)

        duplicates  musicid_delta musicid_x musicid_y
164237           0            1.0      4553      4553
1023             1            1.0      0630      0630
1021             1            1.0      0630      0630
789              1            1.0    502430    502430
36629            0            1.0       422       422
489              1            1.0     10425     10425
472              1            1.0       245       245
281              1            1.0    502023    502023
37395            0            1.0      4553      4553
116726           0            1.0      4553      4553

0.75 <= musicid_delta <= 1.0

        duplicates  musicid_delta musicid_x musicid_y
202571           0            0.0
255825           0            0.0
102848           0            0.0
162728           0            0.0
243826           0            0.0
90632            0            0.0
80417            0            0.0
125041           0            0.0
112048           0            0.0
230242           0            0.0     10425

0.0 <= musicid_delta <= 0.1428571428571429

        duplicates  musicid_delta musicid_x musicid_y
64504            0            0.4       422     10425
88074            0            0.4       422     10425
74335            0            0.4     10425       426
134467           0            0.4     10425      1092
18593            0            0.4     10425       426
148827           0            0.4       433     33001
15875            0            0.4       422     10425
169630           0            0.4      0630     99064
141093           0            0.4     10425       422
138036           0            0.4       242     10425

0.375 <= musicid_delta <= 0.4

In [47]:
dpf.show_samples_interval(
    df_feature_base[df_feature_base.duplicates==1], attribute,
    uniques[attribute][0],
    uniques[attribute][uniques_len[attribute]-1], 20)

      duplicates  musicid_delta musicid_x musicid_y
737            1            1.0      4553      4553
1067           1            0.0
102            1            0.0
205            1            0.0
346            1            0.0
1095           1            0.0
1101           1            0.0
67             1            0.0
890            1            0.0
685            1            0.0
644            1            1.0       912       912
1136           1            0.0
559            1            0.0
616            1            0.0
112            1            0.0
226            1            0.0
524            1            1.0      4553      4553
1470           1            0.0
892            1            0.0
1157           1            0.2       063     50999

0.0 <= musicid_delta <= 1.0

The attribute is filled with a degree of below $10\%$. The chosen metric for it results in a similarity value of 1.0 for empty value pairs. This effect can be adjusted with function $\texttt{.mark}\_\texttt{missing}()$ as above.

In [48]:
df_feature_base = dpf.mark_missing(df_feature_base, 'musicid', factor)

### part

Analogous to attribute $\texttt{edition}$ described above, the string value of this attribute can be stripped to pure number digits. Both ways, with and without letter stripping have been tried for modelling. The final decision for the best processing will be documented in chapter [Overview and Summary](./0_OverviewSummary.ipynb). Three different metrics have been tried for attribute $\texttt{part}$. Finally, metric StringCompare95 will be used.

In [49]:
attribute = 'part'

columns_metadata_dict['similarity_metrics'][attribute] = tedi.StrCmp95()
#tedi.Jaro()
#tedi.Hamming()
#tedi.LCSStr()

df_feature_base, columns_metadata_dict = dpf.build_delta_feature(
    df_feature_base, attribute,
    columns_metadata_dict['similarity_metrics'][attribute],
    columns_metadata_dict)

In [50]:
uniques[attribute], uniques_len[attribute] = dpf.determine_similarity_values(
    df_feature_base, attribute)

part values range [0.         0.27407407 0.28240741 0.29202279 0.30740741 0.31318681
 0.31481481 0.32407407 0.32898551 0.33333333 0.33597884 0.33838384
 0.33921569 0.34444444 0.3452381  0.35128205 0.35185185 0.35897436
 0.36111111 0.36231884 0.36666667 0.37037037 0.37179487 0.37254902
 0.37301587 0.37407407 0.375      0.37777778 0.38333333 0.38461538
 0.38568376 0.38888889 0.38927739 0.39070048 0.39215686 0.39393939
 0.3952381  0.3960114  0.39646465 0.39722222 0.39814815 0.4
 0.4031746  0.4037037  0.40604575 0.40740741 0.40842491 0.40855763
 0.41025641 0.41111111 0.41125541 0.41176471 0.41203704 0.41282051
 0.41388889 0.41449275 0.41452991 0.41507937 0.41666667 0.4178744
 0.41798942 0.41851852 0.41919192 0.42083333 0.42222222 0.42261905
 0.42390289 0.4241453  0.42564103 0.42592593 0.42777778 0.42810458
 0.42857143 0.42948718 0.43030303 0.43055556 0.43115942 0.43174603
 0.43236715 0.43333333 0.43518519 0.43557423 0.43589744 0.43627451
 0.43650794 0.43703704 0.4375     0.43813131 0.43888889 0.44017094
 0.44166667 0.44200244 0.44230769 0.44358974 0.44444444 0.4469697
 0.44761905 0.44814815 0.4484127  0.4494302  0.44949495 0.45
 0.45098039 0.45138889 0.4537037  0.45555556 0.45598846 0.45726496
 0.45764895 0.45833333 0.45868946 0.4589372  0.45970696 0.46068376
 0.46111111 0.46296296 0.46367521 0.46405229 0.46428571 0.46470588
 0.46481481 0.46507937 0.46527778 0.46570048 0.46581197 0.46666667
 0.46709402 0.46794872 0.46801347 0.46851852 0.47008547 0.47222222
 0.47222222 0.4724359  0.47301587 0.47407407 0.47463768 0.47466422
 0.47474747 0.47584541 0.47619048 0.47777778 0.47777778 0.47985348
 0.4807971  0.48096348 0.48104575 0.48148148 0.48232323 0.4832244
 0.48333333 0.48366013 0.48412698 0.48589744 0.48611111 0.48636991
 0.48888889 0.48917749 0.49007937 0.49047619 0.49074074 0.49130435
 0.49166667 0.49175824 0.49206349 0.49230769 0.49358974 0.49487179
 0.49509804 0.49565217 0.4957265  0.4984472  0.4991453  0.5
 0.50071225 0.50092593 0.5015873  0.50181159 0.5021978  0.5026455
 0.50326797 0.50362319 0.5037037  0.5040404  0.50404668 0.50505051
 0.50529101 0.50555556 0.50588235 0.50637255 0.50653595 0.50757576
 0.50793651 0.50833333 0.50917874 0.50925926 0.51055901 0.51068376
 0.51111111 0.51176471 0.51190476 0.5125     0.51282051 0.51313131
 0.51339031 0.51355311 0.51388889 0.51449275 0.51465201 0.51515152
 0.51570048 0.51595442 0.51602564 0.51666667 0.51794872 0.51851852
 0.51890756 0.51923077 0.51936027 0.51944444 0.51960784 0.51966874
 0.52083333 0.52136752 0.52142857 0.52168746 0.52217554 0.52222222
 0.52222222 0.52228327 0.52307692 0.52380952 0.52407407 0.52431562
 0.525      0.5252588  0.52564103 0.52619048 0.52654753 0.52727273
 0.52777778 0.52898551 0.52929293 0.52936508 0.53019324 0.53030303
 0.5309057  0.53104575 0.53133903 0.53140097 0.53148148 0.53174603
 0.53311966 0.53333333 0.53376068 0.53424908 0.53425926 0.53501401
 0.53518519 0.53525641 0.53535354 0.53613445 0.53653846 0.53703704
 0.53787879 0.53869048 0.53888889 0.53910256 0.53921569 0.53947904
 0.53968254 0.53986928 0.54074074 0.54166667 0.54188034 0.5422619
 0.54273504 0.54285714 0.54304029 0.54444444 0.5462963  0.54649758
 0.54679487 0.54700855 0.54722222 0.54746377 0.54761905 0.54848485
 0.5491453  0.54945055 0.54989107 0.55       0.5505698  0.55065359
 0.55118473 0.55128205 0.5515873  0.55185185 0.55311355 0.55555556
 0.55555556 0.55601852 0.55662393 0.55710956 0.55788656 0.55797101
 0.55833333 0.55917874 0.55952381 0.55972222 0.56060606 0.56106443
 0.56117216 0.56153846 0.56160969 0.56168831 0.56190476 0.5620915
 0.56216931 0.56296296 0.56313131 0.56349206 0.56388889 0.56440781
 0.5647343  0.56481481 0.56495726 0.56507937 0.56595442 0.56630037
 0.56640212 0.56666667 0.56714976 0.56794872 0.56800446 0.56837607
 0.56944444 0.57032428 0.57037037 0.57107023 0.57179487 0.57222222
 0.57287785 0.57303922 0.57313797 0.57380952 0.57407407 0.57463768
 0.57478632 0.57581699 0.57606838 0.57619048 0.57681159 0.57692308
 0.57698413 0.57722567 0.5775641  0.57777778 0.57936508 0.57984608
 0.58005698 0.58119658 0.58178054 0.58208458 0.58333333 0.58342624
 0.58359213 0.58404558 0.58454106 0.58459596 0.58461538 0.58485958
 0.58518519 0.58547009 0.58611111 0.58695652 0.58715359 0.58730159
 0.58787879 0.58809524 0.58816425 0.58834724 0.58846154 0.58862434
 0.58888889 0.58961039 0.58986928 0.59047619 0.59074074 0.59074074
 0.59090909 0.59094203 0.59215686 0.592425   0.59259259 0.59343434
 0.59351852 0.59401709 0.59477124 0.59483109 0.59489303 0.59509804
 0.5952381  0.59583333 0.5970696  0.59722222 0.5973545  0.5974359
 0.5982906  0.59880377 0.59880952 0.59890572 0.59903382 0.59915825
 0.6        0.60105581 0.60119048 0.60133779 0.60245637 0.6025641
 0.602657   0.60280112 0.60299145 0.60320513 0.6032967  0.603367
 0.60365161 0.6040404  0.60441176 0.60470085 0.60555556 0.6057971
 0.60598291 0.60622711 0.60683761 0.60714286 0.60793651 0.60833333
 0.60868347 0.61020067 0.61025641 0.6110348  0.61111111 0.61111111
 0.61114082 0.61165577 0.61177249 0.61202686 0.61253561 0.61344211
 0.61388889 0.61402116 0.61437908 0.6147343  0.61481481 0.61507937
 0.61616162 0.61666667 0.61851852 0.61904762 0.61923077 0.61950549
 0.61982571 0.62037037 0.62049689 0.62057166 0.62075702 0.62121212
 0.62179487 0.62222222 0.62270531 0.62307692 0.62328042 0.62328975
 0.62424242 0.62451226 0.625      0.62558357 0.62606838 0.62637363
 0.62651515 0.62681159 0.62698413 0.62777778 0.62908497 0.62946128
 0.62946204 0.62962963 0.62970363 0.63095238 0.63121118 0.63137255
 0.63151119 0.63162393 0.63186275 0.63247863 0.6326087  0.63290598
 0.63296703 0.63333333 0.63427474 0.6346094  0.63461538 0.63467113
 0.63472222 0.63492063 0.63571429 0.63689459 0.63703704 0.63787879
 0.63888889 0.63969404 0.64057239 0.64102564 0.64130435 0.64159544
 0.64166667 0.64215686 0.64245014 0.64251208 0.64285714 0.64365079
 0.64444444 0.64444444 0.64466089 0.64468864 0.64542484 0.64583333
 0.64613527 0.64642857 0.64646465 0.64672365 0.64722222 0.64793028
 0.64795784 0.64814815 0.64843596 0.64869281 0.65       0.65079365
 0.65128205 0.65196078 0.65248869 0.652657   0.65277778 0.65343915
 0.65359278 0.65384615 0.6540404  0.65555556 0.65603865 0.65627706
 0.65641026 0.65669516 0.65714286 0.6576087  0.65797101 0.65811966
 0.65833333 0.65925926 0.65939153 0.65959596 0.65964591 0.65991577
 0.66018519 0.66025641 0.66111111 0.66131423 0.66153846 0.66163004
 0.66176471 0.66178266 0.66181422 0.66253561 0.66269841 0.66296296
 0.66402116 0.66410256 0.66481481 0.66503268 0.66587302 0.66649908
 0.66666667 0.66800446 0.66837607 0.66987179 0.67003367 0.67142857
 0.67222222 0.67246377 0.67264957 0.67352941 0.67391304 0.67424242
 0.67427536 0.67457265 0.67460317 0.67619048 0.67644352 0.67673108
 0.67709706 0.67732268 0.67735043 0.67883023 0.67948718 0.67955574
 0.67973856 0.68055556 0.68055556 0.68115942 0.68162393 0.68181818
 0.68333333 0.68354978 0.68376068 0.68389581 0.68518519 0.68555679
 0.68582202 0.68611111 0.68627451 0.6875     0.68849206 0.68883205
 0.68888889 0.68974359 0.69000836 0.69047619 0.69179894 0.69230769
 0.69262821 0.69404762 0.69426407 0.69444444 0.69444444 0.69565217
 0.6969697  0.6984127  0.69852941 0.6985348  0.69927536 0.6996337
 0.7        0.70025305 0.70233786 0.7025641  0.70299145 0.7032967
 0.7037037  0.70588235 0.70687831 0.70688406 0.70701058 0.70714286
 0.70726496 0.70740009 0.70780886 0.70826211 0.70833333 0.7084399
 0.70924908 0.70940171 0.70959596 0.70985877 0.71014493 0.71111111
 0.71111111 0.71309524 0.71349206 0.71419884 0.71428571 0.71464646
 0.71595442 0.71666667 0.71733822 0.7173913  0.71794872 0.71851852
 0.71901709 0.71915535 0.72121212 0.72179487 0.72222222 0.72222222
 0.72294372 0.72420635 0.72446072 0.7254902  0.72619048 0.72727273
 0.72777778 0.72817923 0.72820513 0.72916667 0.73015873 0.73116883
 0.73131313 0.73333333 0.73770312 0.73809524 0.73811189 0.73861694
 0.73888889 0.74002849 0.74074074 0.74094203 0.74166667 0.74285714
 0.74358974 0.74509804 0.74615385 0.74679487 0.74814815 0.75
 0.75091575 0.75151515 0.75213675 0.75250836 0.75277778 0.75555556
 0.75661376 0.75714286 0.75757576 0.75793651 0.75833333 0.75848226
 0.76068376 0.76111111 0.76161616 0.76190476 0.76309524 0.76346154
 0.76349206 0.76666667 0.76923077 0.77142857 0.77380952 0.77706553
 0.77777778 0.7797619  0.78055556 0.78333333 0.78431373 0.78518519
 0.79047619 0.79166667 0.79487179 0.7962963  0.8        0.8008547
 0.8047138  0.8047619  0.80512821 0.80555556 0.80555556 0.80833333
 0.80952381 0.81282051 0.81349206 0.81481481 0.81818182 0.82051282
 0.82222222 0.83244207 0.83333333 0.83682984 0.85185185 0.86111111
 0.86324786 0.86410256 0.86666667 0.86713287 0.87307692 0.87382779
 0.88888889 0.88888889 0.88985507 0.89277389 0.8974359  0.9047619
 0.91666667 0.92094017 0.92156863 1.        ]

In [51]:
position = uniques_len[attribute]

dpf.show_samples_interval(
    df_feature_base, attribute,
    uniques[attribute][uniques_len[attribute]-position-2],
    uniques[attribute][uniques_len[attribute]-position-1], 10)
dpf.show_samples_interval(
    df_feature_base, attribute,
    uniques[attribute][uniques_len[attribute]-position],
    uniques[attribute][uniques_len[attribute]-position+2], 10)

position = uniques_len[attribute]//7

dpf.show_samples_interval(
    df_feature_base, attribute,
    uniques[attribute][uniques_len[attribute]-position-2],
    uniques[attribute][uniques_len[attribute]-position-1], 10)
dpf.show_samples_interval(
    df_feature_base, attribute,
    uniques[attribute][uniques_len[attribute]-position],
    uniques[attribute][uniques_len[attribute]-position+2], 10)

        duplicates  part_delta part_x part_y
79467            0         1.0
93525            0         1.0
25795            0         1.0
86274            0         1.0
108092           0         1.0
67610            0         1.0
94608            0         1.0
49384            0         1.0
9892             0         1.0
185456           0         1.0

0.9215686274509803 <= part_delta <= 1.0

        duplicates  part_delta part_x      part_y
202901           0         0.0           290 2011
254360           0         0.0         1 12 13 15
86404            0         0.0            23 1863
180758           0         0.0                  1
13241            0         0.0                  1
85447            0         0.0           268 1989
188607           0         0.0     13
223572           0         0.0     13
176961           0         0.0              33 33
24507            0         0.0     12

0.0 <= part_delta <= 0.28240740740740744

        duplicates  part_delta   part_x   part_y
257261           0    0.714286  23 1862        3
214680           0    0.714286  912 912        1
257217           0    0.714286  23 1862        2
117862           0    0.714286  552 552        2
131472           0    0.714286        3  23 1863
221364           0    0.714286        4  241 319
214396           0    0.714286  912 912        1
121147           0    0.714286        2  241 319
58533            0    0.714286        2  23 1863
117739           0    0.714286  552 552        2

0.7142857142857143 <= part_delta <= 0.7146464646464646

        duplicates  part_delta                part_x         part_y
257479           0    0.717338               23 1862  23 23 1988 23
257465           0    0.717338               23 1862  23 23 1870 23
197572           0    0.717338               23 1862  23 23 1870 23
197586           0    0.717338               23 1862  23 23 1988 23
197596           0    0.717338               23 1862  23 23 1870 23
166866           0    0.716667  28 10 2013 2421 2431            2 2
197600           0    0.717338               23 1862  23 23 1899 23
257478           0    0.717338               23 1862  23 23 1946 23
257463           0    0.717338               23 1862  23 23 1906 23
257495           0    0.717338               23 1862  23 23 1889 23

0.7159544159544161 <= part_delta <= 0.7173382173382173

In this attribute, too, moving pairs of empty values to negative values will result in a clearer distinction between pairs of uniques and duplicates, as will be seen in the graphical comparison of capter [Features Discussion and Dummy Classifier Baseline](./5_FeatureDiscussionDummyBaseline.ipynb).

In [52]:
df_feature_base = dpf.mark_missing(df_feature_base, 'part', factor)

### person

As a result of chapter [Data Analysis](./1_DataAnalysis.ipynb), attribute $\texttt{person}$ has been split into three specific attributes. Attribute $\texttt{person}\_{100}$ and $\texttt{person}\_{700}$ hold strongly standardised string values. For comparing pure strings, a Levenshtein metric is recommended [[Chri2012](./A_References.ipynb#chri2012)]. Unfortunately, this metric shows a very long calculation time on the data of the capstone project. Comparing the similarity values of the Levenshtein metric with the similarity values of other metrics in appendix [Comparison of Similarity Metrics](./B_CompareSimilarities.ipynb), similarity metric StrCmp95 has been decided to use.

In [53]:
attribute = 'person'

columns_metadata_dict['similarity_metrics'][attribute+'_100'] = tedi.StrCmp95()
columns_metadata_dict['similarity_metrics'][attribute+'_700'] = tedi.StrCmp95()
#tedi.Levenshtein()

pe_values = ['_100', '_700']

for pe in pe_values :
    print('Calculating person'+pe)
    df_feature_base, columns_metadata_dict = dpf.build_delta_feature(
        df_feature_base, attribute+pe,
        columns_metadata_dict['similarity_metrics'][attribute+pe],
        columns_metadata_dict)

Calculating person_100
Calculating person_700

In [54]:
pe = '_100'

uniques[attribute+pe], uniques_len[attribute+pe] = dpf.determine_similarity_values(
    df_feature_base, attribute+pe)

person_100 values range [0.         0.31944444 0.32777778 0.33095238 0.34555556 0.34768519
 0.3562963  0.35714286 0.36414141 0.36527778 0.36723647 0.37777778
 0.38511815 0.38603989 0.38779956 0.38989899 0.39246032 0.39490741
 0.40142857 0.40347222 0.40666667 0.41281046 0.4130719  0.41596491
 0.42324786 0.42388889 0.4240404  0.42486772 0.42614379 0.42620321
 0.42676768 0.42819444 0.42869281 0.42936508 0.42982456 0.42991453
 0.43208333 0.43326118 0.43415893 0.43508772 0.43555556 0.43590643
 0.43660714 0.43794872 0.43804714 0.439819   0.44040404 0.44079254
 0.44126984 0.44222222 0.44282407 0.44292929 0.44444444 0.44457516
 0.44507937 0.44571078 0.44649123 0.44656085 0.4465812  0.44662698
 0.44722222 0.44782135 0.44786325 0.44791667 0.4481352  0.44861111
 0.44972222 0.45126263 0.45131313 0.45222222 0.45291375 0.45314327
 0.45339367 0.45416667 0.45424242 0.45555556 0.45564103 0.45578704
 0.45614973 0.45784314 0.45873016 0.45952381 0.46013072 0.46055556
 0.46119281 0.46127946 0.46336996 0.46428571 0.46452763 0.46452991
 0.46455026 0.46572872 0.46597222 0.46666667 0.46696833 0.46703704
 0.46813725 0.46879699 0.46978558 0.46991453 0.47007576 0.47171946
 0.47222222 0.47243867 0.47248677 0.47284879 0.47314815 0.47333333
 0.47378917 0.47397047 0.47419872 0.47435897 0.47442002 0.47474747
 0.47481481 0.475      0.47555556 0.47613636 0.47614379 0.47635756
 0.47692308 0.47712418 0.47777778 0.47883598 0.47888386 0.47936508
 0.48       0.48015873 0.48017429 0.48054299 0.48123249 0.48135965
 0.48141026 0.48148148 0.48239316 0.48244631 0.48311966 0.48358586
 0.48412698 0.48421053 0.48472222 0.48484848 0.48529412 0.48538012
 0.48547009 0.48611111 0.48618769 0.48651961 0.48679654 0.48717949
 0.48760684 0.48814815 0.48851541 0.48888889 0.48916667 0.48958333
 0.49011544 0.49017094 0.49031746 0.49037037 0.49074074 0.49153439
 0.49166667 0.49175824 0.49267677 0.49287749 0.49305556 0.494287
 0.49450549 0.495      0.49550265 0.49553571 0.4957265  0.49607843
 0.4963474  0.49688995 0.49692308 0.49700722 0.49801587 0.49830065
 0.49833333 0.49886878 0.49888889 0.4991453  0.50010582 0.50028011
 0.50106838 0.50126634 0.5015873  0.50185185 0.50208333 0.50290404
 0.50297619 0.5037037  0.50410053 0.50436508 0.50518519 0.50555556
 0.50626566 0.50648148 0.50724247 0.50782828 0.50787546 0.50818713
 0.50866911 0.50912698 0.50972222 0.51       0.51084967 0.51111111
 0.51175214 0.51216931 0.51222222 0.51232804 0.51235294 0.51269417
 0.51273726 0.5128655  0.51301248 0.51328671 0.51435185 0.51452991
 0.5145614  0.51472222 0.51509972 0.51517094 0.51541667 0.51555556
 0.5157967  0.51619048 0.51626984 0.51648352 0.51666667 0.51717172
 0.51721133 0.51794872 0.51825397 0.51843712 0.51851852 0.51962963
 0.52006033 0.52075163 0.52083333 0.52086476 0.52093371 0.52112332
 0.52156863 0.52222222 0.52222222 0.52312198 0.52380952 0.52388889
 0.52411298 0.52412587 0.52436975 0.52462121 0.52581454 0.52592593
 0.52601307 0.5260181  0.52611833 0.52692308 0.52777778 0.52804233
 0.52816628 0.52823529 0.52852564 0.52861953 0.52871148 0.52903828
 0.52941176 0.53       0.53006993 0.5305772  0.53080808 0.53119658
 0.53138528 0.53163678 0.53186275 0.53202614 0.53333333 0.53380674
 0.53390313 0.53406433 0.53419913 0.53420479 0.53443942 0.53459596
 0.53472222 0.53484848 0.53494152 0.535      0.53522727 0.53587302
 0.53587963 0.53606238 0.53614164 0.53639122 0.53666667 0.53721279
 0.53730159 0.53740741 0.53809524 0.53811966 0.53861111 0.53897436
 0.53904762 0.53931624 0.53933659 0.53968254 0.53969298 0.53973064
 0.53974359 0.53976035 0.53981481 0.54       0.54006734 0.54017094
 0.54114774 0.54166667 0.54315476 0.54333333 0.54368132 0.54380342
 0.54388889 0.54398148 0.54438131 0.54444444 0.54455338 0.54484848
 0.54490741 0.54529915 0.54624183 0.5462963  0.5468735  0.54698413
 0.54714286 0.54722222 0.54785247 0.54794225 0.54871795 0.54882155
 0.54918301 0.54978632 0.55       0.55026455 0.55059524 0.5514652
 0.55206349 0.55238095 0.55247863 0.55258445 0.55270655 0.55343915
 0.55357143 0.5537037  0.55412698 0.5547138  0.55482557 0.55500975
 0.55555556 0.55555556 0.55568627 0.55575163 0.55612745 0.55621693
 0.55666667 0.55673077 0.5568219  0.55698413 0.55876068 0.55897436
 0.55899471 0.55902778 0.55930736 0.55961538 0.55974659 0.56055556
 0.56068376 0.56078431 0.56111111 0.56151996 0.56157407 0.56158874
 0.56166667 0.56242424 0.56296296 0.56302609 0.56313725 0.56343101
 0.56377165 0.56464646 0.56535409 0.56581197 0.56605617 0.56606061
 0.56630037 0.56634615 0.56640212 0.56676788 0.56683761 0.56759259
 0.56805556 0.5680719  0.56809524 0.56851852 0.56888889 0.56894319
 0.56904762 0.56923077 0.56962482 0.56979458 0.56980057 0.56986532
 0.57083333 0.57083333 0.57142857 0.57166667 0.57333333 0.57466977
 0.57478632 0.57486772 0.575      0.5752381  0.57575349 0.57599681
 0.57606838 0.57692308 0.57777778 0.57888889 0.57901961 0.57931624
 0.57962963 0.57964744 0.57980769 0.57995338 0.58021978 0.58065015
 0.58102564 0.58181818 0.58183761 0.58198664 0.58232323 0.58263889
 0.58275189 0.58293651 0.58371212 0.58461538 0.58472222 0.58611111
 0.58692308 0.58695564 0.58737753 0.58810541 0.58888889 0.58999497
 0.59       0.59011544 0.59027778 0.59038282 0.59064327 0.59081197
 0.59126984 0.59145299 0.59191919 0.5922113  0.59252451 0.59267881
 0.59356725 0.59376068 0.59411765 0.59444444 0.5955613  0.5956044
 0.5957265  0.5959707  0.59603175 0.5964591  0.59675325 0.5968254
 0.59692308 0.59722222 0.5974736  0.59786325 0.59822596 0.59835045
 0.59836601 0.59845085 0.59861111 0.59871795 0.59880952 0.5996732
 0.59976008 0.6        0.60010582 0.6002035  0.60047619 0.6017316
 0.602886   0.60333333 0.60340803 0.60555556 0.60559829 0.60718954
 0.60816993 0.60823621 0.60830281 0.60833333 0.60873016 0.60888889
 0.60913596 0.61008403 0.61179616 0.61202686 0.61220044 0.61221034
 0.61239316 0.61245421 0.61345136 0.61351981 0.61356725 0.61401515
 0.61408669 0.61431624 0.61461538 0.61538462 0.61548046 0.61623932
 0.61650794 0.61661376 0.61666667 0.61741788 0.61877289 0.61898657
 0.61947497 0.62075702 0.62092352 0.62195513 0.62239316 0.62313131
 0.62339744 0.62346491 0.62408398 0.62424242 0.62566138 0.62593985
 0.62612943 0.62616959 0.62671958 0.62712418 0.62780749 0.6280525
 0.62818627 0.62960569 0.63162393 0.63328523 0.63333333 0.63373016
 0.63527778 0.63592593 0.63679712 0.63728716 0.63756614 0.63769841
 0.63868132 0.64444444 0.64515152 0.64626068 0.64700855 0.64740741
 0.64802605 0.64847222 0.64967949 0.6511544  0.65286172 0.65416667
 0.65675501 0.66153846 0.66838624 0.67559524 0.6786859  0.67950938
 0.68015873 0.68106377 0.68128205 0.6837963  0.68433048 0.68468661
 0.68790469 0.68994709 0.69047619 0.69513889 0.69897436 0.71464646
 0.73714286 0.74711538 0.77466667 0.8208547  0.86666667 1.        ]

In [55]:
position = uniques_len[attribute+pe]

dpf.show_samples_interval(
    df_feature_base, attribute+pe,
    uniques[attribute+pe][uniques_len[attribute+pe]-position-2],
    uniques[attribute+pe][uniques_len[attribute+pe]-position-1], 10)
dpf.show_samples_interval(
    df_feature_base, attribute+pe,
    uniques[attribute+pe][uniques_len[attribute+pe]-position],
    uniques[attribute+pe][uniques_len[attribute+pe]-position+2], 10)

,duplicates,person_100_delta,person_100_x,person_100_y
58541,0,1.0,mozartwolfgang amadeus,mozartwolfgang amadeus
59114,0,1.0,mozartwolfgang amadeus,mozartwolfgang amadeus
92375,0,1.0,mozartwolfgang amadeus,mozartwolfgang amadeus
53299,0,1.0,mozartwolfgang amadeus,mozartwolfgang amadeus
107526,0,1.0,,
203030,0,1.0,,
152131,0,1.0,mozartwolfgang amadeus,mozartwolfgang amadeus
22287,0,1.0,mozartwolfgang amadeus,mozartwolfgang amadeus
97163,0,1.0,mozartwolfgang amadeus,mozartwolfgang amadeus
87040,0,1.0,,

0.8666666666666666 <= person_100_delta <= 1.0

,duplicates,person_100_delta,person_100_x,person_100_y
146145,0,0.0,,mortzfeldpeter
243017,0,0.0,,mozartwolfgang amadeus
41023,0,0.0,mozartwolfgang amadeus,
138767,0,0.0,rosoffmeg,
175273,0,0.0,,eusebius
79742,0,0.0,,mozartwolfgang amadeus
123303,0,0.0,,mozartwolfgang amadeus
74256,0,0.0,mozartwolfgang amadeus,
49316,0,0.0,,bührerwalter
176228,0,0.0,voltaire,

0.0 <= person_100_delta <= 0.3277777777777777

For comparing person names, like in attribute $\texttt{person}\_{245c}$, a Jaro metric will be tested [[Chri2012](./A_References.ipynb#chri2012)].

In [56]:
pe = '_245c'

columns_metadata_dict['similarity_metrics'][attribute+pe] = tedi.Jaro()

df_feature_base, columns_metadata_dict = dpf.build_delta_feature(
    df_feature_base, attribute+pe,
    columns_metadata_dict['similarity_metrics'][attribute+pe],
    columns_metadata_dict)

In [57]:
uniques[attribute+pe], uniques_len[attribute+pe] = dpf.determine_similarity_values(
    df_feature_base, attribute+pe)

person_245c values range [0.         0.24632035 0.25462963 ... 0.99583333 0.99603175 1.        ]

In [58]:
position = uniques_len[attribute+pe]

dpf.show_samples_interval(
    df_feature_base, attribute+pe,
    uniques[attribute+pe][uniques_len[attribute+pe]-position-2],
    uniques[attribute+pe][uniques_len[attribute+pe]-position-1], 10)
dpf.show_samples_interval(
    df_feature_base, attribute+pe,
    uniques[attribute+pe][uniques_len[attribute+pe]-position],
    uniques[attribute+pe][uniques_len[attribute+pe]-position+2], 10)

,duplicates,person_245c_delta,person_245c_x,person_245c_y
212707,0,1.0,,
203522,0,1.0,,
202714,0,1.0,,
204444,0,1.0,,
82642,0,1.0,wolfgang amadeus mozart,wolfgang amadeus mozart
218163,0,1.0,heidy binder... [et al.] ; [éd.:] interkantona...,heidy binder... [et al.] ; [éd.:] interkantona...
125032,0,1.0,heidy binder... [et al.] ; [éd.:] interkantona...,heidy binder... [et al.] ; [éd.:] interkantona...
182389,0,1.0,,
212685,0,1.0,,
213183,0,1.0,,

0.996031746031746 <= person_245c_delta <= 1.0

,duplicates,person_245c_delta,person_245c_x,person_245c_y
55186,0,0.0,,[heidy binder... [et al.]
135845,0,0.0,,[walter bührer]
212170,0,0.0,,[heidy binder ... et al.]
233640,0,0.0,,sigrid kessler [u.a.]
78025,0,0.0,,wolfgang amadeus mozart
62917,0,0.0,,[walter bührer]
232863,0,0.0,,wolgang amadeus mozart ; dieser opernführer wu...
200658,0,0.0,herausgegeben von birgit spinath,
14155,0,0.0,regie: volker schlöndorff ; drehbuch: volker s...,
201620,0,0.0,,sigrid kessler [u.a.]

0.0 <= person_245c_delta <= 0.25462962962962954

The similarities of all three $\texttt{person}$ attributes are affected by empty values. These will be handled the same way as the attributes above.

In [59]:
pe_values = ['_100', '_245c', '_700']

for pe in pe_values :
    df_feature_base = dpf.mark_missing(df_feature_base, 'person'+pe, factor)

### pubinit

This attribute holds publisher strings that have a similar representation as attribute $\texttt{person}$. A Jaro metric will be used.

In [60]:
attribute = 'pubinit'

columns_metadata_dict['similarity_metrics'][attribute] = tedi.Jaro()

df_feature_base, columns_metadata_dict = dpf.build_delta_feature(
    df_feature_base, attribute,
    columns_metadata_dict['similarity_metrics'][attribute],
    columns_metadata_dict)

In [61]:
uniques[attribute], uniques_len[attribute] = dpf.determine_similarity_values(
    df_feature_base, attribute)

pubinit values range [0.         0.25132275 0.25303644 ... 0.98404165 0.98484848 1.        ]

In [62]:
position = uniques_len[attribute]//3

dpf.show_samples_interval(
    df_feature_base, attribute,
    uniques[attribute][uniques_len[attribute]-position-1],
    uniques[attribute][uniques_len[attribute]-position], 10)
dpf.show_samples_interval(
    df_feature_base, attribute,
    uniques[attribute][uniques_len[attribute]-5],
    uniques[attribute][uniques_len[attribute]-1], 10)

,duplicates,pubinit_delta,pubinit_x,pubinit_y
2900,0,0.554701,alber,"interkantonale lehrmittelzentrale ; [bern], be..."
149371,0,0.554701,erato,"interkantonale lehrmittelzentrale ; [bern], be..."
44999,0,0.554701,alber,"interkantonale lehrmittelzentrale ; [bern], be..."
199772,0,0.554701,alber,"interkantonale lehrmittelzentrale ; [bern], be..."
97756,0,0.554626,"tdk recording media europe, opernhaus",p. reclam jun.
199776,0,0.554701,alber,"interkantonale lehrmittelzentrale ; [bern], be..."
97782,0,0.554626,"tdk recording media europe, opernhaus",p. reclam jun.
2896,0,0.554701,alber,"interkantonale lehrmittelzentrale ; [bern], be..."
90664,0,0.554701,alber,"interkantonale lehrmittelzentrale ; [bern], be..."
149367,0,0.554701,erato,"interkantonale lehrmittelzentrale ; [bern], be..."

0.5546260546260546 <= pubinit_delta <= 0.5547008547008546

        duplicates  pubinit_delta pubinit_x pubinit_y
166368           0            1.0
82231            0            1.0
32412            0            1.0
15134            0            1.0
257429           0            1.0
31577            0            1.0
78304            0            1.0
197516           0            1.0
60706            0            1.0
162047           0            1.0

0.9777777777777779 <= pubinit_delta <= 1.0

The similarities of $\texttt{pubinit}$ are affected by empty values. These will be transformed to negative values.

In [63]:
df_feature_base = dpf.mark_missing(df_feature_base, attribute, factor)

### scale

Comparing the similarity metrics of some sample value pairs of attribute $\texttt{scale}$ in appendix [Comparison of Similarity Metrics](./B_CompareSimilarities.ipynb), a Jaccard metrics has been identified to express the best matching behaviour for purely numerical values stored in the attribute.

In [64]:
attribute = 'scale'

columns_metadata_dict['similarity_metrics'][attribute] = tedi.Jaccard()

df_feature_base, columns_metadata_dict = dpf.build_delta_feature(
    df_feature_base, attribute,
    columns_metadata_dict['similarity_metrics'][attribute],
    columns_metadata_dict)

In [65]:
uniques[attribute], uniques_len[attribute] = dpf.determine_similarity_values(
    df_feature_base, attribute)

scale values range [0.         0.17857143 0.21428571 0.57142857 1.        ]

In [66]:
position = uniques_len[attribute]

dpf.show_samples_interval(
    df_feature_base, attribute,
    uniques[attribute][uniques_len[attribute]-position],
    uniques[attribute][uniques_len[attribute]-position+1], 10)
dpf.show_samples_interval(
    df_feature_base, attribute,
    uniques[attribute][uniques_len[attribute]-3],
    uniques[attribute][uniques_len[attribute]-2], 10)
dpf.show_samples_interval(
    df_feature_base, attribute,
    uniques[attribute][uniques_len[attribute]-4],
    uniques[attribute][uniques_len[attribute]-3], 10)

        duplicates  scale_delta scale_x scale_y
59415            0          0.0          100000
241467           0          0.0          100000
214785           0          0.0          100000
124047           0          0.0          100000
71883            0          0.0          100000
99414            0          0.0          100000
151931           0          0.0           50000
182153           0          0.0          100000
208841           0          0.0          100000
257062           0          0.0  100000

0.0 <= scale_delta <= 0.1785714285714286

        duplicates  scale_delta                       scale_x scale_y
96188            0     0.571429                         50000  100000
69207            0     0.571429                         50000  100000
182434           0     0.571429                         50000  100000
227825           0     0.214286  50 000 8 10 8 35 45 55 46 05  100000
55269            0     0.571429                         50000  100000
96185            0     0.571429                         50000  100000
55281            0     0.571429                         50000  100000
182432           0     0.571429                         50000  100000
54975            0     0.571429                         50000  100000
96167            0     0.571429                         50000  100000

0.2142857142857143 <= scale_delta <= 0.5714285714285714

        duplicates  scale_delta                       scale_x scale_y
227830           0     0.178571  50 000 8 10 8 35 45 55 46 05   50000
227812           0     0.178571  50 000 8 10 8 35 45 55 46 05   50000
227502           0     0.214286  50 000 8 10 8 35 45 55 46 05  100000
227842           0     0.214286  50 000 8 10 8 35 45 55 46 05  100000
227817           0     0.214286  50 000 8 10 8 35 45 55 46 05  100000
227835           0     0.178571  50 000 8 10 8 35 45 55 46 05   50000
227863           0     0.214286  50 000 8 10 8 35 45 55 46 05  100000
227827           0     0.214286  50 000 8 10 8 35 45 55 46 05  100000
227832           0     0.214286  50 000 8 10 8 35 45 55 46 05  100000
227815           0     0.214286  50 000 8 10 8 35 45 55 46 05  100000

0.1785714285714286 <= scale_delta <= 0.2142857142857143

Attribute $\texttt{scale}$ is filled for maps, only. Due to its sparse filling, the similarities of the attribute are affected strongly by empty values. These empty values will be marked with a special negative value.

In [67]:
df_feature_base = dpf.mark_missing(df_feature_base, attribute, factor)

### ttlfull

Due to the discussion in chapter [Data Analysis](./1_DataAnalysis.ipynb), attribute $\texttt{ttlfull}$ has been split up into two new attributes $\texttt{ttlfull}\_\texttt{245}$ and $\texttt{ttlfull}\_\texttt{246}$ which will be compared by the same similarity metrics. A visual analysis of the values stored in the attribute, reveals a string of words, comparable to the strings in attribute $\texttt{person}\_\texttt{245c}$, above. The same similarity metric will be used for both title attributes, therefore.

In [68]:
attribute = 'ttlfull'

columns_metadata_dict['similarity_metrics'][attribute+'_245'] = tedi.Jaro()
columns_metadata_dict['similarity_metrics'][attribute+'_246'] = tedi.Jaro()

tf_values = ['_245', '_246']

for tf in tf_values :
    df_feature_base, columns_metadata_dict = dpf.build_delta_feature(
        df_feature_base, attribute+tf,
        columns_metadata_dict['similarity_metrics'][attribute+tf],
        columns_metadata_dict)

In [69]:
for tf in tf_values :
    uniques[attribute+tf], uniques_len[attribute+tf] = dpf.determine_similarity_values(
        df_feature_base, attribute+tf)

ttlfull_245 values range [0.         0.24175824 0.24358974 ... 0.99555556 0.99747475 1.        ]
ttlfull_246 values range [0.         0.27407407 0.35555556 0.36111111 0.36366612 0.36666667
 0.39444444 0.39814815 0.40238095 0.40555556 0.41140642 0.41190476
 0.41296296 0.41313131 0.4168847  0.41923077 0.41931217 0.42380952
 0.42424242 0.42484886 0.42767857 0.43003072 0.43333333 0.43758865
 0.43913043 0.43998145 0.44198966 0.44242424 0.44507736 0.44539295
 0.44722222 0.4479837  0.44848485 0.44901497 0.45       0.45011338
 0.45277778 0.45436508 0.45610717 0.45714286 0.45764895 0.45833333
 0.46094276 0.46205962 0.46527102 0.46729958 0.46851852 0.46885522
 0.46944444 0.46945938 0.47130647 0.47142857 0.47162447 0.47222222
 0.472318   0.47267613 0.47285513 0.47308219 0.47356964 0.47372609
 0.47388167 0.47417027 0.47428613 0.47431581 0.47446677 0.47462215
 0.47491364 0.47508251 0.47515152 0.47518634 0.47597067 0.47606838
 0.47613256 0.47629884 0.47642654 0.47794389 0.47829216 0.47836071
 0.47883598 0.47923655 0.47983991 0.48002481 0.48055556 0.48058264
 0.48072175 0.48090015 0.48108379 0.48117181 0.48138908 0.48140097
 0.48142828 0.48150738 0.48162785 0.48175055 0.48195938 0.48214286
 0.48263045 0.4826775  0.48286882 0.48306533 0.48321625 0.48413623
 0.48439153 0.48535354 0.4856778  0.48571429 0.48578781 0.48604908
 0.48641336 0.48644351 0.48797146 0.48815193 0.48853047 0.48888889
 0.48924809 0.4893576  0.48950307 0.48986759 0.49001095 0.49003527
 0.49007937 0.49008429 0.49012346 0.49032258 0.49040404 0.49103535
 0.49106892 0.49107312 0.49126525 0.49146302 0.491834   0.49186508
 0.49204893 0.49213675 0.49218107 0.49239115 0.49257106 0.49312169
 0.49317932 0.49322493 0.49338536 0.49359699 0.49361394 0.49375951
 0.49384669 0.49455364 0.49464474 0.49468599 0.49497354 0.49507736
 0.49602956 0.49624509 0.4963925  0.49642878 0.4968254  0.4973545
 0.49768519 0.4979798  0.49805212 0.49811363 0.49818041 0.49891516
 0.49901007 0.49903846 0.49938084 0.49996351 0.5        0.50007352
 0.50026056 0.50072923 0.5010582  0.50109256 0.50202922 0.50208659
 0.50223064 0.5022792  0.50252623 0.50297916 0.50325747 0.503367
 0.50353381 0.50364672 0.5037037  0.5037478  0.50385488 0.50415482
 0.5041847  0.50454545 0.50512821 0.50525207 0.50552417 0.50573313
 0.50575302 0.5057992  0.50597277 0.50664951 0.50677409 0.50732861
 0.50775194 0.50826642 0.50856834 0.5087113  0.50887911 0.50946209
 0.50959596 0.50979983 0.51008395 0.51018519 0.51031746 0.51118124
 0.51125261 0.51148851 0.51149654 0.51157616 0.51174402 0.51189994
 0.51213061 0.51223249 0.51231231 0.51254826 0.51329114 0.51331259
 0.51349206 0.51362561 0.51430997 0.51437294 0.51484488 0.51497386
 0.51506559 0.51553219 0.51570234 0.51594628 0.51666667 0.51691344
 0.51702899 0.51712033 0.51743541 0.5176564  0.51773734 0.51775632
 0.51792929 0.51810589 0.51814905 0.51851852 0.51857283 0.51860575
 0.51874458 0.51886328 0.51936779 0.51944444 0.51955034 0.51960774
 0.51982835 0.5200576  0.52011151 0.52018063 0.52068102 0.52085776
 0.52091981 0.52092283 0.52119497 0.52177892 0.52181276 0.52193622
 0.5219697  0.52214205 0.52225061 0.52229654 0.52255276 0.52264132
 0.52269213 0.52314562 0.52342638 0.52345679 0.52364244 0.52386045
 0.52407407 0.52414188 0.5241782  0.52424206 0.52431574 0.52439937
 0.52457757 0.52468631 0.52478632 0.5248248  0.52508936 0.52509542
 0.52519562 0.52524847 0.52526271 0.52536459 0.52539046 0.52552214
 0.52556202 0.52564103 0.52587827 0.52592593 0.52608418 0.52612613
 0.52612622 0.52626263 0.52627281 0.52640397 0.5265592  0.52656009
 0.52667421 0.52669822 0.52671021 0.52673027 0.52685268 0.52689036
 0.52713189 0.5274895  0.52751104 0.52755848 0.52764155 0.52765753
 0.52769281 0.52791026 0.52795355 0.52818126 0.52822195 0.5282225
 0.52825345 0.52834467 0.52859453 0.52866814 0.52867384 0.52868422
 0.52872353 0.52872543 0.52884104 0.52895091 0.52901711 0.52906309
 0.5291363  0.52918587 0.52919645 0.52944649 0.52951932 0.5295336
 0.52959512 0.52962963 0.52987013 0.52998793 0.53004695 0.53010229
 0.53048079 0.53048246 0.53055121 0.53083084 0.53087326 0.53111805
 0.53121693 0.53133862 0.53156566 0.53203203 0.5320353  0.5323434
 0.53282051 0.53315412 0.5335715  0.5335939  0.5337823  0.53396962
 0.53400206 0.53406741 0.53410595 0.53439153 0.53448433 0.53448509
 0.53465026 0.53493406 0.53541993 0.53556397 0.53561254 0.53585956
 0.53640738 0.53652968 0.53659081 0.53670034 0.53698006 0.53703704
 0.53714322 0.53717122 0.53717919 0.53741525 0.53762999 0.53763066
 0.53769468 0.53814298 0.53858541 0.53860859 0.53891199 0.53906646
 0.53915969 0.53923523 0.53943667 0.54000813 0.54058642 0.54076447
 0.54097797 0.54155497 0.54162178 0.5417724  0.54190075 0.54197511
 0.54259259 0.54273504 0.54295231 0.5430789  0.54314077 0.54315478
 0.54318182 0.54319422 0.54339746 0.5434949  0.54353496 0.5437577
 0.54419192 0.54426407 0.54432036 0.54435931 0.54444444 0.54448928
 0.54462823 0.54492744 0.54526064 0.54566377 0.54585686 0.54593775
 0.54593998 0.54623547 0.54652919 0.54655222 0.54661541 0.54662532
 0.54668305 0.54686319 0.54720371 0.5475577  0.54802931 0.54807914
 0.5480942  0.54979424 0.54990225 0.55020568 0.5503848  0.55052924
 0.55060449 0.55079254 0.55147146 0.55231805 0.55256857 0.55286395
 0.5530754  0.55308671 0.55309565 0.55344502 0.55380682 0.55399245
 0.55442003 0.55542755 0.55614618 0.55631835 0.55782632 0.55802469
 0.55813819 0.55901378 0.55925926 0.55927048 0.55972222 0.56063686
 0.5608719  0.5609691  0.56211022 0.56227106 0.56281241 0.56284476
 0.56394056 0.56419068 0.56444145 0.56485076 0.56593635 0.56627907
 0.56651702 0.56684559 0.56684563 0.56771737 0.56777485 0.56895991
 0.56970432 0.56981352 0.5708502  0.57093496 0.57264245 0.57373737
 0.57402968 0.57430244 0.57704231 0.57777778 0.57787154 0.57788004
 0.57791856 0.57799617 0.5786883  0.57871306 0.57960433 0.57972064
 0.58164251 0.58164869 0.58573749 0.58730159 0.58776655 0.58888889
 0.59039202 0.59345238 0.59406518 0.59432206 0.59464634 0.59466313
 0.59501764 0.59508439 0.59553872 0.5955603  0.59567009 0.5957831
 0.59599509 0.59604377 0.59611791 0.59619342 0.59673489 0.59676384
 0.59688158 0.59700251 0.59815668 0.59831081 0.59903297 0.60128583
 0.6034151  0.60364829 0.60883838 0.60991141 0.61038382 0.61656746
 0.61687705 0.6172619  0.62160778 0.62196621 0.62212846 0.6244528
 0.63073752 0.63121706 0.63224638 0.63644989 0.63654207 0.63769415
 0.63808033 0.63863864 0.6388604  0.6399036  0.6456229  0.64603175
 0.65555556 0.6683087  0.66831276 0.66832093 0.66839378 0.6687054
 0.6691358  0.68468468 0.6875     0.68817204 0.69996186 0.7
 0.7062201  0.73421474 0.74010923 0.74092128 0.74489383 0.74491902
 0.74573466 0.74921835 0.74969787 0.75082075 0.75230119 0.75244229
 0.75374054 0.75420966 0.75610817 0.75629337 0.75990617 0.76163873
 0.76172013 0.76481419 0.76742176 0.7693553  0.76939315 0.77159389
 0.77194766 0.77304965 0.77444931 0.77461959 0.77497666 0.77541415
 0.77552171 0.77630767 0.77765089 0.77826077 0.77850131 0.779827
 0.78079164 0.78163346 0.78271773 0.78282309 0.78294574 0.78344565
 0.78352361 0.7838588  0.78428421 0.78488686 0.78550931 0.78596701
 0.7862279  0.78798248 0.78840564 0.78958469 0.78961469 0.79127139
 0.79150733 0.79162112 0.79244934 0.79374858 0.79459037 0.79460629
 0.79501115 0.79524232 0.79542353 0.79678314 0.79718782 0.79721335
 0.79786325 0.79810583 0.79847261 0.79880051 0.79910532 0.79998341
 0.80015496 0.80022704 0.80057412 0.80083275 0.8011063  0.8011491
 0.80147732 0.80162885 0.80196398 0.80222163 0.80227662 0.80262561
 0.80296272 0.80329229 0.80332882 0.80338443 0.80378215 0.80396002
 0.80408979 0.80437202 0.80618508 0.80692759 0.80707195 0.80766949
 0.80784947 0.80827006 0.80853304 0.80907079 0.8105265  0.81056525
 0.8106362  0.81192579 0.81202828 0.81286024 0.81295208 0.81327958
 0.81376888 0.81406748 0.8167405  0.8176154  0.81791627 0.81818182
 0.81915822 0.820475   0.82138336 0.82181838 0.82443439 0.82444176
 0.82493377 0.82548298 0.8262313  0.82868935 0.82923237 0.83054292
 0.83120762 0.832764   0.83353824 0.83766816 0.83890217 0.84147218
 0.84507229 0.84877596 0.84936231 0.86251818 0.8683525  0.86869208
 0.87324464 0.87467806 0.87468084 0.87846479 0.88337845 0.88466933
 0.88536327 0.88543213 0.88907267 0.8913713  0.89642895 0.89847724
 0.89894992 0.96666667 0.97777778 0.98550725 1.        ]

In [70]:
tf = '_245'
position = uniques_len[attribute+tf]

dpf.show_samples_interval(
    df_feature_base, attribute+tf,
    uniques[attribute+tf][uniques_len[attribute+tf]-position],
    uniques[attribute+tf][uniques_len[attribute+tf]-position+1], 10)
dpf.show_samples_interval(
    df_feature_base, attribute+tf,
    uniques[attribute+tf][uniques_len[attribute+tf]-3],
    uniques[attribute+tf][uniques_len[attribute+tf]-2], 10)
dpf.show_samples_interval(
    df_feature_base, attribute+tf,
    uniques[attribute+tf][uniques_len[attribute+tf]-4],
    uniques[attribute+tf][uniques_len[attribute+tf]-3], 10)

,duplicates,ttlfull_245_delta,ttlfull_245_x,ttlfull_245_y
223033,0,0.0,emma,blick in die welt
11603,0,0.0,emma,trionfi
96727,0,0.0,emma,blick in die welt
78388,0,0.0,"genéve, genff",domodossola
33853,0,0.0,arts,blick in die welt
219182,0,0.0,bildungsforschung und bildungspraxis,emma
33873,0,0.0,arts,blick in die welt
225984,0,0.0,emma,blick in die welt
89549,0,0.0,"bildungsforschung und bildungspraxis, beiheft",emma
89427,0,0.0,"bildungsforschung und bildungspraxis, beiheft",emma

0.0 <= ttlfull_245_delta <= 0.2417582417582418

,duplicates,ttlfull_245_delta,ttlfull_245_x,ttlfull_245_y
249,1,0.997475,sozialleistungsbetrug: sozialversicherungsbetr...,sozialleistungsbetrug: sozialversicherungsbetr...
144730,0,0.995556,"bonne chance !, cours de langue française deux...","bonne chance !, cours de langue française, deu..."
237,1,0.997475,sozialleistungsbetrug: sozialversicherungsbetr...,sozialleistungsbetrug: sozialversicherungsbetr...

0.9955555555555556 <= ttlfull_245_delta <= 0.9974747474747474

,duplicates,ttlfull_245_delta,ttlfull_245_x,ttlfull_245_y
1354,1,0.99537,"der moralische status der tiere, henry salt, p...","der moralische status der tiere, henry salt, p..."
52668,0,0.99537,"der moralische status der tiere, henry salt, p...","der moralische status der tiere, henry salt, p..."
63,1,0.99537,"der moralische status der tiere, henry salt, p...","der moralische status der tiere, henry salt, p..."
49,1,0.99537,"der moralische status der tiere, henry salt, p...","der moralische status der tiere, henry salt, p..."
128908,0,0.99537,"der moralische status der tiere, henry salt, p...","der moralische status der tiere, henry salt, p..."
200068,0,0.99537,"der moralische status der tiere, henry salt, p...","der moralische status der tiere, henry salt, p..."
81,1,0.99537,"der moralische status der tiere, henry salt, p...","der moralische status der tiere, henry salt, p..."
194138,0,0.99537,"der moralische status der tiere, henry salt, p...","der moralische status der tiere, henry salt, p..."
29,1,0.99537,"der moralische status der tiere, henry salt, p...","der moralische status der tiere, henry salt, p..."
78,1,0.99537,"der moralische status der tiere, henry salt, p...","der moralische status der tiere, henry salt, p..."

0.9953703703703703 <= ttlfull_245_delta <= 0.9955555555555556

Attribute $\texttt{ttlfull}\_\texttt{245}$ is filled for all data rows of Swissbib's raw data as can be seen in chapter [Data Analysis](./1_DataAnalysis.ipynb). For attribute $\texttt{ttlfull}\_\texttt{245}$, the filling is below $10\%$. The data pairs with missing values will be marked with a negative value as has been done for similar cases above.

In [71]:
df_feature_base = dpf.mark_missing(df_feature_base, attribute+'_246', factor)

### volumes

This attribute is described in chapter [Data Analysis](./1_DataAnalysis.ipynb) to hold a kind of contents that resembles the contents of attribute $\texttt{part}$. The same similarity metrics will be used for attribute $\texttt{volumes}$ as for attribute $\texttt{part}$, therefore.

In [72]:
attribute = 'volumes'

columns_metadata_dict['similarity_metrics'][attribute] = tedi.StrCmp95()
#tedi.Jaro()
#tedi.LCSSeq()
#tedi.MongeElkan()

df_feature_base, columns_metadata_dict = dpf.build_delta_feature(
    df_feature_base, attribute,
    columns_metadata_dict['similarity_metrics'][attribute],
    columns_metadata_dict)

In [73]:
uniques[attribute], uniques_len[attribute] = dpf.determine_similarity_values(
    df_feature_base, attribute)

volumes values range [0.         0.31318681 0.32222222 0.32905983 0.35128205 0.37301587
 0.37407407 0.38333333 0.38461538 0.3952381  0.40740741 0.41111111
 0.41666667 0.41737892 0.42857143 0.43650794 0.43703704 0.44017094
 0.44166667 0.44200244 0.44230769 0.44761905 0.4537037  0.45555556
 0.45833333 0.46296296 0.46428571 0.46581197 0.46666667 0.47008547
 0.47222222 0.47619048 0.47777778 0.48148148 0.48333333 0.48412698
 0.48611111 0.48888889 0.49007937 0.49145299 0.49206349 0.49365079
 0.4991453  0.5        0.50793651 0.51111111 0.51190476 0.52222222
 0.52380952 0.52564103 0.52777778 0.53333333 0.53653846 0.53703704
 0.53968254 0.54074074 0.54166667 0.54304029 0.54401709 0.54722222
 0.54761905 0.5491453  0.55       0.55128205 0.55555556 0.56031746
 0.56111111 0.56190476 0.56507937 0.56630037 0.56666667 0.56944444
 0.57407407 0.57478632 0.57777778 0.58148148 0.58333333 0.58730159
 0.58862434 0.58888889 0.59444444 0.5952381  0.59722222 0.5982906
 0.6        0.60119048 0.60320513 0.60683761 0.60714286 0.61025641
 0.61111111 0.61507937 0.61666667 0.61904762 0.61923077 0.62037037
 0.62222222 0.62380952 0.625      0.62637363 0.62777778 0.62962963
 0.63095238 0.63247863 0.63296703 0.63333333 0.63888889 0.64285714
 0.64444444 0.65079365 0.65555556 0.65833333 0.66018519 0.66178266
 0.66269841 0.66481481 0.66666667 0.66987179 0.67195767 0.67264957
 0.67619048 0.67777778 0.68055556 0.68333333 0.68589744 0.68611111
 0.68888889 0.69047619 0.69230769 0.69444444 0.6984127  0.7
 0.7037037  0.70714286 0.70833333 0.70940171 0.71111111 0.71309524
 0.71428571 0.71794872 0.71851852 0.72222222 0.72222222 0.72619048
 0.72685185 0.72820513 0.72962963 0.73148148 0.73333333 0.73888889
 0.74074074 0.74358974 0.74814815 0.75       0.75277778 0.76190476
 0.76666667 0.77142857 0.77207977 0.77289377 0.77380952 0.77777778
 0.78333333 0.78518519 0.79047619 0.79166667 0.8        0.80555556
 0.80952381 0.81944444 0.82222222 0.83333333 0.83809524 0.84920635
 0.85       0.85714286 0.86666667 0.875      0.87777778 0.88888889
 0.9047619  0.91666667 0.93333333 1.        ]

In [74]:
position = uniques_len[attribute]

dpf.show_samples_interval(
    df_feature_base, attribute,
    uniques[attribute][uniques_len[attribute]-position],
    uniques[attribute][uniques_len[attribute]-position+1], 10)
dpf.show_samples_interval(
    df_feature_base, attribute,
    uniques[attribute][uniques_len[attribute]-3],
    uniques[attribute][uniques_len[attribute]-2], 10)
dpf.show_samples_interval(
    df_feature_base, attribute,
    uniques[attribute][uniques_len[attribute]-4],
    uniques[attribute][uniques_len[attribute]-3], 10)

        duplicates  volumes_delta volumes_x volumes_y
157398           0            0.0               1 452
220439           0            0.0       332
61566            0            0.0        74        10
71324            0            0.0        64         1
156892           0            0.0                   1
5937             0            0.0         2       521
53491            0            0.0     1 379       244
145169           0            0.0       413       127
60513            0            0.0        71
12000            0            0.0        64       332

0.0 <= volumes_delta <= 0.3131868131868132

        duplicates  volumes_delta volumes_x volumes_y
100432           0       0.916667      1 82       1 2
54818            0       0.933333      1 36     1 346
23934            0       0.916667      1 82       1 2
39561            0       0.933333     1 169      1 16
7921             0       0.916667      1 82       1 2
250334           0       0.916667      1 32      1 23
54829            0       0.933333      1 36     1 376
16434            0       0.933333     1 167      1 16
249931           0       0.933333     1 245     1 425
10888            0       0.916667      1 82       1 2

0.9166666666666666 <= volumes_delta <= 0.9333333333333332

        duplicates  volumes_delta volumes_x volumes_y
250458           0       0.916667      1 32       1 2
17               1       0.904762     1 169   1 0 169
247197           0       0.916667      1 45       145
8637             0       0.904762   1 0 169     1 169
250334           0       0.916667      1 32      1 23
135609           0       0.916667       191      1 91
79674            0       0.916667      1 82       1 2
107548           0       0.916667      1 82       1 2
247463           0       0.916667      1 45       145
10889            0       0.916667      1 82       1 2

0.9047619047619048 <= volumes_delta <= 0.9166666666666666

Attribute $\texttt{volumes}$ holds rows with missing data. The data pairs with missing values will be marked with a special negative value.

In [75]:
df_feature_base = dpf.mark_missing(df_feature_base, attribute, factor)

## DataFrame with Attributes and Similarity Features

The metric for each attribute of the feature DataFrame has been decided and the similarity features have been calculated. In this last step, the columns of the DataFrame are reordered in order to place the $\_\texttt{delta}$ columns close to their input origins $\_\texttt{x}$ and $\_\texttt{y}$ and some sample records are shown.

In [76]:
# Take _x, _y, and _delta columns together
fb_col_list = df_feature_base.columns.tolist()
fb_col_list.sort()
# Move target column to first place
fb_col_list.insert(0, fb_col_list.pop(fb_col_list.index('duplicates')))
# Reorder DataFrame columns
df_attribute_with_sim_feature = pd.DataFrame(df_feature_base, columns=fb_col_list)

# Extend display to number of columns of DataFrame
pd.options.display.max_columns = len(df_attribute_with_sim_feature.columns)

class_label = ['uniques', 'duplicate']

for i in class_label:
    display(df_attribute_with_sim_feature[df_attribute_with_sim_feature.duplicates==class_label.index(i)].sample(n=10))
    print(i)

,duplicates,coordinate_E_delta,coordinate_E_x,coordinate_E_y,coordinate_N_delta,coordinate_N_x,coordinate_N_y,corporate_full_delta,corporate_full_x,corporate_full_y,doi_delta,doi_x,doi_y,edition_delta,edition_x,edition_y,exactDate_delta,exactDate_x,exactDate_y,format_postfix_delta,format_postfix_x,format_postfix_y,format_prefix_delta,format_prefix_x,format_prefix_y,isbn_delta,isbn_x,isbn_y,ismn_delta,ismn_x,ismn_y,musicid_delta,musicid_x,musicid_y,part_delta,part_x,part_y,person_100_delta,person_100_x,person_100_y,person_245c_delta,person_245c_x,person_245c_y,person_700_delta,person_700_x,person_700_y,pubinit_delta,pubinit_x,pubinit_y,scale_delta,scale_x,scale_y,ttlfull_245_delta,ttlfull_245_x,ttlfull_245_y,ttlfull_246_delta,ttlfull_246_x,ttlfull_246_y,volumes_delta,volumes_x,volumes_y
109095,0,-1.0,,,-1.0,,,-1.0,,,-1.0,,,-0.5,,3,0.250,1982aaaa,2010uuuu,0.111111,020000,030100,0.0,bk,vm,0.0,[3-499-17476-6],"[978-3-292-00266-2 (Livre du professeur, Cahie...",-1.0,,,-1.000000,,,-0.500000,7476,,-0.500000,mozartwolfgang amadeus,,0.593876,wolfgang amadeus mozart ; hrsg. von attila csa...,"[autorinnen und autoren: sigrid kessler, brigi...",0.521935,csampaiattila,"kesslersigrid, suterbrigitte, waltherrudolf",0.488600,rowohlt,interkantonale lehrmittelzentrale,-1.0,,,0.539496,"die zauberflöte, texte, materialien, kommentare","bonne chance!, 3, version ""realschule""",-1.0,,,-0.500000,282,
45645,0,-1.0,,,-1.0,,,-1.0,,,-1.0,,,-1.0,,,0.250,2007aaaa,1979uuuu,0.111111,010300,020000,0.0,vm,bk,0.0,[],[3-442-33001-7],-1.0,,,0.166667,502023,33001,-0.500000,,33001 33001,-0.500000,,mozartwolfgang amadeus,0.532738,ein film von volker schlöndorff,wolfgang amadeus mozart ; dieser opernführer w...,0.481620,"schlöndorffvolker, frischmax, shepardsam, delp...",pahlenkurt,0.593254,"kinowelt home entertainment, arthaus","w. goldmann, musikverlag b. schott's söhne",-1.0,,,0.496726,homo faber,"die zauberflöte, originalausgabe",-1.0,,,0.777778,2,252
74538,0,-1.0,,,-1.0,,,-0.5,"metropolitan operaorchestra, metropolitan oper...",,-1.0,,,-1.0,,,0.500,2000aaaa,uuuuuuuu,0.428571,010300,010000,0.0,vm,mu,1.0,[],[],-1.0,,,0.000000,073,8962,-1.000000,,,0.524621,mozartwolfgang amadeus,wolfhugo,-0.500000,w. a. mozart ; libretto: emanuel schikaneder,,-0.500000,"schikanederemanuel, hockneydavid, levinejames",,-1.000000,,,-1.0,,,0.532859,"die zauberflöte, oper in zwei aufzügen : kv 620","mörike-lieder, band 1-4",-1.0,,,0.733333,1 169,1
238229,0,-1.0,,,-1.0,,,-0.5,,schweizdirektion für entwicklung und zusammena...,-1.0,,,-1.0,,,0.500,1987aaaa,19989999,0.111111,020000,030600,0.0,bk,cr,0.0,[],[1661-1667],-1.0,,,-1.000000,,,-0.500000,2,,-1.000000,,,0.660148,sigrid kessler... [et al.] ; [éd.:] interkanto...,hrsg.: direktion für entwicklung und zusammena...,-1.000000,,,-0.500000,staatlicher lehrmittelverlag,,-1.0,,,0.622719,"bonne chance!, cours de langue française, troi...","eine welt, das deza-magazin für entwicklung un...",-0.5,,eine welt,-0.500000,135,
42898,0,-1.0,,,-1.0,,,-1.0,,,-1.0,,,-1.0,,,0.250,1993aaaa,2017uuuu,0.111111,010100,020000,0.0,mu,bk,0.0,[963-8303-08-5],[978-0-7294-1151-6],-1.0,,,-1.000000,,,-0.500000,,20,0.535227,mozartwolfgang amadeus,voltaire,0.486726,wolfgang amadeus mozart,critical edition by nicholas cronk and j.b. sh...,-1.000000,,,0.399854,könemann,voltaire foundation,-1.0,,,0.568315,"die zauberflöte, partitura","the complete works of voltaire, micromégas and...",-1.0,,,0.000000,225,467
134709,0,-1.0,,,-1.0,,,-1.0,,,-0.5,,10.5169/seals-515343,-1.0,,,0.250,1932aaaa,2014uuuu,0.428571,010200,010053,0.0,mu,bk,1.0,[],[],-1.0,,,-0.500000,10425,,-0.500000,,293 2014,0.492677,mozartwolfgang amadeus,bührerwalter,0.517929,w.a. mozart ; ... hrsg. von kurt soldan ; klav...,[walter bührer],-0.500000,"soldankurt, mozartwolfgang amadeus",,-0.500000,c.f. peters,,-1.0,,,0.544024,"die zauberflöte, oper in 2 aufzügen",blick in die welt,-1.0,,,-0.500000,1 188,
199498,0,-1.0,,,-1.0,,,-1.0,,,-1.0,,,-1.0,,,0.250,2016aaaa,1991uuuu,0.428571,020000,020053,1.0,bk,bk,0.0,[978-0-7294-1155-4],"[978-3-598-31496-4 (print), 978-3-11-097084-5]",-1.0,,,-1.000000,,,0.566667,13,16 16,0.633333,voltaire,mortzfeldpeter,0.499163,sous la dir. de diego venturino = [les oeuvres...,"mortzfeld, peter; raabe, paul",0.477778,venturinodiego,raabepaul,0.460819,voltaire foundation,de gruyter saur,-1.0,,,0.561468,"the complete works of voltaire, siècle de loui...",katalog der graphischen porträts in der herzog...,-1.0,,,0.511111,351,1 415
247950,0,-1.0,,,-1.0,,,-1.0,,,-0.5,,10.5169/seals-377422,-1.0,,,0.625,2017aaaa,2010uuuu,0.111111,020000,010053,1.0,bk,bk,0.0,[978-0-7294-1151-6],[],-1.0,,,-1.000000,,,0.541667,20,289 2010,0.493056,voltaire,bührerwalter,0.519444,voltaire,[walter bührer],-0.500000,voltaire,,-1.000000,,,-1.0,,,0.517131,micromégas and other texts (1738-1742),blick in die welt,-1.0,,,-0.500000,467,
37381,0,-1.0,,,-1.0,,,-1.0,,,-1.0,,,-1.0,,,0.500,19702006,1996uuuu,0.111111,010100,020000,0.0,mu,bk,1.0,[],[],-1.0,,,-0.500000,4553,,-0.500000,5 19,,1.000000,mozartwolfgang amadeus,mozartwolfgang amadeus,0.575163,wolfgang amadeus mozart ; [text von emanuel sc...,mozart,-0.500000,"grubergernot, orelalfred, schikanederemanuel, ...",,0.464001,bärenreiter,"deutsche grammophon, archiv produktion",-1.0,,,0.723241,"die zauberflöte, [kv 620 : eine deutsche oper ...","die zauberflöte, [enregistrement sonore] : la ...",-1.0,,,0.000000,379,2
111883,0,-1.0,,,-1.0,,,-0.5,interkantonale lehrmittelzentrale,,-1.0,,,-1.0,,,0.500,1982aaaa,1900uuuu,0.111111,020000,010100,0.0,bk,mu,1.0,[],[],-1.0,,,-0.500000,,4355,-1.000000,,,0.474359,kesslersigrid,mozartwolfgang amadeus,0.674095,"sigrid kessler, charlotte ritschard, helen wal...",w.a. mozart ; text von emanuel schikaneder ; n...,0.690114,"ritschardcharlotte, wallimannhelen","schikanederemanuel, aberthermann",-0.500000,staatlicher lehrmittelverlag,,-1.0,,,0.580226,"bonne chance!, cours de langue française, deux...","die zauberflöte, oper in zwei aufzügen : kv.620",-1.0,,,0.777778,4,412

uniques

,duplicates,coordinate_E_delta,coordinate_E_x,coordinate_E_y,coordinate_N_delta,coordinate_N_x,coordinate_N_y,corporate_full_delta,corporate_full_x,corporate_full_y,doi_delta,doi_x,doi_y,edition_delta,edition_x,edition_y,exactDate_delta,exactDate_x,exactDate_y,format_postfix_delta,format_postfix_x,format_postfix_y,format_prefix_delta,format_prefix_x,format_prefix_y,isbn_delta,isbn_x,isbn_y,ismn_delta,ismn_x,ismn_y,musicid_delta,musicid_x,musicid_y,part_delta,part_x,part_y,person_100_delta,person_100_x,person_100_y,person_245c_delta,person_245c_x,person_245c_y,person_700_delta,person_700_x,person_700_y,pubinit_delta,pubinit_x,pubinit_y,scale_delta,scale_x,scale_y,ttlfull_245_delta,ttlfull_245_x,ttlfull_245_y,ttlfull_246_delta,ttlfull_246_x,ttlfull_246_y,volumes_delta,volumes_x,volumes_y
198,1,-1.0,,,-1.0,,,1.0,schweizerische gesellschaft für bildungsforschung,schweizerische gesellschaft für bildungsforschung,-1.0,,,-1.0,,,1.000,19791999,19791999,1.0,030600,030600,1.0,cr,cr,1.0,[0252-9955],[0252-9955],-1.0,,,-1.0,,,-1.000000,,,-1.0,,,0.762602,[hrsg. von der schweizerischen gesellschaft fü...,hrsg.: schweizerische gesellschaft für bildung...,-1.000000,,,-0.5,"klett und balmer, universitätsverlag, universi...",,-1.0,,,0.719298,"bildungsforschung und bildungspraxis, schweize...",bildungsforschung und bildungspraxis,0.706220,"education et recherche, educazione e ricerca",educazione e ricerca,-1.000000,,
1320,1,-1.0,,,-1.0,,,-1.0,,,-1.0,,,-1.0,,,1.000,20151475,20151475,1.0,020000,020000,1.0,bk,bk,1.0,"[88-7922-121-3, 978-88-7922-121-4]",[978-88-7922-121-4],-1.0,,,-1.0,,,0.777778,1 1,1,1.0,petrarcafrancesco,petrarcafrancesco,1.000000,francesco petrarca ; commento di bernardo lapini,francesco petrarca ; commento di bernardo lapini,1.000000,lapinibernardo,lapinibernardo,1.0,"adv, biblioteca cantonale di lugano","adv, biblioteca cantonale di lugano",-1.0,,,1.000000,"trionfi, riedizione accurata dell'incunabolo c...","trionfi, riedizione accurata dell'incunabolo c...",-1.000000,,,1.000000,2,2
789,1,-1.0,,,-1.0,,,-1.0,,,-1.0,,,-1.0,,,0.750,20091990,2009uuuu,1.0,010300,010300,1.0,vm,vm,1.0,[],[],-1.0,,,1.0,502430,502430,-1.000000,,,-1.0,,,0.772755,ein film von volker schlöndorff ; nach dem rom...,regie: volker schlöndorff ; nach dem roman von...,0.836905,"schlöndorffvolker, wurlitzerrudolph, frischmax...","schlöndorffvolker, frischmax",-0.5,,kinowelt home entertainment,-1.0,,,1.000000,homo faber,homo faber,-1.000000,,,1.000000,1 109,1 109
1382,1,-1.0,,,-1.0,,,1.0,schweizerische normen-vereinigung,schweizerische normen-vereinigung,-1.0,,,-1.0,,,0.750,2011aaaa,2011uuuu,1.0,020053,020053,1.0,bk,bk,1.0,[],[],-1.0,,,-1.0,,,-1.000000,,,-1.0,,,-1.000000,,,-1.000000,,,1.0,schweizerische normen-vereinigung (snv),schweizerische normen-vereinigung (snv),-1.0,,,0.841188,health informatics - personal health device co...,informatique de santé - communication entre di...,0.885363,medizinische informatik - kommunikation von ge...,medizinische informatik - kommunikation von ge...,-1.000000,,
1202,1,-1.0,,,-1.0,,,-1.0,,,-1.0,,,1.0,6,6,0.750,2013aaaa,2013uuuu,1.0,020000,020000,1.0,bk,bk,0.5,"[978-3-13-127286-7, 978-3-13-150826-3 (PDF)]","[978-3-13-127286-7, 3-13-127286-4]",-1.0,,,-1.0,,,-1.000000,,,1.0,trappehans-joachim,trappehans-joachim,1.000000,"hans-joachim trappe, hans-peter schuster","hans-joachim trappe, hans-peter schuster",-0.500000,schusterhans-peter,,-0.5,thieme,,-1.0,,,1.000000,ekg-kurs für isabel,ekg-kurs für isabel,-1.000000,,,1.000000,325,325
1070,1,-1.0,,,-1.0,,,-1.0,,,-1.0,,,-1.0,,,0.750,1987aaaa,1987uuuu,1.0,020000,020000,1.0,bk,bk,1.0,[],[],-1.0,,,-1.0,,,-1.000000,,,-1.0,,,-1.000000,,,-1.000000,,,1.0,[staatlicher lehrmittelverlag],[staatlicher lehrmittelverlag],-1.0,,,1.000000,"bonne chance !, cours de langue française prem...","bonne chance !, cours de langue française prem...",-1.000000,,,1.000000,134,134
567,1,-1.0,,,-1.0,,,-1.0,,,-1.0,,,-1.0,,,0.750,1843aaaa,1843uuuu,1.0,020000,020000,1.0,bk,bk,1.0,[],[],-1.0,,,-1.0,,,-1.000000,,,1.0,mozartwolfgang amadeus,mozartwolfgang amadeus,1.000000,in musik gesetzt von w.a. mozart,in musik gesetzt von w.a. mozart,-1.000000,,,-0.5,orell füssli,,-1.0,,,1.000000,"die zauberflöte, grosse oper in zwei akten","die zauberflöte, grosse oper in zwei akten",-1.000000,,,1.000000,31,31
513,1,-1.0,,,-1.0,,,-1.0,,,-1.0,,,-1.0,,,0.750,1970aaaa,1970uuuu,1.0,010200,010200,1.0,mu,mu,1.0,[],[],-1.0,,,1.0,4553,4553,-1.000000,,,1.0,mozartwolfgang amadeus,mozartwolfgang amadeus,0.820047,wolfgang amadeus mozart ; text von emanuel sch...,wolfgang amadeus mozart ; text von emanuel sch...,-0.500000,"grubergernot, orelalfred, moehnheinz, schikane...",,-1.0,,,-1.0,,,1.000000,"die zauberflöte, eine deutsche oper in zwei au...","die zauberflöte, eine deutsche oper in zwei au...",-1.000000,,,0.733333,1 221,1
797,1,-1.0,,,-1.0,,,-1.0,,,-1.0,,,-1.0,,,0.875,20091991,20091990,1.0,010300,010300,1.0,vm,vm,1.0,[],[],-1.0,,,1.0,502430,502430,-1.000000,,,-1.0,,,1.000000,ein film von volker schlöndorff ; nach dem rom...,ein film von volker schlöndorff ; nach dem rom...,0.864307,"schlöndorffvolker, frischmax, junkersdorfeberh...","schlöndorffvolker, wurlitzerrudolph, frischmax...",1.0,kinowelt home entertainment,kinowelt home entertainment,-1.0,,,1.000000,homo faber,homo faber,-1.000000,,,1.000000,1 109,1 109
889,1,-1.0,,,-1.0,,,-1.0,,,-1.0,,,-1.0,,,0.750,2011aaaa,2011uuuu,1.0,010300,010300,1.0,vm,vm,1.0,[],[],-1.0,,,-1.0,,,1.000000,1 1,1 1,-1.0,,,1.000000,volker schlöndorff ; nach dem roman von max fr...,volker schlöndorff ; nach dem roman von max fr...,1.000000,"schlöndorffvolker, myersstanley, wurlitzerrudo...","schlöndorffvolker, myersstanley, wurlitzerrudo...",1.0,"suhrkamp, absolut medien","suhrkamp, absolut medien",-1.0,,,1.000000,homo faber,homo faber,-1.000000,,,1.000000,1 117,1 117

duplicate

## Summary

This chapter covers the central area of feature construction. The features of the feature matrix have been generated for each attribute of Swissbib's raw data, deciding on its similarity metric. With these metric values, the feature base DataFrame has been extended and a new DataFrame with the attribute values of the pairs together with their calculated similarity value have been generated. The similarity values will be the final features for training and performance testing of the models, compare [[JudACaps](./A_References.ipynb#judacaps)].

In [77]:
columns_metadata_dict['similarity_metrics']

{'coordinate_E': LCSStr({'qval': 1, 'external': True}),
 'coordinate_N': LCSStr({'qval': 1, 'external': True}),
 'corporate_full': LCSStr({'qval': 1, 'external': True}),
 'doi': Identity({'qval': 1, 'external': True}),
 'edition': Jaccard({'qval': 1, 'as_set': False, 'external': True}),
 'exactDate': Hamming({'qval': 1, 'test_func': <function Base._ident at 0x1101fac80>, 'truncate': False, 'external': True}),
 'format_prefix': Identity({'qval': 1, 'external': True}),
 'format_postfix': Jaccard({'qval': 2, 'as_set': False, 'external': True}),
 'isbn': Identity({'qval': 1, 'external': True}),
 'ismn': Identity({'qval': 1, 'external': True}),
 'musicid': LCSStr({'qval': 1, 'external': True}),
 'part': StrCmp95({'long_strings': False, 'external': True}),
 'person_100': StrCmp95({'long_strings': False, 'external': True}),
 'person_700': StrCmp95({'long_strings': False, 'external': True}),
 'person_245c': Jaro({'qval': 1, 'long_tolerance': False, 'winklerize': False, 'external': True}),
 'pubinit': Jaro({'qval': 1, 'long_tolerance': False, 'winklerize': False, 'external': True}),
 'scale': Jaccard({'qval': 1, 'as_set': False, 'external': True}),
 'ttlfull_245': Jaro({'qval': 1, 'long_tolerance': False, 'winklerize': False, 'external': True}),
 'ttlfull_246': Jaro({'qval': 1, 'long_tolerance': False, 'winklerize': False, 'external': True}),
 'volumes': StrCmp95({'long_strings': False, 'external': True})}

The similarity metric decided for each attribute has been added as an additional piece of information to the columns metadata dictionary. The following table gives this summary in a structured form and lists the metric used for each attribute. Attributes with the same font color indicate similar types of values (description column) for better orientation.

| attribute     | subtype | description | similarity metric |
| ------------- |:--------|:------------|:------------------|
|<font color='red'>[coordinate](#coordinate)</font>|<font color='red'>\_E</font>|<font color='red'>Code(9)</font>|<font color='red'>LCSStr</font>|
|               |<font color='red'>\_N</font>|<font color='red'>Code(9)</font>|<font color='red'>LCSStr</font>|
|<font color='blue'>[corporate](#corporate)</font>|<font color='blue'>\_full</font>|<font color='blue'>Name</font>|<font color='blue'>LCSStr</font>|
|<font color='green'>[doi](#doi)</font>|         |<font color='green'>Identifier</font>|<font color='green'>Identity</font>|
|<font color='orange'>[edition](#edition)</font>|         |<font color='orange'>Number</font>|<font color='orange'>Jaccard</font>|
|<font color='black'>[exactDate](#exactDate)</font>|         |<font color='black'>Date</font>|<font color='black'>Hamming</font>|
|<font color='red'>[format](#format)</font>|<font color='red'>\_prefix</font>|<font color='red'>Code(2)</font>|<font color='red'>Identity</font>|
|               |<font color='red'>\_postfix</font>|<font color='red'>Code(6)</font>|<font color='red'>Jaccard (qval=2)</font>|
|<font color='green'>[isbn](#isbn)</font>|         |<font color='green'>Identifier</font>|<font color='green'>Identity</font>|
|<font color='green'>[ismn](#ismn)</font>|         |<font color='green'>Identifier</font>|<font color='green'>Identity</font>|
|<font color='green'>[musicid](#musicid)</font>|         |<font color='green'>Identifier</font>|<font color='green'>LCSStr</font>|
|<font color='orange'>[part](#part)</font>|         |<font color='orange'>Number</font>|<font color='orange'>StrCmp95</font>|
|<font color='blue'>[person](#person)</font>|<font color='blue'>\_100</font>|<font color='blue'>Name</font>|<font color='blue'>StrCmp95</font>|
|               |<font color='blue'>\_700</font>|<font color='blue'>Name</font>|<font color='blue'>StrCmp95</font>|
|               |<font color='blue'>\_245c</font>|<font color='blue'>Name</font>|<font color='blue'>Jaro</font>|
|<font color='blue'>[pubinit](#pubinit)</font>|         |<font color='blue'>Name</font>|<font color='blue'>Jaro</font>|
|<font color='orange'>[scale](#scale)</font>|         |<font color='orange'>Number</font>|<font color='orange'>Jaccard</font>|
|<font color='blue'>[ttlfull](#ttlfull)</font>|<font color='blue'>\_245</font>|<font color='blue'>String</font>|<font color='blue'>Jaro</font>|
|               |<font color='blue'>\_246</font>|<font color='blue'>String</font>|<font color='blue'>Jaro</font>|
|<font color='orange'>[volumes](#volumes)</font>|         |<font color='orange'>Number</font>|<font color='orange'>StrCmp95</font>|

### Full Feature Matrix with Target Vector Handover

To hand over the resulting DataFrame of this chapter, the DataFrame is saved into a pickle file that will be read in the next chapters [Features Discussion and Dummy Classifier Baseline](./5_FeatureDiscussionDummyBaseline.ipynb) as input.

In [78]:
# Store into compressed intermediary file
with bz2.BZ2File(os.path.join(path_goldstandard,
                       'labelled_feature_matrix_full.pkl'), 'w') as df_output_file:
    pk.dump(df_attribute_with_sim_feature, df_output_file)

The full metadata dictionary is to be persisted for handover to subsequent chapters.

In [79]:
# The target is still needed for the feature matrix
columns_metadata_dict['features'].append('duplicates')

for k in columns_metadata_dict.keys():
    print(k, '\n', columns_metadata_dict[k], '\n')

data_analysis_columns
 ['coordinate_E', 'coordinate_N', 'corporate_full', 'doi', 'edition', 'exactDate', 'format_prefix', 'format_postfix', 'isbn', 'ismn', 'musicid', 'part', 'person_100', 'person_700', 'person_245c', 'pubinit', 'scale', 'ttlfull_245', 'ttlfull_246', 'volumes']

columns_to_use
 ['duplicates', 'coordinate_E_x', 'coordinate_E_y', 'coordinate_N_x', 'coordinate_N_y', 'corporate_full_x', 'corporate_full_y', 'doi_x', 'doi_y', 'edition_x', 'edition_y', 'exactDate_x', 'exactDate_y', 'format_prefix_x', 'format_prefix_y', 'format_postfix_x', 'format_postfix_y', 'isbn_x', 'isbn_y', 'ismn_x', 'ismn_y', 'musicid_x', 'musicid_y', 'part_x', 'part_y', 'person_100_x', 'person_100_y', 'person_700_x', 'person_700_y', 'person_245c_x', 'person_245c_y', 'pubinit_x', 'pubinit_y', 'scale_x', 'scale_y', 'ttlfull_245_x', 'ttlfull_245_y', 'ttlfull_246_x', 'ttlfull_246_y', 'volumes_x', 'volumes_y']

similarity_metrics
 {'coordinate_E': LCSStr({'qval': 1, 'external': True}), 'coordinate_N': LCSStr({'qval': 1, 'external': True}), 'corporate_full': LCSStr({'qval': 1, 'external': True}), 'doi': Identity({'qval': 1, 'external': True}), 'edition': Jaccard({'qval': 1, 'as_set': False, 'external': True}), 'exactDate': Hamming({'qval': 1, 'test_func': <function Base._ident at 0x1101fac80>, 'truncate': False, 'external': True}), 'format_prefix': Identity({'qval': 1, 'external': True}), 'format_postfix': Jaccard({'qval': 2, 'as_set': False, 'external': True}), 'isbn': Identity({'qval': 1, 'external': True}), 'ismn': Identity({'qval': 1, 'external': True}), 'musicid': LCSStr({'qval': 1, 'external': True}), 'part': StrCmp95({'long_strings': False, 'external': True}), 'person_100': StrCmp95({'long_strings': False, 'external': True}), 'person_700': StrCmp95({'long_strings': False, 'external': True}), 'person_245c': Jaro({'qval': 1, 'long_tolerance': False, 'winklerize': False, 'external': True}), 'pubinit': Jaro({'qval': 1, 'long_tolerance': False, 'winklerize': False, 'external': True}), 'scale': Jaccard({'qval': 1, 'as_set': False, 'external': True}), 'ttlfull_245': Jaro({'qval': 1, 'long_tolerance': False, 'winklerize': False, 'external': True}), 'ttlfull_246': Jaro({'qval': 1, 'long_tolerance': False, 'winklerize': False, 'external': True}), 'volumes': StrCmp95({'long_strings': False, 'external': True})}

features
 ['coordinate_E_delta', 'coordinate_N_delta', 'corporate_full_delta', 'doi_delta', 'edition_delta', 'exactDate_delta', 'format_prefix_delta', 'format_postfix_delta', 'isbn_delta', 'ismn_delta', 'musicid_delta', 'part_delta', 'person_100_delta', 'person_700_delta', 'person_245c_delta', 'pubinit_delta', 'scale_delta', 'ttlfull_245_delta', 'ttlfull_246_delta', 'volumes_delta', 'duplicates']

In [80]:
# Binary intermediary metadata file
with open(os.path.join(path_goldstandard,
                       'columns_metadata.pkl'), 'wb') as dict_output_file:
    pk.dump(columns_metadata_dict, dict_output_file)